# ++ Carregar dados históricos da Bovespa em Dataframe para análise ++

In [1]:
import time
time.asctime( time.localtime(time.time()) )

'Fri May  3 10:30:41 2024'

In [2]:
import pandas as pd
from datetime import date, datetime, timedelta
# pd.__version__

In [3]:
from IPython.display import FileLink, FileLinks
FileLink('Resultados.ipynb')

C:\Users\F0435280\OneDrive - Banco do Brasil S.A\Área de Trabalho\Alexandre\StockManager-main\Resultados.ipynb

In [4]:
# Setando opção do Pandas para mostrar todas as linhas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Setando separador de milhar
pd.options.display.float_format = '{:,.2f}'.format

In [5]:
from pacote.functions import *

In [6]:
ano = time.localtime().tm_year
if time.localtime().tm_mon < 3:
    str_ano, str_nov_ant, str_dez_ant = f'A{ano}', f'M11{ano-1}', f'M12{ano-1}'
    LISTA_ARQUIVOS = [str_ano, str_nov_ant, str_dez_ant]
else:
    str_ano = f'A{ano}'
    LISTA_ARQUIVOS = [str_ano]

In [7]:
df = carrega_dados(LISTA_ARQUIVOS)

In [8]:
from IPython.display import Markdown, display

# Monday is 0 and Sunday is 6.
dia_semana  = datetime.today().weekday()
ajuste_dias = -3 if dia_semana == 0 else -1
dt_esperado_ult = (datetime.today() + timedelta(days=ajuste_dias)).strftime('%Y-%m-%d')
dt_max = str(df["dtPregao"].max()).split()[0]

if dt_esperado_ult == dt_max:
    font_color="alert-success"
    a = "Atualizado!"
else:
    font_color="alert-danger"
    a = "Desatualizado!!! Última data " + str(dt_max)
def printmd(string):
    display(Markdown(string))

In [9]:
#  df_n_dias | vol | col_pc | pc_min | avg_vr_fech
d25 = monta_tabela(monta_df_periodos(df, 25), 3000000, '1.0%', 22, 1)
d20 = monta_tabela(monta_df_periodos(df, 20), 3000000, '1.0%', 18, 1)
d15 = monta_tabela(monta_df_periodos(df, 15), 3000000, '1.0%', 14, 1)
d10 = monta_tabela(monta_df_periodos(df, 10), 3000000, '1.0%', 9, 1)
d05 = monta_tabela(monta_df_periodos(df, 5), 3000000, '1.0%', 5, 1)
d04 = monta_tabela(monta_df_periodos(df, 4), 3000000, '1.0%', 4, 1)
d03 = monta_tabela(monta_df_periodos(df, 3), 3000000, '1.0%', 3, 1)
merge1 = pd.merge(d25['cdAcao'], d20['cdAcao'], how ='inner', on =['cdAcao'])
merge2 = pd.merge(merge1, d15['cdAcao'], how ='inner', on =['cdAcao'])
merge3 = pd.merge(merge2, d10['cdAcao'], how ='inner', on =['cdAcao'])
merge_final = pd.merge(merge3, d05['cdAcao'], how ='inner', on =['cdAcao'])

In [10]:
printmd(f'**<div class={font_color}>Arquivo {a}</div>**')

**<div class=alert-success>Arquivo Atualizado!</div>**

### 25 dias, order by 1%

In [11]:
d25

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
149,BIOM3,24,23,23,22,20,18,"3,349,610.20",13.22,0.52
255,CLSA3,24,23,20,17,16,14,"14,525,139.20",6.67,0.13
98,AZEV4,23,22,22,21,21,19,"7,508,478.28",1.36,1.26

### 20 dias, order by 1%

In [12]:
d20

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
251,CLSA3,19,19,16,13,13,12,"16,117,899.60",7.02,0.10
96,AZEV4,18,18,18,18,18,16,"8,290,891.70",1.42,1.04
147,BIOM3,19,18,18,17,16,14,"3,110,083.70",14.05,0.54
385,ENJU3,20,18,15,14,14,14,"3,211,726.10",2.00,-0.14
637,MATD3,18,18,14,13,10,8,"3,796,937.65",5.62,-0.18

### 15 dias, order by 1%

In [13]:
d15

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
142,BIOM3,14,14,14,13,12,11,"3,993,029.80",15.25,0.39
244,CLSA3,14,14,11,9,9,9,"16,975,966.00",7.40,-0.01

### 10 dias, order by 1%

In [14]:
d10

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
140,BIOM3,10,10,10,9,9,9,"4,990,167.20",17.05,0.86
591,MATD3,10,10,7,7,5,4,"3,143,473.20",5.61,0.05
235,CLSA3,10,10,7,5,5,5,"18,895,770.90",7.59,-0.01
1007,ZAMP3,9,9,9,9,7,7,"3,287,463.20",3.74,0.12
360,ENJU3,10,9,9,8,8,8,"4,569,312.60",2.07,0.15
743,QUAL3,9,9,9,6,6,4,"9,724,615.40",1.60,0.02
278,CVCB3,10,9,9,6,5,5,"43,023,789.10",2.04,0.65
552,LJQQ3,9,9,5,4,3,3,"16,251,348.50",4.63,0.30
673,ODPV3,10,9,5,3,1,1,"17,192,876.50",11.37,0.01

### 5 dias, order by 1%

In [15]:
d05

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
332,ENJU3,5,5,5,5,5,5,"7,464,366.40",2.19,0.29
132,BIOM3,5,5,5,4,4,4,"5,281,615.80",17.71,0.57
459,IRBR3,5,5,5,3,2,2,"59,439,224.40",42.57,0.47
128,BHIA3,5,5,4,4,4,3,"111,131,569.60",6.60,3.55
215,CLSA3,5,5,4,3,3,3,"14,526,810.60",7.65,0.47
242,CSED3,5,5,4,3,3,2,"3,846,938.00",4.22,0.92
706,RADL3,5,5,2,2,1,0,"161,579,812.40",25.50,0.31
842,TIMS3,5,5,2,1,1,1,"93,258,549.60",17.65,0.24

In [16]:
d04

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
127,BIOM3,4,4,4,4,4,4,"6,070,777.50",18.19,0.60
322,ENJU3,4,4,4,4,4,4,"8,445,255.50",2.25,0.36
124,BHIA3,4,4,4,4,4,3,"131,263,078.00",6.87,4.66
756,SANB11,4,4,4,4,4,2,"144,970,094.00",28.52,0.65
758,SANB4,4,4,4,4,3,1,"3,052,627.25",15.14,0.28
757,SANB3,4,4,4,4,2,1,"3,135,331.25",13.32,0.20
543,MELI34,4,4,4,3,3,2,"41,537,359.14",63.43,-0.19
446,IRBR3,4,4,4,3,2,2,"63,127,927.75",42.90,0.56
697,RAPT4,4,4,4,3,1,0,"41,515,370.50",10.88,0.30
535,MATD3,4,4,3,3,3,3,"3,227,325.50",5.75,0.05
209,CLSA3,4,4,3,2,2,2,"13,356,212.75",7.76,0.51
236,CSED3,4,4,3,2,2,2,"4,523,851.00",4.24,1.15
73,ARZZ3,4,4,3,2,1,1,"118,003,741.00",52.10,0.59
113,BBDC4,4,4,3,2,0,0,"662,591,595.75",13.95,0.81
666,POMO4,4,4,3,2,0,0,"63,720,755.75",6.79,0.57
48,AESB3,4,4,3,1,1,1,"18,658,707.50",9.45,0.05
112,BBDC3,4,4,3,1,0,0,"85,542,249.25",12.34,0.57
692,RADL3,4,4,2,2,1,0,"150,485,031.25",25.64,0.46
826,TIMS3,4,4,2,1,1,1,"104,769,474.50",17.71,0.30

In [17]:
d03

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
120,BHIA3,3,3,3,3,3,3,"164,003,288.00",7.35,5.91
123,BIOM3,3,3,3,3,3,3,"7,427,509.00",18.92,0.31
313,ENJU3,3,3,3,3,3,3,"8,416,582.33",2.28,0.31
731,SANB11,3,3,3,3,3,1,"162,067,456.00",28.88,0.69
732,SANB3,3,3,3,3,2,1,"3,687,309.00",13.47,0.41
733,SANB4,3,3,3,3,2,1,"3,352,621.00",15.33,0.38
674,RAPT4,3,3,3,3,1,0,"46,820,739.33",10.85,0.31
527,MELI34,3,3,3,2,2,2,"43,824,495.31",64.41,-0.25
433,IRBR3,3,3,3,2,1,1,"65,768,485.00",43.08,0.51
519,MATD3,3,3,2,2,2,2,"3,912,161.67",5.77,-0.24
46,AESB3,3,3,2,1,1,1,"20,565,222.00",9.52,-0.00
201,CLSA3,3,3,2,1,1,1,"12,368,870.00",7.80,0.26
228,CSED3,3,3,2,1,1,1,"5,453,434.00",4.19,1.69
799,TIMS3,3,3,2,1,1,1,"117,471,425.00",17.78,0.26
71,ARZZ3,3,3,2,1,0,0,"123,694,944.67",52.12,0.31
110,BBDC4,3,3,2,1,0,0,"773,429,678.00",13.97,0.88
644,POMO4,3,3,2,1,0,0,"73,747,945.00",6.73,0.66
109,BBDC3,3,3,2,0,0,0,"101,066,691.00",12.38,0.49
102,BABA34,3,3,1,1,1,1,"3,186,856.42",14.25,0.05
669,RADL3,3,3,1,1,0,0,"158,343,302.33",25.65,0.35
575,NFLX34,3,3,0,0,0,0,"3,170,633.80",57.37,0.01

In [18]:
printmd(f'**<div class={font_color}>Status {a}</div>**')

**<div class=alert-success>Status Atualizado!</div>**

### Consulta ação específica

In [19]:
consulta_acao_formatada(df, "BIOM3")

,cdAcao,dtPregao,vrFech,vrVolume,vrMaxDia,vrMinDia,vrAbert,pcVar,pcMaxDia,pcMinDia,pcAbert,ic05,ic10,ic15,ic20,ic25,ic30
62228,BIOM3,2024-05-02,18.79,"5,369,086",21.20,17.90,20.09,-6.93%,5.00%,-11.34%,-0.50%,1,1,1,1,1,1
61496,BIOM3,2024-04-30,20.19,"11,689,741",20.19,17.15,17.77,13.62%,13.62%,-3.49%,0,1,1,1,1,1,1
60454,BIOM3,2024-04-29,17.77,"5,223,700",17.83,15.72,16.24,10.99%,11.37%,-1.81%,1.44%,1,1,1,1,1,1
59696,BIOM3,2024-04-26,16.01,"2,000,583",16.35,15.80,16.00,1.52%,3.68%,0.19%,1.46%,1,1,1,1,1,1
59048,BIOM3,2024-04-25,15.77,"2,124,969",16.63,15.50,16.39,-3.37%,1.90%,-5.02%,0.43%,1,1,1,,,
58591,BIOM3,2024-04-24,16.32,"3,874,045",17.10,15.69,16.00,2.00%,6.88%,-1.94%,0,1,1,1,1,1,1
57602,BIOM3,2024-04-23,16.00,"3,185,747",17.33,14.72,16.33,-2.20%,5.93%,-10.02%,-0.18%,1,1,1,1,1,1
57060,BIOM3,2024-04-22,16.36,"1,555,429",17.76,16.35,17.11,-4.33%,3.86%,-4.39%,0.06%,1,1,1,1,1,1
56459,BIOM3,2024-04-19,17.10,"7,983,832",17.85,16.29,16.60,5.43%,10.05%,0.43%,2.34%,1,1,1,1,1,1
55682,BIOM3,2024-04-18,16.22,"6,894,540",18.40,15.89,15.90,5.67%,19.87%,3.52%,3.58%,1,1,1,1,1,1
54844,BIOM3,2024-04-17,15.35,"5,423,898",16.29,11.00,11.00,38.16%,46.62%,-0.99%,-0.99%,1,1,1,1,1,1
54188,BIOM3,2024-04-16,11.11,"226,262",11.24,10.99,11.14,-1.24%,-0.09%,-2.31%,-0.98%,,,,,,
53365,BIOM3,2024-04-15,11.25,"2,424,055",11.30,10.00,10.22,8.28%,8.76%,-3.75%,-1.64%,1,1,1,1,1,1
52663,BIOM3,2024-04-12,10.39,"908,877",10.44,9.82,10.25,2.36%,2.86%,-3.25%,0.99%,1,1,1,1,1,
52127,BIOM3,2024-04-11,10.15,"1,010,683",10.41,10.04,10.17,-0.29%,2.26%,-1.38%,-0.10%,1,1,1,1,,
51094,BIOM3,2024-04-10,10.18,"225,094",10.44,10.06,10.35,-1.55%,0.97%,-2.71%,0.10%,1,,,,,
50530,BIOM3,2024-04-09,10.34,"326,463",10.98,10.15,10.89,-1.15%,4.97%,-2.96%,4.11%,1,1,1,1,1,1
49773,BIOM3,2024-04-08,10.46,"137,981",10.91,10.22,10.90,-1.32%,2.92%,-3.58%,2.83%,1,1,1,1,1,
48839,BIOM3,2024-04-05,10.60,"441,040",11.34,10.55,10.59,-0.93%,5.98%,-1.40%,-1.03%,1,1,1,1,1,1
48235,BIOM3,2024-04-04,10.70,"1,175,649",11.00,9.85,9.85,7.32%,10.33%,-1.20%,-1.20%,1,1,1,1,1,1
47603,BIOM3,2024-04-03,9.97,"558,480",10.44,9.53,10.12,-1.48%,3.16%,-5.83%,0,1,1,1,1,1,1
46617,BIOM3,2024-04-02,10.12,"841,348",11.50,10.07,10.10,2.12%,16.04%,1.61%,1.92%,1,1,1,1,1,1
45838,BIOM3,2024-04-01,9.91,"19,416,903",10.45,9.42,10.45,-2.84%,2.45%,-7.65%,2.45%,1,1,1,1,,
45151,BIOM3,2024-03-28,10.20,"597,317",10.20,8.63,9.12,10.27%,10.27%,-6.70%,-1.41%,1,1,1,1,1,1
44659,BIOM3,2024-03-27,9.25,"124,533",9.55,9.02,9.02,1.87%,5.18%,-0.66%,-0.66%,1,1,1,1,1,1
43865,BIOM3,2024-03-26,9.08,"68,792",9.08,8.77,9.00,2.25%,2.25%,-1.24%,1.35%,1,1,1,1,,
42827,BIOM3,2024-03-25,8.88,"197,128",9.47,8.58,9.47,-2.42%,4.07%,-5.71%,4.07%,1,1,1,1,1,1
42118,BIOM3,2024-03-22,9.10,"245,597",9.25,9.06,9.11,0.44%,2.10%,0,0.55%,1,1,1,1,,
41622,BIOM3,2024-03-21,9.06,"209,449",9.70,8.92,9.70,-5.82%,0.83%,-7.28%,0.83%,1,,,,,
40917,BIOM3,2024-03-20,9.62,"81,696",9.70,9.15,9.55,4.23%,5.09%,-0.87%,3.47%,1,1,1,1,1,1
40157,BIOM3,2024-03-19,9.23,"231,603",9.71,9.06,9.20,1.76%,7.06%,-0.11%,1.43%,1,1,1,1,1,1
39335,BIOM3,2024-03-18,9.07,"190,982",9.40,8.81,8.86,-0.44%,3.18%,-3.29%,-2.74%,1,1,1,1,1,1
38440,BIOM3,2024-03-15,9.11,"96,829",9.24,8.73,9.24,1.11%,2.55%,-3.11%,2.55%,1,1,1,1,1,
37780,BIOM3,2024-03-14,9.01,"109,317",9.17,9.00,9.02,0.56%,2.34%,0.45%,0.67%,1,1,1,1,,
36935,BIOM3,2024-03-13,8.96,"37,107",9.14,8.95,9.14,-0.44%,1.56%,-0.56%,1.56%,1,1,1,,,
36456,BIOM3,2024-03-12,9.00,"109,469",9.35,8.90,9.09,-0.99%,2.86%,-2.09%,0,1,1,1,1,1,
35759,BIOM3,2024-03-11,9.09,"109,306",9.09,8.70,8.96,2.13%,2.13%,-2.25%,0.67%,1,1,1,1,,
34711,BIOM3,2024-03-08,8.90,"90,510",8.95,8.38,8.87,1.60%,2.17%,-4.34%,1.26%,1,1,1,1,,
34093,BIOM3,2024-03-07,8.76,"305,357",9.33,8.00,9.07,-3.20%,3.09%,-11.60%,0.22%,1,1,1,1,1,1
33136,BIOM3,2024-03-06,9.05,"485,987",10.64,8.80,10.35,-10.84%,4.83%,-13.30%,1.97%,1,1,1,1,1,1
32359,BIOM3,2024-03-05,10.15,"920,719",10.80,9.62,10.60,-5.14%,0.93%,-10.09%,-0.93%,1,,,,,
31679,BIOM3,2024-03-04,10.70,"283,956",10.94,9.94,9.95,6.15%,8.53%,-1.39%,-1.29%,1,1,1,1,1,1
31186,BIOM3,2024-03-01,10.08,"219,970",10.12,9.58,9.72,1.92%,2.33%,-3.13%,-1.72%,1,1,1,1,,
30279,BIOM3,2024-02-29,9.89,"416,069",10.41,9.60,10.00,-0.10%,5.15%,-3.03%,1.01%,1,1,1,1,1,1
29479,BIOM3,2024-02-28,9.90,"650,957",10.70,9.90,10.60,-5.35%,2.29%,-5.35%,1.34%,1,1,1,1,,
28651,BIOM3,2024-02-27,10.46,"1,142,631",12.22,10.40,11.83,-9.59%,5.62%,-10.11%,2.25%,1,1,1,1,1,1
27779,BIOM3,2024-02-26,11.57,"3,600,922",12.22,9.61,9.94,14.90%,21.35%,-4.57%,-1.29%,1,1,1,1,1,1
27236,BIOM3,2024-02-23,10.07,"1,674,280",10.20,8.19,8.19,25.88%,27.50%,2.37%,2.37%,1,1,1,1,1,1
26338,BIOM3,2024-02-22,8.00,"1,150,887",8.90,7.64,8.21,0,11.25%,-4.50%,2.63%,1,1,1,1,1,1
25452,BIOM3,2024-02-21,8.00,"562,605",8.00,5.86,5.89,36.99%,36.99%,0.34%,0.86%,1,1,1,1,1,1
24701,BIOM3,2024-02-20,5.84,"120,285",5.89,5.48,5.65,4.47%,5.37%,-1.97%,1.07%,1,1,1,1,1,1
24275,BIOM3,2024-02-19,5.59,"111,876",5.79,5.27,5.39,4.29%,8.02%,-1.68%,0.56%,1,1,1,1,1,1
23239,BIOM3,2024-02-16,5.36,"190,441",5.44,5.34,5.44,-1.47%,0,-1.84%,0,,,,,,
22489,BIOM3,2024-02-15,5.44,"87,341",5.44,5.24,5.35,4.21%,4.21%,0.38%,2.49%,1,1,1,1,1,1
21777,BIOM3,2024-02-14,5.22,"23,743",5.40,5.20,5.28,-1.14%,2.27%,-1.52%,0,1,1,1,1,,
21009,BIOM3,2024-02-09,5.28,"7,463",5.39,5.25,5.27,1.15%,3.26%,0.57%,0.96%,1,1,1,1,1,1
20491,BIOM3,2024-02-08,5.22,"311,731",5.91,5.19,5.23,-1.32%,11.72%,-1.89%,-1.13%,1,1,1,1,1,1
19710,BIOM3,2024-02-07,5.29,"204,361",5.48,5.19,5.36,-0.38%,3.20%,-2.26%,0.94%,1,1,1,1,1,1
18988,BIOM3,2024-02-06,5.31,"557,479",5.39,5.10,5.11,2.71%,4.26%,-1.35%,-1.16%,1,1,1,1,1,1
18209,BIOM3,2024-02-05,5.17,"190,578",5.49,5.00,5.14,1.37%,7.65%,-1.96%,0.78%,1,1,1,1,1,1
17338,BIOM3,2024-02-02,5.10,"100,025",5.26,5.00,5.21,-1.16%,1.94%,-3.10%,0.97%,1,1,1,,,
16560,BIOM3,2024-02-01,5.16,"67,033",5.25,5.16,5.21,-1.15%,0.57%,-1.15%,-0.19%,1,,,,,
16059,BIOM3,2024-01-31,5.22,"51,397",5.49,5.13,5.20,-0.95%,4.17%,-2.66%,-1.33%,1,1,1,1,1,1
15015,BIOM3,2024-01-30,5.27,"145,178",5.29,5.05,5.24,1.74%,2.12%,-2.51%,1.16%,1,1,1,1,,
14356,BIOM3,2024-01-29,5.18,"169,330",5.55,5.17,5.38,-3.72%,3.16%,-3.90%,0,1,1,1,1,1,1
13600,BIOM3,2024-01-26,5.38,"21,064",5.59,5.38,5.42,-0.92%,2.95%,-0.92%,-0.18%,1,1,1,1,1,
12848,BIOM3,2024-01-25,5.43,"44,081",5.53,5.32,5.45,0.37%,2.22%,-1.66%,0.74%,1,1,1,1,,
12229,BIOM3,2024-01-24,5.41,"100,885",5.60,5.41,5.44,-1.10%,2.38%,-1.10%,-0.55%,1,1,1,1,,
11372,BIOM3,2024-01-23,5.47,"56,878",5.62,5.35,5.46,0.92%,3.69%,-1.29%,0.74%,1,1,1,1,1,1
10648,BIOM3,2024-01-22,5.42,"130,882",5.71,5.41,5.61,-1.09%,4.20%,-1.28%,2.37%,1,1,1,1,1,1
9837,BIOM3,2024-01-19,5.48,"34,362",5.73,5.48,5.65,-4.53%,-0.17%,-4.53%,-1.57%,,,,,,
8962,BIOM3,2024-01-18,5.74,"106,259",5.97,5.50,5.60,2.32%,6.42%,-1.96%,-0.18%,1,1,1,1,1,1
8430,BIOM3,2024-01-17,5.61,"102,431",5.61,5.35,5.39,1.81%,1.81%,-2.90%,-2.18%,1,1,1,,,
7630,BIOM3,2024-01-16,5.51,"94,434",5.75,5.38,5.50,0.18%,4.55%,-2.18%,0,1,1,1,1,1,1
7083,BIOM3,2024-01-15,5.50,"343,413",5.70,5.35,5.59,1.29%,4.97%,-1.47%,2.95%,1,1,1,1,1,1
6110,BIOM3,2024-01-12,5.43,"48,380",5.61,5.38,5.50,-1.09%,2.19%,-2.00%,0.18%,1,1,1,1,,
5502,BIOM3,2024-01-11,5.49,"166,294",5.64,5.47,5.63,-1.79%,0.89%,-2.15%,0.72%,1,,,,,
4718,BIOM3,2024-01-10,5.59,"44,711",5.89,5.59,5.76,-3.62%,1.55%,-3.62%,-0.69%,1,1,1,,,
4049,BIOM3,2024-01-09,5.80,"38,801",5.99,5.80,5.93,-2.03%,1.18%,-2.03%,0.17%,1,1,,,,
3239,BIOM3,2024-01-08,5.92,"4,694",5.95,5.81,5.81,1.89%,2.41%,0,0,1,1,1,1,,
2506,BIOM3,2024-01-05,5.81,"8,111",5.85,5.73,5.84,0.17%,0.86%,-1.21%,0.69%,1,,,,,
1774,BIOM3,2024-01-04,5.80,"7,540",5.80,5.80,5.80,0,0,0,0,,,,,,
1094,BIOM3,2024-01-03,5.80,"1,742",5.87,5.75,5.75,0.87%,2.09%,0,0,1,1,1,1,,
286,BIOM3,2024-01-02,5.75,"7,566",5.90,5.75,5.85,-89.21%,-88.93%,-89.21%,-89.02%,,,,,,

### Ações presentes em todos os períodos

In [20]:
merge_final

  cdAcao
0  BIOM3
1  CLSA3

In [21]:
verifica_mudanca_vol(df, data="max")

,cdAcao,dtPregao_x,vrVolume_x,pcVar_x,vrFech_x,vrVolume_y,pcVar_y,vrFech_y,dtPregao_y
7,A1MD34,2024-04-30,"2,931,229.99",0.12%,102.52,"22,126,011.24",-9.29%,93.00,2024-05-02
39,ALUP11,2024-04-30,"49,071,190.00",-0.39%,27.84,"212,904,827.00",3.12%,28.71,2024-05-02
57,AURE3,2024-04-30,"45,222,812.00",-0.09%,11.59,"233,333,696.00",-0.95%,11.48,2024-05-02
173,CSAN3,2024-04-30,"86,315,093.00",-1.23%,14.50,"374,679,209.00",-0.34%,14.45,2024-05-02
175,CSED3,2024-04-30,"2,473,546.00",-4.51%,4.02,"10,536,544.00",7.71%,4.33,2024-05-02
209,DMVF3,2024-04-30,"1,292,038.00",-3.52%,7.12,"4,674,243.00",9.69%,7.81,2024-05-02
297,HBSA3,2024-04-30,"49,934,202.00",0.46%,4.39,"268,556,996.00",3.42%,4.54,2024-05-02
320,ITLC34,2024-04-30,"1,018,044.59",-0.49%,26.46,"11,605,009.76",-2.00%,25.93,2024-05-02
355,LAVV3,2024-04-30,"6,954,255.00",-1.02%,8.71,"25,714,323.00",3.90%,9.05,2024-05-02
406,MTRE3,2024-04-30,"4,243,160.00",-4.60%,4.15,"20,089,489.00",-1.45%,4.09,2024-05-02
547,SBSP3,2024-04-30,"176,796,201.00",-1.87%,80.82,"548,570,491.00",-0.66%,80.29,2024-05-02
592,TGMA3,2024-04-30,"7,116,245.00",-0.21%,24.22,"24,765,003.00",1.53%,24.59,2024-05-02

### ======================================== TESTES ========================================

In [22]:
bla

NameError: name 'bla' is not defined

### Comparar Maiores Lucros

In [ ]:
df_original = df.copy()

In [ ]:
df = df_original.copy()

In [ ]:
df_teste = df_original.copy()

In [ ]:
dt_max = df_teste["dtPregao"].max()
df_teste = df_teste.loc[df_teste["dtPregao"] != dt_max]

In [ ]:
d05 = monta_tabela(monta_df_periodos(df_teste, 5), 3000000, '1.0%', 5, 2)
d05

In [ ]:
consulta_acao(df_teste, "RAIZ4")

### ----------------------------------------------------------------------------

In [ ]:
df_1 = monta_lucro_periodo(df, 10, 0, True)
df_2 = monta_lucro_periodo(df, 10, 1, True)

In [ ]:
df_final = df_1.copy()
df_final['posicao ant'], df_final['mudanca'] = [
    df_2['posicao']
    , df_2['posicao'] - df_1['posicao']
]
df_final['posicao ant'] = df_final['posicao ant'].fillna(0).astype('int')
df_final['mudanca'] = df_final['mudanca'].fillna(0).astype('int')

In [ ]:
df_final.sort_values(["mudanca"], ascending=False)

In [ ]:
df_final.sort_values(["mudanca"], ascending=False).loc[df_final['posicao ant'] <= 10]

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
# dfDtMin = df5d.loc[(df["dtPregao"] == dt_min_5d) & (df["cdAcao"] == 'PTBL3')]

df5d  = busca_periodos(df, 5)
df25d = busca_periodos(df, 25)

dt_min_5d  = df5d["dtPregao"].min()
dt_min_25d = df25d["dtPregao"].min()
dt_max     = df5d["dtPregao"].max()
dfDtMin5d  = df5d.loc[(df5d["dtPregao"] == dt_min_5d)].set_index(["cdAcao"])
dfDtMin25d = df25d.loc[(df25d["dtPregao"] == dt_min_25d)].set_index(["cdAcao"])
dfDtMax    = df5d.loc[(df5d["dtPregao"] == dt_max)].set_index(["cdAcao"])
dfAvgVol5d  = busca_media(df5d, "vrVolume", "vol").set_index(["cdAcao"])
dfAvgVol25d = busca_media(df25d, "vrVolume", "vol").set_index(["cdAcao"])

In [ ]:
 dfPc5d = pd.DataFrame({
         "dtInicio":dfDtMin5d["dtPregao"] ,"dtFim":dfDtMax["dtPregao"]
        ,"vrInicio":dfDtMin5d["vrFech"]   ,"vrFim":dfDtMax["vrFech"]
        ,"pcPeriodo":((dfDtMax["vrFech"] - dfDtMin5d["vrFech"]) / dfDtMin5d["vrFech"]) * 100
        ,"avgVol":dfAvgVol5d["vol"]
    })

In [ ]:
 dfPc25d = pd.DataFrame({
         "dtInicio":dfDtMin25d["dtPregao"] ,"dtFim":dfDtMax["dtPregao"]
        ,"vrInicio":dfDtMin25d["vrFech"]   ,"vrFim":dfDtMax["vrFech"]
        ,"pcPeriodo":((dfDtMax["vrFech"] - dfDtMin25d["vrFech"]) / dfDtMin25d["vrFech"]) * 100
        ,"avgVol":dfAvgVol25d["vol"]
    })

In [ ]:
# dfPc25d.sort_values(["pcPeriodo"], ascending=False).loc[(dfPc25d["avgVol"] > 6000000)]

In [ ]:
# dfPc5d.sort_values(["pcPeriodo"], ascending=False).loc[(dfPc5d["avgVol"] > 6000000)]

In [ ]:
# dfPc25d['pcPeriodo']

In [ ]:
df_temp = monta_lucro_periodo(df, 25, 0, True)
# monta_lucro_periodo(df, 25, 0)

In [ ]:
# df_temp

In [ ]:
df_n_dias = busca_periodos(df, 26)

dias_ant = 2
i = 0
while i <= dias_ant:
    dt_max  = df_n_dias["dtPregao"].max()
    df_n_dias = df_n_dias.loc[df_n_dias["dtPregao"] != dt_max]
    i += 1
    
dt_max

In [ ]:
### 25 dias, Order by 0.5% # df05.loc[(df05["AvgVol"] > 6000000) & (df05["0.5%"] >= 23) & (df05["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)
### 20 dias, Order by 0.5% # df05_20d.loc[(df05_20d["AvgVol"] > 6000000) & (df05_20d["0.5%"] >= 19) & (df05_20d["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)
### 15 dias, Order by 0.5% # df05_15d.loc[(df05_15d["AvgVol"] > 6000000) & (df05_15d["0.5%"] >= 15) & (df05_15d["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)

## Definindo valores para compra

In [ ]:
# Valor disponível para cmp / 1000
# Valor da ação no leilão
vr_corretagem = 9.8
emolumentos = 0.000325
acao = 'LIGT3'
vr_disp = 110
vr_acao_leilao = 1148 / 100
vr_qtd = round((vr_disp * 1000) / (vr_acao_leilao * 100)) * 100

In [ ]:
vr_cmp = round(vr_acao_leilao * 1.014, 2)

vr_tot_cmp = vr_acao_leilao * vr_qtd
corret_cmp = vr_corretagem + (vr_tot_cmp * emolumentos)
vr_tot_liq_cmp = vr_tot_cmp + corret_cmp

vr_acao_vnd_10 = float('{0:.2f}'.format(vr_acao_leilao * 1.0108 + 0.01))
vr_tot_vnd_10 = vr_acao_vnd_10 * vr_qtd
corret_vnd_10 = vr_corretagem + (vr_tot_vnd_10 * emolumentos)
vr_tot_liq_vnd_10 = vr_tot_vnd_10 - corret_vnd_10

vr_acao_vnd_15 = float('{0:.2f}'.format(vr_acao_leilao * 1.0158 + 0.01))
vr_tot_vnd_15 = vr_acao_vnd_15 * vr_qtd
corret_vnd_15 = vr_corretagem + (vr_tot_vnd_15 * emolumentos)
vr_tot_liq_vnd_15 = vr_tot_vnd_15 - corret_vnd_15

In [ ]:
d = {'Compra':     ['Quantidade', 'Valor Leilão', 'Total', 'Total líquido', 'Corretagem Compra'],
     ' ':          [vr_qtd, vr_acao_leilao, vr_tot_cmp, vr_tot_liq_cmp, corret_cmp],
     'Venda 1,0%': ['Valor compra', 'Valor', 'Total', 'Total líquido', 'Corretagem Venda'],
     '1,0%':       [vr_cmp, vr_acao_vnd_10, vr_tot_vnd_10, vr_tot_liq_vnd_10, corret_vnd_10],
     'Venda 1,5%': [' ', 'Valor', 'Total', 'Total líquido', 'Corretagem Venda'],
     '1,5%':       [' ', vr_acao_vnd_15, vr_tot_vnd_15, vr_tot_liq_vnd_15, corret_vnd_15]
    }
df_calc = pd.DataFrame(data=d)
df_calc

In [ ]:
d2 = {'Index':      ['Quantidade', 'Valor', 'Total', 'Total líquido', 'Corretagem'],
      'Compra':     [vr_qtd, vr_cmp, vr_tot_cmp, vr_tot_liq_cmp, corret_cmp],
      'Venda 1.0%': [vr_qtd, vr_acao_vnd_10, vr_tot_vnd_10, vr_tot_liq_vnd_10, corret_vnd_10],
      'Venda 1.5%': [vr_qtd, vr_acao_vnd_15, vr_tot_vnd_15, vr_tot_liq_vnd_15, corret_vnd_15]
     }
df_calc2 = pd.DataFrame(data=d2)
df_calc2.set_index('Index')
df_calc2

In [ ]:
time.asctime( time.localtime(time.time()) )