# ++ Carregar dados históricos da Bovespa em Dataframe para análise ++

In [1]:
import time
time.asctime( time.localtime(time.time()) )

'Wed Apr 17 11:35:43 2024'

In [2]:
import pandas as pd
from datetime import date, datetime, timedelta
# pd.__version__

In [3]:
from IPython.display import FileLink, FileLinks
FileLink('Resultados.ipynb')

C:\Users\F0435280\OneDrive - Banco do Brasil S.A\Área de Trabalho\Alexandre\StockManager-main\Resultados.ipynb

In [4]:
# Setando opção do Pandas para mostrar todas as linhas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Setando separador de milhar
pd.options.display.float_format = '{:,.2f}'.format

In [5]:
from pacote.functions import *

In [6]:
ano = time.localtime().tm_year
if time.localtime().tm_mon < 3:
    str_ano, str_nov_ant, str_dez_ant = f'A{ano}', f'M11{ano-1}', f'M12{ano-1}'
    LISTA_ARQUIVOS = [str_ano, str_nov_ant, str_dez_ant]
else:
    str_ano = f'A{ano}'
    LISTA_ARQUIVOS = [str_ano]

In [7]:
df = carrega_dados(LISTA_ARQUIVOS)

In [8]:
from IPython.display import Markdown, display

# Monday is 0 and Sunday is 6.
dia_semana  = datetime.today().weekday()
ajuste_dias = -3 if dia_semana == 0 else -1
dt_esperado_ult = (datetime.today() + timedelta(days=ajuste_dias)).strftime('%Y-%m-%d')
dt_max = str(df["dtPregao"].max()).split()[0]

if dt_esperado_ult == dt_max:
    font_color="alert-success"
    a = "Atualizado!"
else:
    font_color="alert-danger"
    a = "Desatualizado!!! Última data " + str(dt_max)
def printmd(string):
    display(Markdown(string))

In [9]:
#  df_n_dias | vol | col_pc | pc_min | avg_vr_fech
d25 = monta_tabela(monta_df_periodos(df, 25), 3000000, '1.0%', 22, 2)
d20 = monta_tabela(monta_df_periodos(df, 20), 3000000, '1.0%', 18, 2)
d15 = monta_tabela(monta_df_periodos(df, 15), 3000000, '1.0%', 14, 2)
d10 = monta_tabela(monta_df_periodos(df, 10), 3000000, '1.0%', 9, 2)
d05 = monta_tabela(monta_df_periodos(df, 5), 3000000, '1.0%', 5, 1)
d04 = monta_tabela(monta_df_periodos(df, 4), 3000000, '1.0%', 4, 1)
d03 = monta_tabela(monta_df_periodos(df, 3), 3000000, '1.0%', 3, 1)
merge1 = pd.merge(d25['cdAcao'], d20['cdAcao'], how ='inner', on =['cdAcao'])
merge2 = pd.merge(merge1, d15['cdAcao'], how ='inner', on =['cdAcao'])
merge3 = pd.merge(merge2, d10['cdAcao'], how ='inner', on =['cdAcao'])
merge_final = pd.merge(merge3, d05['cdAcao'], how ='inner', on =['cdAcao'])

In [10]:
def filtra_data(df, data="max"):
    # formato da data: 'aaaa-mm-dd'
    dt_max = df["dtPregao"].max() if data == "max" else datetime.strptime(data, '%Y-%m-%d')
    df_max_dt = df.loc[df["dtPregao"] == dt_max]
    return df_max_dt

In [33]:
def verifica_mudanca_vol(data="max"):
    # data = "2024-04-04"
    df_max_dt = filtra_data(df, data)

    df_2max_dt = df.copy()
    df_2max_dt = df_2max_dt.loc[df_2max_dt["dtPregao"] < df_max_dt.iloc[0, 1]]
    df_2max_dt = filtra_data(df_2max_dt)

    df_max_dt = df_max_dt[["cdAcao", "vrVolume", "pcVar", "dtPregao","vrFech"]]
    df_2max_dt = df_2max_dt[["cdAcao", "vrVolume", "pcVar", "dtPregao","vrFech"]]

    merge_max = pd.merge(df_2max_dt[['cdAcao','dtPregao','vrVolume','pcVar','vrFech']], df_max_dt[['cdAcao','vrVolume','pcVar','vrFech','dtPregao']], how ='inner', on =['cdAcao'])
    merge_max = merge_max.loc[(merge_max["vrVolume_x"] > 1000000) & 
                              (merge_max["vrVolume_y"] > merge_max["vrVolume_x"] * 3)]
    
    merge_max['pcVar_x'] = pd.to_numeric(merge_max['pcVar_x'], errors='coerce')
    merge_max['pcVar_x'] = merge_max['pcVar_x'].apply(lambda x: x*0.01)
    merge_max['pcVar_x'] = merge_max['pcVar_x'].map('{:.2%}'.format)
    merge_max['pcVar_y'] = pd.to_numeric(merge_max['pcVar_y'], errors='coerce')
    merge_max['pcVar_y'] = merge_max['pcVar_y'].apply(lambda x: x*0.01)
    merge_max['pcVar_y'] = merge_max['pcVar_y'].map('{:.2%}'.format)
    
    return merge_max

In [12]:
printmd(f'**<div class={font_color}>Arquivo {a}</div>**')

**<div class=alert-success>Arquivo Atualizado!</div>**

### 25 dias, order by 1%

In [13]:
d25

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
264,CLSA3,24,23,22,21,18,16,"8,549,449.76",5.22,0.14

### 20 dias, order by 1%

In [14]:
d20

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
257,CLSA3,19,18,18,17,15,13,"10,013,025.25",5.54,0.11

### 15 dias, order by 1%

In [15]:
d15

Empty DataFrame
Columns: [cdAcao, 0.5%, 1.0%, 1.5%, 2.0%, 2.5%, 3.0%, AvgVol, AvgVrFech, AvgPcAbert]
Index: []

### 10 dias, order by 1%

In [16]:
d10

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
212,CBAV3,9,9,8,8,7,7,"28,128,936.80",4.69,0.39
717,PETR4,9,9,5,3,3,0,"2,057,426,156.40",38.84,0.12

### 5 dias, order by 1%

In [17]:
d05

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
81,AZEV4,5,5,5,5,5,5,"14,717,639.40",1.66,-0.53
395,GOGL34,5,5,4,2,1,0,"15,254,186.80",67.23,0.39
601,NFLX34,5,5,3,3,1,1,"4,220,798.04",63.74,0.38

In [18]:
d04

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
81,AZEV4,4,4,4,4,4,4,"14,134,514.25",1.65,-0.67
188,CBAV3,4,4,4,4,3,3,"24,842,830.75",4.83,0.58
35,AAPL34,4,4,4,2,2,1,"12,584,077.56",44.72,0.40
535,MELI34,4,4,3,3,1,1,"56,616,147.64",62.19,0.14
584,NFLX34,4,4,3,3,1,1,"4,717,585.69",63.97,0.53
386,GOGL34,4,4,3,2,1,0,"11,566,690.39",67.51,0.49

In [19]:
d03

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
77,AZEV4,3,3,3,3,3,3,"12,243,929.00",1.61,-0.10
182,CBAV3,3,3,3,3,2,2,"28,574,531.33",4.82,0.70
32,AAPL34,3,3,3,1,1,0,"12,331,228.93",44.81,0.37
519,MELI34,3,3,2,2,1,1,"65,503,571.89",61.54,0.61
567,NFLX34,3,3,2,2,1,1,"4,203,452.33",63.90,0.83
373,GOGL34,3,3,2,1,0,0,"12,741,472.62",67.40,0.53
620,PETR3,3,3,2,0,0,0,"471,103,958.00",40.76,0.02
364,GFSA3,3,3,1,1,1,1,"14,939,892.67",5.97,-0.12
621,PETR4,3,3,1,0,0,0,"1,383,585,445.33",39.25,0.10

In [20]:
printmd(f'**<div class={font_color}>Status {a}</div>**')

**<div class=alert-success>Status Atualizado!</div>**

### Consulta ação específica

In [36]:
acao = consulta_acao(df, "CLSA3")

acao['pcVar'] = pd.to_numeric(acao['pcVar'], errors='coerce')
acao['pcVar'] = acao['pcVar'].apply(lambda x: x*0.01)
acao['pcVar'] = acao['pcVar'].map('{:.2%}'.format)
acao['pcMaxDia'] = pd.to_numeric(acao['pcMaxDia'], errors='coerce')
acao['pcMaxDia'] = acao['pcMaxDia'].apply(lambda x: x*0.01)
acao['pcMaxDia'] = acao['pcMaxDia'].map('{:.2%}'.format)
acao['pcMinDia'] = pd.to_numeric(acao['pcMinDia'], errors='coerce')
acao['pcMinDia'] = acao['pcMinDia'].apply(lambda x: x*0.01)
acao['pcMinDia'] = acao['pcMinDia'].map('{:.2%}'.format)
acao['pcAbert'] = pd.to_numeric(acao['pcAbert'], errors='coerce')
acao['pcAbert'] = acao['pcAbert'].apply(lambda x: x*0.01)
acao['pcAbert'] = acao['pcAbert'].map('{:.2%}'.format)
acao

,cdAcao,dtPregao,vrFech,vrVolume,vrMaxDia,vrMinDia,vrAbert,pcVar,pcMaxDia,pcMinDia,pcAbert,ic05,ic10,ic15,ic20,ic25,ic30
54347,CLSA3,2024-04-16,7.27,"13,896,009",7.39,6.77,6.96,3.86%,5.57%,-3.29%,-0.57%,1,1,1,1,1,1
53510,CLSA3,2024-04-15,7.00,"16,000,688",7.05,6.66,6.78,3.86%,4.60%,-1.19%,0.59%,1,1,1,1,1,1
52591,CLSA3,2024-04-12,6.74,"11,322,486",6.87,6.47,6.87,-1.89%,nan%,-5.82%,nan%,,,,,,
51838,CLSA3,2024-04-11,6.87,"10,312,794",7.00,6.19,6.33,8.36%,10.41%,-2.37%,-0.16%,1,1,1,1,1,1
51075,CLSA3,2024-04-10,6.34,"7,905,497",6.54,6.17,6.45,-0.47%,2.67%,-3.14%,1.26%,1,1,1,1,1,
50433,CLSA3,2024-04-09,6.37,"11,977,744",6.37,5.67,5.67,12.35%,12.35%,nan%,nan%,1,1,1,1,1,1
49760,CLSA3,2024-04-08,5.67,"16,272,935",6.01,5.61,6.01,-3.90%,1.86%,-4.92%,1.86%,1,1,1,,,
48885,CLSA3,2024-04-05,5.90,"24,257,503",6.21,5.08,5.08,15.01%,21.05%,-0.97%,-0.97%,1,1,1,1,1,1
48366,CLSA3,2024-04-04,5.13,"7,304,823",5.34,5.04,5.10,0.59%,4.71%,-1.18%,nan%,1,1,1,1,1,1
47368,CLSA3,2024-04-03,5.10,"10,038,203",5.52,5.04,5.51,-6.93%,0.73%,-8.03%,0.55%,1,,,,,
46764,CLSA3,2024-04-02,5.48,"9,368,031",5.53,5.22,5.41,1.67%,2.60%,-3.15%,0.37%,1,1,1,1,1,
45928,CLSA3,2024-04-01,5.39,"9,865,222",5.39,5.18,5.21,3.85%,3.85%,-0.19%,0.39%,1,1,1,1,1,1
45127,CLSA3,2024-03-28,5.19,"4,332,250",5.20,4.90,5.09,1.96%,2.16%,-3.73%,nan%,1,1,1,1,,
44661,CLSA3,2024-03-27,5.09,"7,166,782",5.10,4.67,4.72,7.84%,8.05%,-1.06%,nan%,1,1,1,1,1,1
43807,CLSA3,2024-03-26,4.72,"6,064,936",4.94,4.60,4.83,-2.28%,2.28%,-4.76%,nan%,1,1,1,1,,
42897,CLSA3,2024-03-25,4.83,"14,573,775",5.09,4.53,4.87,-0.82%,4.52%,-6.98%,nan%,1,1,1,1,1,1
42319,CLSA3,2024-03-22,4.87,"5,505,945",4.91,4.45,4.51,6.56%,7.44%,-2.63%,-1.31%,1,1,1,1,1,1
41444,CLSA3,2024-03-21,4.57,"6,737,249",4.57,4.21,4.35,5.06%,5.06%,-3.22%,nan%,1,1,1,1,1,1
40847,CLSA3,2024-03-20,4.35,"5,676,077",4.37,3.96,4.00,8.48%,8.98%,-1.25%,-0.25%,1,1,1,1,1,1
40136,CLSA3,2024-03-19,4.01,"1,681,556",4.02,3.80,3.91,3.08%,3.34%,-2.31%,0.51%,1,1,1,1,1,1
39267,CLSA3,2024-03-18,3.89,"3,144,525",4.04,3.83,4.00,-1.77%,2.02%,-3.28%,1.01%,1,1,1,1,,
38622,CLSA3,2024-03-15,3.96,"2,105,487",4.06,3.90,3.95,1.02%,3.57%,-0.51%,0.77%,1,1,1,1,1,1
37927,CLSA3,2024-03-14,3.92,"2,143,046",4.12,3.90,4.06,-3.45%,1.48%,-3.94%,nan%,1,1,,,,
37131,CLSA3,2024-03-13,4.06,"2,936,873",4.17,3.80,3.82,4.64%,7.47%,-2.06%,-1.55%,1,1,1,1,1,1
36384,CLSA3,2024-03-12,3.88,"3,145,808",3.90,3.63,3.68,6.59%,7.14%,-0.27%,1.10%,1,1,1,1,1,1
35554,CLSA3,2024-03-11,3.64,"1,603,947",3.73,3.57,3.72,-1.89%,0.54%,-3.77%,0.27%,1,,,,,
34771,CLSA3,2024-03-08,3.71,"2,560,999",3.72,3.48,3.55,4.51%,4.79%,-1.97%,nan%,1,1,1,1,1,1
34058,CLSA3,2024-03-07,3.55,"2,185,619",3.66,3.51,3.64,-2.20%,0.83%,-3.31%,0.28%,1,,,,,
33166,CLSA3,2024-03-06,3.63,"3,215,742",3.72,3.49,3.54,2.83%,5.38%,-1.13%,0.28%,1,1,1,1,1,1
32534,CLSA3,2024-03-05,3.53,"2,197,104",3.63,3.53,3.60,-1.94%,0.83%,-1.94%,nan%,1,,,,,
31659,CLSA3,2024-03-04,3.60,"3,923,862",3.75,3.53,3.68,-2.17%,1.90%,-4.08%,nan%,1,1,1,,,
30997,CLSA3,2024-03-01,3.68,"3,335,816",3.75,3.57,3.65,0.82%,2.74%,-2.19%,nan%,1,1,1,1,1,
30219,CLSA3,2024-02-29,3.65,"5,331,767",3.75,3.42,3.50,3.11%,5.93%,-3.39%,-1.13%,1,1,1,1,1,1
29361,CLSA3,2024-02-28,3.54,"10,865,786",3.85,3.40,3.85,-8.05%,nan%,-11.69%,nan%,,,,,,
28542,CLSA3,2024-02-27,3.85,"5,202,098",4.07,3.78,3.90,-1.53%,4.09%,-3.32%,-0.26%,1,1,1,1,1,1
27871,CLSA3,2024-02-26,3.91,"6,623,447",4.16,3.91,4.08,-2.25%,4.00%,-2.25%,2.00%,1,1,1,1,1,1
27223,CLSA3,2024-02-23,4.00,"9,811,183",4.02,3.83,3.93,1.27%,1.77%,-3.04%,-0.51%,1,1,1,,,
26474,CLSA3,2024-02-22,3.95,"5,129,902",3.97,3.75,3.97,1.02%,1.53%,-4.09%,1.53%,1,1,1,,,
25480,CLSA3,2024-02-21,3.91,"3,925,855",4.07,3.84,4.02,-2.25%,1.75%,-4.00%,0.50%,1,1,1,,,
24663,CLSA3,2024-02-20,4.00,"5,115,437",4.03,3.81,3.82,3.09%,3.87%,-1.80%,-1.55%,1,1,1,1,1,1
24030,CLSA3,2024-02-19,3.88,"906,425",3.94,3.83,3.89,-0.51%,1.03%,-1.79%,-0.26%,1,1,,,,
23396,CLSA3,2024-02-16,3.90,"2,306,875",4.02,3.89,4.00,-1.76%,1.26%,-2.02%,0.76%,1,1,,,,
22792,CLSA3,2024-02-15,3.97,"2,346,892",4.00,3.80,3.80,3.12%,3.90%,-1.30%,-1.30%,1,1,1,1,1,1
21992,CLSA3,2024-02-14,3.85,"762,185",3.94,3.72,3.94,0.26%,2.60%,-3.12%,2.60%,1,1,1,1,1,
21100,CLSA3,2024-02-09,3.84,"2,315,520",4.00,3.83,3.95,-2.29%,1.78%,-2.54%,0.51%,1,1,1,,,
20500,CLSA3,2024-02-08,3.93,"2,895,602",4.09,3.90,3.96,-0.25%,3.81%,-1.02%,0.51%,1,1,1,1,1,1
19775,CLSA3,2024-02-07,3.94,"2,931,831",3.95,3.80,3.82,1.29%,1.54%,-2.31%,-1.80%,1,1,1,,,
19123,CLSA3,2024-02-06,3.89,"8,204,920",4.00,3.67,3.75,3.46%,6.38%,-2.39%,-0.27%,1,1,1,1,1,1
18327,CLSA3,2024-02-05,3.76,"8,443,832",3.77,3.25,3.33,11.90%,12.20%,-3.27%,-0.89%,1,1,1,1,1,1
17553,CLSA3,2024-02-02,3.36,"6,055,541",3.36,2.96,3.00,11.26%,11.26%,-1.99%,-0.66%,1,1,1,1,1,1
16703,CLSA3,2024-02-01,3.02,"3,685,590",3.24,3.01,3.24,-5.03%,1.89%,-5.35%,1.89%,1,1,1,,,
15846,CLSA3,2024-01-31,3.18,"3,601,333",3.28,3.07,3.09,3.58%,6.84%,nan%,0.65%,1,1,1,1,1,1
15219,CLSA3,2024-01-30,3.07,"3,137,153",3.19,3.07,3.10,-1.29%,2.57%,-1.29%,-0.32%,1,1,1,1,1,
14278,CLSA3,2024-01-29,3.11,"2,017,859",3.18,3.06,3.12,0.32%,2.58%,-1.29%,0.65%,1,1,1,1,1,
13541,CLSA3,2024-01-26,3.10,"2,879,742",3.23,3.10,3.23,-3.43%,0.62%,-3.43%,0.62%,1,,,,,
12793,CLSA3,2024-01-25,3.21,"2,854,436",3.30,3.21,3.28,-1.83%,0.92%,-1.83%,0.31%,1,,,,,
12201,CLSA3,2024-01-24,3.27,"2,617,053",3.28,3.08,3.15,5.83%,6.15%,-0.32%,1.94%,1,1,1,1,1,1
11538,CLSA3,2024-01-23,3.09,"2,149,484",3.19,3.09,3.14,nan%,3.24%,nan%,1.62%,1,1,1,1,1,1
10568,CLSA3,2024-01-22,3.09,"5,825,674",3.28,3.07,3.20,-1.90%,4.13%,-2.54%,1.59%,1,1,1,1,1,1
9924,CLSA3,2024-01-19,3.15,"1,229,634",3.21,3.07,3.12,1.61%,3.55%,-0.97%,0.65%,1,1,1,1,1,1
9173,CLSA3,2024-01-18,3.10,"3,561,687",3.12,2.95,3.04,1.64%,2.30%,-3.28%,-0.33%,1,1,1,1,,
8221,CLSA3,2024-01-17,3.05,"5,965,880",3.32,3.05,3.31,-9.76%,-1.78%,-9.76%,-2.07%,,,,,,
7647,CLSA3,2024-01-16,3.38,"4,450,342",3.58,3.31,3.58,-5.85%,-0.28%,-7.80%,-0.28%,,,,,,
7078,CLSA3,2024-01-15,3.59,"2,042,415",3.82,3.59,3.82,-3.75%,2.41%,-3.75%,2.41%,1,1,1,1,,
6151,CLSA3,2024-01-12,3.73,"5,222,315",3.91,3.73,3.74,1.08%,5.96%,1.08%,1.36%,1,1,1,1,1,1
5559,CLSA3,2024-01-11,3.69,"2,359,257",3.76,3.62,3.74,-0.27%,1.62%,-2.16%,1.08%,1,1,1,,,
4752,CLSA3,2024-01-10,3.70,"6,209,188",3.99,3.69,3.86,-3.90%,3.64%,-4.16%,0.26%,1,1,1,1,1,1
4017,CLSA3,2024-01-09,3.85,"6,656,474",3.88,3.75,3.80,1.32%,2.11%,-1.32%,nan%,1,1,1,1,,
3367,CLSA3,2024-01-08,3.80,"4,380,130",3.88,3.50,3.57,7.65%,9.92%,-0.85%,1.13%,1,1,1,1,1,1
2589,CLSA3,2024-01-05,3.53,"1,511,110",3.60,3.43,3.46,1.15%,3.15%,-1.72%,-0.86%,1,1,1,1,1,1
1901,CLSA3,2024-01-04,3.49,"1,436,751",3.63,3.46,3.60,-1.69%,2.25%,-2.54%,1.41%,1,1,1,1,,
838,CLSA3,2024-01-03,3.55,"3,335,134",3.59,3.39,3.59,nan%,1.13%,-4.51%,1.13%,1,1,,,,
224,CLSA3,2024-01-02,3.55,"4,465,250",3.81,3.50,3.72,4.41%,12.06%,2.94%,9.41%,1,1,1,1,1,1

### Ações presentes em todos os períodos

In [22]:
merge_final

Empty DataFrame
Columns: [cdAcao]
Index: []

In [35]:
verifica_mudanca_vol()

,cdAcao,dtPregao_x,vrVolume_x,pcVar_x,vrFech_x,vrVolume_y,pcVar_y,vrFech_y,dtPregao_y
98,BMOB3,2024-04-15,"6,191,099.00",-2.64%,12.56,"24,480,782.00",0.00%,12.56,2024-04-16

### ======================================== TESTES ========================================

In [24]:
bla

NameError: name 'bla' is not defined

### Comparar Maiores Lucros

In [ ]:
df_original = df.copy()

In [ ]:
df = df_original.copy()

In [ ]:
df_teste = df_original.copy()

In [ ]:
dt_max = df_teste["dtPregao"].max()
df_teste = df_teste.loc[df_teste["dtPregao"] != dt_max]

In [ ]:
d05 = monta_tabela(monta_df_periodos(df_teste, 5), 3000000, '1.0%', 5, 2)
d05

In [ ]:
consulta_acao(df_teste, "RAIZ4")

### ----------------------------------------------------------------------------

In [ ]:
df_1 = monta_lucro_periodo(df, 10, 0, True)
df_2 = monta_lucro_periodo(df, 10, 1, True)

In [ ]:
df_final = df_1.copy()
df_final['posicao ant'], df_final['mudanca'] = [
    df_2['posicao']
    , df_2['posicao'] - df_1['posicao']
]
df_final['posicao ant'] = df_final['posicao ant'].fillna(0).astype('int')
df_final['mudanca'] = df_final['mudanca'].fillna(0).astype('int')

In [ ]:
df_final.sort_values(["mudanca"], ascending=False)

In [ ]:
df_final.sort_values(["mudanca"], ascending=False).loc[df_final['posicao ant'] <= 10]

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
# dfDtMin = df5d.loc[(df["dtPregao"] == dt_min_5d) & (df["cdAcao"] == 'PTBL3')]

df5d  = busca_periodos(df, 5)
df25d = busca_periodos(df, 25)

dt_min_5d  = df5d["dtPregao"].min()
dt_min_25d = df25d["dtPregao"].min()
dt_max     = df5d["dtPregao"].max()
dfDtMin5d  = df5d.loc[(df5d["dtPregao"] == dt_min_5d)].set_index(["cdAcao"])
dfDtMin25d = df25d.loc[(df25d["dtPregao"] == dt_min_25d)].set_index(["cdAcao"])
dfDtMax    = df5d.loc[(df5d["dtPregao"] == dt_max)].set_index(["cdAcao"])
dfAvgVol5d  = busca_media(df5d, "vrVolume", "vol").set_index(["cdAcao"])
dfAvgVol25d = busca_media(df25d, "vrVolume", "vol").set_index(["cdAcao"])

In [ ]:
 dfPc5d = pd.DataFrame({
         "dtInicio":dfDtMin5d["dtPregao"] ,"dtFim":dfDtMax["dtPregao"]
        ,"vrInicio":dfDtMin5d["vrFech"]   ,"vrFim":dfDtMax["vrFech"]
        ,"pcPeriodo":((dfDtMax["vrFech"] - dfDtMin5d["vrFech"]) / dfDtMin5d["vrFech"]) * 100
        ,"avgVol":dfAvgVol5d["vol"]
    })

In [ ]:
 dfPc25d = pd.DataFrame({
         "dtInicio":dfDtMin25d["dtPregao"] ,"dtFim":dfDtMax["dtPregao"]
        ,"vrInicio":dfDtMin25d["vrFech"]   ,"vrFim":dfDtMax["vrFech"]
        ,"pcPeriodo":((dfDtMax["vrFech"] - dfDtMin25d["vrFech"]) / dfDtMin25d["vrFech"]) * 100
        ,"avgVol":dfAvgVol25d["vol"]
    })

In [ ]:
# dfPc25d.sort_values(["pcPeriodo"], ascending=False).loc[(dfPc25d["avgVol"] > 6000000)]

In [ ]:
# dfPc5d.sort_values(["pcPeriodo"], ascending=False).loc[(dfPc5d["avgVol"] > 6000000)]

In [ ]:
# dfPc25d['pcPeriodo']

In [ ]:
df_temp = monta_lucro_periodo(df, 25, 0, True)
# monta_lucro_periodo(df, 25, 0)

In [ ]:
# df_temp

In [ ]:
df_n_dias = busca_periodos(df, 26)

dias_ant = 2
i = 0
while i <= dias_ant:
    dt_max  = df_n_dias["dtPregao"].max()
    df_n_dias = df_n_dias.loc[df_n_dias["dtPregao"] != dt_max]
    i += 1
    
dt_max

In [ ]:
### 25 dias, Order by 0.5% # df05.loc[(df05["AvgVol"] > 6000000) & (df05["0.5%"] >= 23) & (df05["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)
### 20 dias, Order by 0.5% # df05_20d.loc[(df05_20d["AvgVol"] > 6000000) & (df05_20d["0.5%"] >= 19) & (df05_20d["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)
### 15 dias, Order by 0.5% # df05_15d.loc[(df05_15d["AvgVol"] > 6000000) & (df05_15d["0.5%"] >= 15) & (df05_15d["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)

## Definindo valores para compra

In [ ]:
# Valor disponível para cmp / 1000
# Valor da ação no leilão
vr_corretagem = 9.8
emolumentos = 0.000325
acao = 'LIGT3'
vr_disp = 110
vr_acao_leilao = 1148 / 100
vr_qtd = round((vr_disp * 1000) / (vr_acao_leilao * 100)) * 100

In [ ]:
vr_cmp = round(vr_acao_leilao * 1.014, 2)

vr_tot_cmp = vr_acao_leilao * vr_qtd
corret_cmp = vr_corretagem + (vr_tot_cmp * emolumentos)
vr_tot_liq_cmp = vr_tot_cmp + corret_cmp

vr_acao_vnd_10 = float('{0:.2f}'.format(vr_acao_leilao * 1.0108 + 0.01))
vr_tot_vnd_10 = vr_acao_vnd_10 * vr_qtd
corret_vnd_10 = vr_corretagem + (vr_tot_vnd_10 * emolumentos)
vr_tot_liq_vnd_10 = vr_tot_vnd_10 - corret_vnd_10

vr_acao_vnd_15 = float('{0:.2f}'.format(vr_acao_leilao * 1.0158 + 0.01))
vr_tot_vnd_15 = vr_acao_vnd_15 * vr_qtd
corret_vnd_15 = vr_corretagem + (vr_tot_vnd_15 * emolumentos)
vr_tot_liq_vnd_15 = vr_tot_vnd_15 - corret_vnd_15

In [ ]:
d = {'Compra':     ['Quantidade', 'Valor Leilão', 'Total', 'Total líquido', 'Corretagem Compra'],
     ' ':          [vr_qtd, vr_acao_leilao, vr_tot_cmp, vr_tot_liq_cmp, corret_cmp],
     'Venda 1,0%': ['Valor compra', 'Valor', 'Total', 'Total líquido', 'Corretagem Venda'],
     '1,0%':       [vr_cmp, vr_acao_vnd_10, vr_tot_vnd_10, vr_tot_liq_vnd_10, corret_vnd_10],
     'Venda 1,5%': [' ', 'Valor', 'Total', 'Total líquido', 'Corretagem Venda'],
     '1,5%':       [' ', vr_acao_vnd_15, vr_tot_vnd_15, vr_tot_liq_vnd_15, corret_vnd_15]
    }
df_calc = pd.DataFrame(data=d)
df_calc

In [ ]:
d2 = {'Index':      ['Quantidade', 'Valor', 'Total', 'Total líquido', 'Corretagem'],
      'Compra':     [vr_qtd, vr_cmp, vr_tot_cmp, vr_tot_liq_cmp, corret_cmp],
      'Venda 1.0%': [vr_qtd, vr_acao_vnd_10, vr_tot_vnd_10, vr_tot_liq_vnd_10, corret_vnd_10],
      'Venda 1.5%': [vr_qtd, vr_acao_vnd_15, vr_tot_vnd_15, vr_tot_liq_vnd_15, corret_vnd_15]
     }
df_calc2 = pd.DataFrame(data=d2)
df_calc2.set_index('Index')
df_calc2

In [ ]:
time.asctime( time.localtime(time.time()) )