# ++ Carregar dados históricos da Bovespa em Dataframe para análise ++

In [1]:
import time
time.asctime( time.localtime(time.time()) )

'Thu Feb 22 13:54:53 2024'

In [2]:
import pandas as pd
from datetime import date, datetime, timedelta
# pd.__version__

In [3]:
from IPython.display import FileLink, FileLinks
FileLink('Resultados.ipynb')

C:\Users\F0435280\OneDrive - Banco do Brasil S.A\Área de Trabalho\Alexandre\StockManager-main\Resultados.ipynb

In [4]:
# Setando opção do Pandas para mostrar todas as linhas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Setando separador de milhar
pd.options.display.float_format = '{:,.2f}'.format

In [5]:
from pacote.functions import *

In [6]:
ano = time.localtime().tm_year
if time.localtime().tm_mon < 3:
    str_ano, str_nov_ant, str_dez_ant = f'A{ano}', f'M11{ano-1}', f'M12{ano-1}'
    LISTA_ARQUIVOS = [str_ano, str_nov_ant, str_dez_ant]
else:
    LISTA_ARQUIVOS = [str_ano]

In [7]:
df = carrega_dados(LISTA_ARQUIVOS)

In [8]:
from IPython.display import Markdown, display

# Monday is 0 and Sunday is 6.
dia_semana  = datetime.today().weekday()
ajuste_dias = -3 if dia_semana == 0 else -1
dt_esperado_ult = (datetime.today() + timedelta(days=ajuste_dias)).strftime('%Y-%m-%d')
dt_max = str(df["dtPregao"].max()).split()[0]

if dt_esperado_ult == dt_max:
    font_color="alert-success"
    a = "Atualizado!"
else:
    font_color="alert-danger"
    a = "Desatualizado!!! Última data " + str(dt_max)
def printmd(string):
    display(Markdown(string))

In [9]:
#  df_n_dias | vol | col_pc | pc_min | avg_vr_fech
d25 = monta_tabela(monta_df_periodos(df, 25), 3000000, '1.0%', 22, 2)
d20 = monta_tabela(monta_df_periodos(df, 20), 3000000, '1.0%', 18, 2)
d15 = monta_tabela(monta_df_periodos(df, 15), 3000000, '1.0%', 14, 2)
d10 = monta_tabela(monta_df_periodos(df, 10), 3000000, '1.0%', 9, 2)
d05 = monta_tabela(monta_df_periodos(df, 5), 3000000, '1.0%', 5, 1)
d04 = monta_tabela(monta_df_periodos(df, 4), 3000000, '1.0%', 4, 1)
d03 = monta_tabela(monta_df_periodos(df, 3), 3000000, '1.0%', 3, 1)
merge1 = pd.merge(d25['cdAcao'], d20['cdAcao'], how ='inner', on =['cdAcao'])
merge2 = pd.merge(merge1, d15['cdAcao'], how ='inner', on =['cdAcao'])
merge3 = pd.merge(merge2, d10['cdAcao'], how ='inner', on =['cdAcao'])
merge_final = pd.merge(merge3, d05['cdAcao'], how ='inner', on =['cdAcao'])

In [10]:
printmd(f'**<div class={font_color}>Arquivo {a}</div>**')

**<div class=alert-success>Arquivo Atualizado!</div>**

### 25 dias, order by 1%

In [11]:
d25

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
871,RCSL3,25,25,24,22,20,16,"11,783,471.60",2.35,0.81
490,GFSA3,23,22,20,19,18,17,"72,836,500.04",9.97,0.03

### 20 dias, order by 1%

In [12]:
d20

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
846,RCSL3,20,20,19,17,15,12,"11,468,880.65",2.13,0.59
262,CLSA3,20,18,16,12,12,9,"3,457,678.25",3.56,0.28

### 15 dias, order by 1%

In [13]:
d15

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
250,CLSA3,15,15,13,9,9,7,"3,775,666.07",3.70,0.02

### 10 dias, order by 1%

In [14]:
d10

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
235,CLSA3,10,10,8,5,5,4,"3,171,154.20",3.91,-0.03
741,PLPL3,10,9,9,8,6,5,"10,646,920.60",12.17,0.08
429,GFSA3,9,9,8,8,7,7,"50,828,374.80",6.54,-0.43
637,MTRE3,9,9,8,8,6,5,"6,553,021.90",4.81,-0.23
65,ALPA4,10,9,8,7,6,5,"54,569,311.50",8.91,-0.34
759,QUAL3,9,9,8,7,5,5,"14,620,538.50",2.12,0.11
608,MDNE3,9,9,8,6,6,5,"6,645,592.70",11.17,0.18
383,EVEN3,9,9,7,6,5,3,"7,571,920.50",7.53,-0.10

### 5 dias, order by 1%

In [15]:
d05

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
338,ENAT3,5,5,5,5,5,5,"65,287,023.40",22.04,-0.24
645,OIBR3,5,5,5,5,5,5,"59,660,554.40",1.19,1.75
68,ANIM3,5,5,5,5,5,4,"22,813,229.40",4.39,0.38
713,QUAL3,5,5,5,5,4,4,"16,265,103.60",2.19,0.12
200,CBAV3,5,5,5,5,4,3,"16,839,109.00",3.93,0.08
355,EVEN3,5,5,5,5,4,3,"6,302,744.80",7.72,-0.21
523,LJQQ3,5,5,5,5,4,3,"12,776,579.20",4.93,0.26
594,MTRE3,5,5,5,5,3,2,"5,713,790.00",4.96,0.17
794,SEER3,5,5,5,5,3,2,"10,009,092.00",6.00,-0.04
677,PCAR3,5,5,5,4,3,3,"19,964,593.20",3.98,0.47
398,GFSA3,5,5,4,4,4,4,"32,273,887.60",6.20,1.09
733,RCSL3,5,5,4,4,4,2,"9,528,631.60",1.75,0.11
702,PRIO3,5,5,4,4,3,1,"444,965,517.00",45.80,0.05
567,MDNE3,5,5,4,2,2,2,"5,755,462.20",11.32,0.20
701,POSI3,5,5,4,2,1,1,"7,090,437.00",7.50,0.11
588,MRVE3,5,5,3,3,3,3,"148,928,033.20",7.37,0.07
520,LIGT3,5,5,3,3,3,1,"4,900,267.20",5.52,-0.37
798,SHUL4,5,5,3,3,2,2,"3,215,946.40",6.58,-0.15
264,CURY3,5,5,3,2,2,1,"31,942,115.60",18.43,0.27
697,PNVL3,5,5,3,1,1,1,"3,287,577.80",11.54,0.30
517,LAVV3,5,5,2,2,1,0,"4,936,324.40",7.82,0.20

In [16]:
d04

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
331,ENAT3,4,4,4,4,4,4,"65,545,995.25",22.48,-0.29
627,OIBR3,4,4,4,4,4,4,"54,536,484.75",1.23,1.73
66,ANIM3,4,4,4,4,4,3,"24,520,906.25",4.42,0.41
658,PCAR3,4,4,4,4,3,3,"20,990,893.00",4.02,0.32
674,PLPL3,4,4,4,4,3,3,"14,463,251.00",12.95,0.16
691,QUAL3,4,4,4,4,3,3,"15,695,789.50",2.23,-0.10
196,CBAV3,4,4,4,4,3,2,"16,477,542.50",3.98,-0.04
347,EVEN3,4,4,4,4,3,2,"6,064,738.75",7.78,-0.20
505,LJQQ3,4,4,4,4,3,2,"11,026,123.50",4.99,0.11
771,SEER3,4,4,4,4,3,2,"10,673,338.50",6.03,-0.27
576,MTRE3,4,4,4,4,2,1,"5,640,643.50",5.00,0.11
246,CSED3,4,4,4,3,3,3,"3,045,233.75",4.32,0.29
291,DIRR3,4,4,4,2,2,2,"52,562,494.75",22.77,1.03
680,POSI3,4,4,4,2,1,1,"7,851,808.25",7.57,0.14
388,GFSA3,4,4,3,3,3,3,"26,766,065.25",6.29,1.07
710,RCSL3,4,4,3,3,3,2,"9,389,411.25",1.77,-0.13
775,SHUL4,4,4,3,3,2,2,"3,486,988.50",6.62,-0.31
681,PRIO3,4,4,3,3,2,0,"377,861,196.50",46.10,-0.10
549,MDNE3,4,4,3,2,2,2,"6,301,207.00",11.46,-0.03
785,SOJA3,4,4,3,2,2,2,"3,614,597.25",15.47,0.01
194,CASH3,4,4,3,2,2,1,"27,313,911.00",7.23,-0.11
259,CURY3,4,4,3,2,2,1,"32,054,510.50",18.55,0.18
570,MRVE3,4,4,2,2,2,2,"140,939,778.75",7.45,-0.16
502,LIGT3,4,4,2,2,2,1,"4,299,669.75",5.56,-0.32
499,LAVV3,4,4,2,2,1,0,"4,876,295.50",7.88,0.34
215,CLSA3,4,4,2,1,1,1,"3,063,648.00",3.92,-0.14
676,PNVL3,4,4,2,1,1,1,"3,098,617.50",11.62,0.02

In [17]:
d03

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
316,ENAT3,3,3,3,3,3,3,"60,629,982.33",22.55,-0.39
600,OIBR3,3,3,3,3,3,3,"64,121,290.33",1.29,1.67
65,ANIM3,3,3,3,3,3,2,"22,937,158.00",4.41,0.07
332,EVEN3,3,3,3,3,3,2,"6,499,239.00",7.84,-0.35
482,LJQQ3,3,3,3,3,3,2,"11,785,222.00",5.06,-0.07
629,PCAR3,3,3,3,3,2,2,"24,876,694.67",4.06,0.08
645,PLPL3,3,3,3,3,2,2,"15,429,543.33",13.23,0.00
662,QUAL3,3,3,3,3,2,2,"14,952,492.33",2.26,-0.30
739,SEER3,3,3,3,3,2,2,"7,506,759.33",6.17,-0.30
743,SHUL4,3,3,3,3,2,2,"4,150,398.67",6.69,-0.25
188,CBAV3,3,3,3,3,2,1,"16,107,086.33",4.02,-0.50
552,MTRE3,3,3,3,3,1,1,"5,479,048.33",5.05,-0.27
892,ZAMP3,3,3,3,3,1,1,"7,898,320.00",4.23,-0.23
277,DIRR3,3,3,3,2,2,2,"61,684,640.67",22.99,1.06
186,CASH3,3,3,3,2,2,1,"32,574,334.00",7.29,-0.19
249,CURY3,3,3,3,2,2,1,"35,419,583.00",18.74,0.04
651,POSI3,3,3,3,2,1,1,"9,027,581.00",7.70,-0.09
369,GFSA3,3,3,2,2,2,2,"27,831,341.00",6.39,0.12
525,MDNE3,3,3,2,2,2,2,"7,494,569.00",11.62,-0.07
374,GMAT3,3,3,2,2,2,1,"36,134,372.00",7.48,-0.45
679,RCSL3,3,3,2,2,2,1,"9,885,349.00",1.78,-0.37
652,PRIO3,3,3,2,2,1,0,"367,308,975.33",46.34,-0.14
206,CLSA3,3,3,2,1,1,1,"3,315,905.67",3.93,-0.43
432,INTB3,3,3,2,1,1,1,"23,653,005.33",20.24,-0.12
647,PNVL3,3,3,2,1,1,1,"3,381,586.67",11.71,0.03
753,SOJA3,3,3,2,1,1,1,"3,575,145.33",15.44,0.02
136,BPAC11,3,3,2,0,0,0,"309,554,585.67",37.41,-0.56
426,IGTI11,3,3,1,1,1,1,"81,590,130.00",23.44,-0.13
479,LIGT3,3,3,1,1,1,1,"4,821,733.00",5.58,-0.24
546,MRVE3,3,3,1,1,1,1,"134,911,536.67",7.50,-0.41
476,LAVV3,3,3,1,1,1,0,"5,306,267.67",7.91,0.46
850,VIVT3,3,3,1,1,0,0,"161,980,927.67",53.14,0.26

In [18]:
printmd(f'**<div class={font_color}>Status {a}</div>**')

**<div class=alert-success>Status Atualizado!</div>**

### Consulta ação específica

In [24]:
consulta_acao(df, "oibr3")

,cdAcao,dtPregao,vrFech,vrVolume,vrMaxDia,vrMinDia,vrAbert,pcVar,pcMaxDia,pcMinDia,pcAbert,ic05,ic10,ic15,ic20,ic25,ic30
25789,OIBR3,2024-02-21,1.42,"87,745,400",1.48,1.30,1.30,11.81,16.54,2.36,2.36,1,1,1,1,1,1
25012,OIBR3,2024-02-20,1.27,"52,199,667",1.35,1.17,1.19,8.55,15.38,,1.71,1,1,1,1,1,1
24352,OIBR3,2024-02-19,1.17,"52,418,804",1.21,1.05,1.06,11.43,15.24,,0.95,1,1,1,1,1,1
23588,OIBR3,2024-02-16,1.05,"25,782,068",1.13,1.04,1.08,-0.94,6.60,-1.89,1.89,1,1,1,1,1,1
22850,OIBR3,2024-02-15,1.06,"80,156,833",1.20,1.06,1.12,-3.64,9.09,-3.64,1.82,1,1,1,1,1,1
22099,OIBR3,2024-02-14,1.10,"27,966,107",1.12,0.96,0.99,11.11,13.13,-3.03,,1,1,1,1,1,1
21367,OIBR3,2024-02-09,0.99,"33,320,542",1.05,0.93,0.98,3.12,9.38,-3.12,2.08,1,1,1,1,1,1
20626,OIBR3,2024-02-08,0.96,"93,142,396",1.22,0.87,0.88,11.63,41.86,1.16,2.33,1,1,1,1,1,1
19884,OIBR3,2024-02-07,0.86,"32,648,125",0.87,0.65,0.65,30.30,31.82,-1.52,-1.52,1,1,1,1,1,1
19131,OIBR3,2024-02-06,0.66,"10,170,272",0.67,0.62,0.63,6.45,8.06,,1.61,1,1,1,1,1,1
18378,OIBR3,2024-02-05,0.62,"2,125,504",0.63,0.61,0.61,1.64,3.28,,,1,1,1,1,1,1
17622,OIBR3,2024-02-02,0.61,"1,379,103",0.63,0.61,0.62,-1.61,1.61,-1.61,,1,1,1,,,
16846,OIBR3,2024-02-01,0.62,"2,198,993",0.63,0.61,0.62,,1.61,-1.61,,1,1,1,,,
16079,OIBR3,2024-01-31,0.62,"1,712,756",0.63,0.61,0.61,1.64,3.28,,,1,1,1,1,1,1
15309,OIBR3,2024-01-30,0.61,"3,160,826",0.65,0.61,0.64,-4.69,1.56,-4.69,,1,1,1,,,
14543,OIBR3,2024-01-29,0.64,"4,398,966",0.66,0.63,0.64,,3.12,-1.56,,1,1,1,1,1,1
13797,OIBR3,2024-01-26,0.64,"6,996,535",0.66,0.63,0.64,,3.12,-1.56,,1,1,1,1,1,1
13041,OIBR3,2024-01-25,0.64,"1,309,535",0.64,0.62,0.64,,,-3.12,,,,,,,
12297,OIBR3,2024-01-24,0.64,"544,438",0.64,0.63,0.64,,,-1.56,,,,,,,
11555,OIBR3,2024-01-23,0.64,"4,205,950",0.64,0.62,0.62,3.23,3.23,,,1,1,1,1,1,1
10768,OIBR3,2024-01-22,0.62,"4,476,450",0.64,0.60,0.60,3.33,6.67,,,1,1,1,1,1,1
9985,OIBR3,2024-01-19,0.60,"2,160,726",0.62,0.59,0.61,-1.64,1.64,-3.28,,1,1,1,,,
9250,OIBR3,2024-01-18,0.61,"2,408,674",0.62,0.60,0.62,,1.64,-1.64,1.64,1,1,1,,,
8519,OIBR3,2024-01-17,0.61,"3,404,285",0.62,0.60,0.62,-1.61,,-3.23,,,,,,,
7780,OIBR3,2024-01-16,0.62,"2,010,452",0.63,0.61,0.63,-1.59,,-3.17,,,,,,,
7109,OIBR3,2024-01-15,0.63,"5,175,945",0.64,0.61,0.64,-1.56,,-4.69,,,,,,,
6381,OIBR3,2024-01-12,0.64,"1,714,713",0.65,0.63,0.64,,1.56,-1.56,,1,1,1,,,
5629,OIBR3,2024-01-11,0.64,"2,579,852",0.65,0.63,0.63,1.59,3.17,,,1,1,1,1,1,1
4894,OIBR3,2024-01-10,0.63,"2,206,074",0.65,0.63,0.64,-1.56,1.56,-1.56,,1,1,1,,,
4165,OIBR3,2024-01-09,0.64,"5,511,619",0.65,0.62,0.63,,1.56,-3.12,-1.56,1,1,1,,,
3406,OIBR3,2024-01-08,0.64,"2,605,185",0.64,0.63,0.63,1.59,1.59,,,1,1,1,,,
2670,OIBR3,2024-01-05,0.63,"1,287,238",0.64,0.63,0.63,,1.59,,,1,1,1,,,
1917,OIBR3,2024-01-04,0.63,"2,489,948",0.65,0.62,0.64,-3.08,,-4.62,-1.54,,,,,,
1158,OIBR3,2024-01-03,0.65,"2,602,288",0.65,0.62,0.63,3.17,3.17,-1.59,,1,1,1,1,1,1
376,OIBR3,2024-01-02,0.63,"4,203,376",0.65,0.62,0.64,-1.56,1.56,-3.12,,1,1,1,,,
13843,OIBR3,2023-12-28,0.64,"2,431,407",0.65,0.63,0.64,-1.54,,-3.08,-1.54,,,,,,
13119,OIBR3,2023-12-27,0.65,"1,581,314",0.65,0.64,0.64,1.56,1.56,,,1,1,1,,,
12394,OIBR3,2023-12-26,0.64,"1,602,568",0.66,0.64,0.65,-3.03,,-3.03,-1.52,,,,,,
11635,OIBR3,2023-12-22,0.66,"1,469,850",0.66,0.64,0.65,3.12,3.12,,1.56,1,1,1,1,1,1
10878,OIBR3,2023-12-21,0.64,"1,197,019",0.66,0.64,0.65,-1.54,1.54,-1.54,,1,1,1,,,
10155,OIBR3,2023-12-20,0.65,"1,984,153",0.66,0.64,0.65,1.56,3.12,,1.56,1,1,1,1,1,1
9407,OIBR3,2023-12-19,0.64,"1,979,502",0.67,0.64,0.65,-3.03,1.52,-3.03,-1.52,1,1,1,,,
8654,OIBR3,2023-12-18,0.66,"2,730,448",0.66,0.64,0.65,1.54,1.54,-1.54,,1,1,1,,,
7881,OIBR3,2023-12-15,0.65,"4,825,584",0.68,0.64,0.65,,4.62,-1.54,,1,1,1,1,1,1
7113,OIBR3,2023-12-14,0.65,"1,933,965",0.66,0.64,0.65,,1.54,-1.54,,1,1,1,,,
6356,OIBR3,2023-12-13,0.65,"1,973,533",0.65,0.63,0.64,1.56,1.56,-1.56,,1,1,1,,,
5594,OIBR3,2023-12-12,0.64,"7,357,887",0.68,0.62,0.66,-4.48,1.49,-7.46,-1.49,1,1,,,,
4863,OIBR3,2023-12-11,0.67,"1,258,338",0.68,0.66,0.67,,1.49,-1.49,,1,1,,,,
4102,OIBR3,2023-12-08,0.67,"1,723,571",0.68,0.66,0.67,,1.49,-1.49,,1,1,,,,
3386,OIBR3,2023-12-07,0.67,"1,270,335",0.68,0.66,0.66,1.52,3.03,,,1,1,1,1,1,1
2637,OIBR3,2023-12-06,0.66,"3,608,655",0.71,0.66,0.70,-4.35,2.90,-4.35,1.45,1,1,1,1,1,
1884,OIBR3,2023-12-05,0.69,"5,922,223",0.70,0.66,0.66,4.55,6.06,,,1,1,1,1,1,1
1112,OIBR3,2023-12-04,0.66,"1,404,755",0.67,0.65,0.66,,1.52,-1.52,,1,1,1,,,
359,OIBR3,2023-12-01,0.66,"2,205,051",0.67,0.65,0.66,1.54,3.08,,1.54,1,1,1,1,1,1
1831,OIBR3,2023-11-30,0.65,"1,944,270",0.68,0.65,0.66,-1.52,3.03,-1.52,,1,1,1,1,1,1
14372,OIBR3,2023-11-29,0.66,"2,248,023",0.69,0.66,0.68,-1.49,2.99,-1.49,1.49,1,1,1,1,1,
13616,OIBR3,2023-11-28,0.67,"7,423,163",0.72,0.64,0.64,4.69,12.50,,,1,1,1,1,1,1
12883,OIBR3,2023-11-27,0.64,"1,324,949",0.66,0.64,0.65,-1.54,1.54,-1.54,,1,1,1,,,
12138,OIBR3,2023-11-24,0.65,"1,858,358",0.67,0.65,0.66,,3.08,,1.54,1,1,1,1,1,1
11600,OIBR3,2023-11-23,0.65,"6,008,260",0.70,0.65,0.69,-4.41,2.94,-4.41,1.47,1,1,1,1,1,
9687,OIBR3,2023-11-22,0.68,"2,173,463",0.70,0.68,0.70,-2.86,,-2.86,,,,,,,
2562,OIBR3,2023-11-21,0.70,"11,103,961",0.75,0.66,0.66,6.06,13.64,,,1,1,1,1,1,1
10049,OIBR3,2023-11-20,0.66,"4,876,969",0.68,0.63,0.63,4.76,7.94,,,1,1,1,1,1,1
8128,OIBR3,2023-11-17,0.63,"1,566,410",0.65,0.63,0.64,,3.17,,1.59,1,1,1,1,1,1
6589,OIBR3,2023-11-16,0.63,"2,271,264",0.64,0.62,0.63,1.61,3.23,,1.61,1,1,1,1,1,1
4942,OIBR3,2023-11-14,0.62,"1,685,444",0.63,0.61,0.61,1.64,3.28,,,1,1,1,1,1,1
2979,OIBR3,2023-11-13,0.61,"1,952,988",0.63,0.61,0.63,-3.17,,-3.17,,,,,,,
784,OIBR3,2023-11-10,0.63,"2,183,980",0.64,0.61,0.63,1.61,3.23,-1.61,1.61,1,1,1,1,1,1
10133,OIBR3,2023-11-09,0.62,"5,350,607",0.66,0.62,0.65,-7.46,-1.49,-7.46,-2.99,,,,,,
8275,OIBR3,2023-11-08,0.67,"5,938,917",0.69,0.64,0.65,3.08,6.15,-1.54,,1,1,1,1,1,1
6478,OIBR3,2023-11-07,0.65,"6,315,351",0.65,0.61,0.61,6.56,6.56,,,1,1,1,1,1,1
4759,OIBR3,2023-11-06,0.61,"3,823,196",0.64,0.60,0.63,-4.69,,-6.25,-1.56,,,,,,
2618,OIBR3,2023-11-03,0.64,"4,950,881",0.64,0.60,0.61,4.92,4.92,-1.64,,1,1,1,1,1,1
404,OIBR3,2023-11-01,0.61,"3,662,296",0.63,0.59,0.60,-97.10,-97.00,-97.19,-97.14,,,,,,

### Ações presentes em todos os períodos

In [20]:
merge_final

Empty DataFrame
Columns: [cdAcao]
Index: []

### ======================================== TESTES ========================================

In [21]:
bla

NameError: name 'bla' is not defined

### Comparar Maiores Lucros

In [ ]:
df_original = df.copy()

In [ ]:
df = df_original.copy()

In [ ]:
df_teste = df_original.copy()

In [ ]:
dt_max = df_teste["dtPregao"].max()
df_teste = df_teste.loc[df_teste["dtPregao"] != dt_max]

In [ ]:
d05 = monta_tabela(monta_df_periodos(df_teste, 5), 3000000, '1.0%', 5, 2)
d05

In [ ]:
consulta_acao(df_teste, "RAIZ4")

### ----------------------------------------------------------------------------

In [ ]:
df_1 = monta_lucro_periodo(df, 10, 0, True)
df_2 = monta_lucro_periodo(df, 10, 1, True)

In [ ]:
df_final = df_1.copy()
df_final['posicao ant'], df_final['mudanca'] = [
    df_2['posicao']
    , df_2['posicao'] - df_1['posicao']
]
df_final['posicao ant'] = df_final['posicao ant'].fillna(0).astype('int')
df_final['mudanca'] = df_final['mudanca'].fillna(0).astype('int')

In [ ]:
df_final.sort_values(["mudanca"], ascending=False)

In [ ]:
df_final.sort_values(["mudanca"], ascending=False).loc[df_final['posicao ant'] <= 10]

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
# dfDtMin = df5d.loc[(df["dtPregao"] == dt_min_5d) & (df["cdAcao"] == 'PTBL3')]

df5d  = busca_periodos(df, 5)
df25d = busca_periodos(df, 25)

dt_min_5d  = df5d["dtPregao"].min()
dt_min_25d = df25d["dtPregao"].min()
dt_max     = df5d["dtPregao"].max()
dfDtMin5d  = df5d.loc[(df5d["dtPregao"] == dt_min_5d)].set_index(["cdAcao"])
dfDtMin25d = df25d.loc[(df25d["dtPregao"] == dt_min_25d)].set_index(["cdAcao"])
dfDtMax    = df5d.loc[(df5d["dtPregao"] == dt_max)].set_index(["cdAcao"])
dfAvgVol5d  = busca_media(df5d, "vrVolume", "vol").set_index(["cdAcao"])
dfAvgVol25d = busca_media(df25d, "vrVolume", "vol").set_index(["cdAcao"])

In [ ]:
 dfPc5d = pd.DataFrame({
         "dtInicio":dfDtMin5d["dtPregao"] ,"dtFim":dfDtMax["dtPregao"]
        ,"vrInicio":dfDtMin5d["vrFech"]   ,"vrFim":dfDtMax["vrFech"]
        ,"pcPeriodo":((dfDtMax["vrFech"] - dfDtMin5d["vrFech"]) / dfDtMin5d["vrFech"]) * 100
        ,"avgVol":dfAvgVol5d["vol"]
    })

In [ ]:
 dfPc25d = pd.DataFrame({
         "dtInicio":dfDtMin25d["dtPregao"] ,"dtFim":dfDtMax["dtPregao"]
        ,"vrInicio":dfDtMin25d["vrFech"]   ,"vrFim":dfDtMax["vrFech"]
        ,"pcPeriodo":((dfDtMax["vrFech"] - dfDtMin25d["vrFech"]) / dfDtMin25d["vrFech"]) * 100
        ,"avgVol":dfAvgVol25d["vol"]
    })

In [ ]:
# dfPc25d.sort_values(["pcPeriodo"], ascending=False).loc[(dfPc25d["avgVol"] > 6000000)]

In [ ]:
# dfPc5d.sort_values(["pcPeriodo"], ascending=False).loc[(dfPc5d["avgVol"] > 6000000)]

In [ ]:
# dfPc25d['pcPeriodo']

In [ ]:
df_temp = monta_lucro_periodo(df, 25, 0, True)
# monta_lucro_periodo(df, 25, 0)

In [ ]:
# df_temp

In [ ]:
df_n_dias = busca_periodos(df, 26)

dias_ant = 2
i = 0
while i <= dias_ant:
    dt_max  = df_n_dias["dtPregao"].max()
    df_n_dias = df_n_dias.loc[df_n_dias["dtPregao"] != dt_max]
    i += 1
    
dt_max

In [ ]:
### 25 dias, Order by 0.5% # df05.loc[(df05["AvgVol"] > 6000000) & (df05["0.5%"] >= 23) & (df05["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)
### 20 dias, Order by 0.5% # df05_20d.loc[(df05_20d["AvgVol"] > 6000000) & (df05_20d["0.5%"] >= 19) & (df05_20d["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)
### 15 dias, Order by 0.5% # df05_15d.loc[(df05_15d["AvgVol"] > 6000000) & (df05_15d["0.5%"] >= 15) & (df05_15d["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)

## Definindo valores para compra

In [ ]:
# Valor disponível para cmp / 1000
# Valor da ação no leilão
vr_corretagem = 9.8
emolumentos = 0.000325
acao = 'LIGT3'
vr_disp = 110
vr_acao_leilao = 1148 / 100
vr_qtd = round((vr_disp * 1000) / (vr_acao_leilao * 100)) * 100

In [ ]:
vr_cmp = round(vr_acao_leilao * 1.014, 2)

vr_tot_cmp = vr_acao_leilao * vr_qtd
corret_cmp = vr_corretagem + (vr_tot_cmp * emolumentos)
vr_tot_liq_cmp = vr_tot_cmp + corret_cmp

vr_acao_vnd_10 = float('{0:.2f}'.format(vr_acao_leilao * 1.0108 + 0.01))
vr_tot_vnd_10 = vr_acao_vnd_10 * vr_qtd
corret_vnd_10 = vr_corretagem + (vr_tot_vnd_10 * emolumentos)
vr_tot_liq_vnd_10 = vr_tot_vnd_10 - corret_vnd_10

vr_acao_vnd_15 = float('{0:.2f}'.format(vr_acao_leilao * 1.0158 + 0.01))
vr_tot_vnd_15 = vr_acao_vnd_15 * vr_qtd
corret_vnd_15 = vr_corretagem + (vr_tot_vnd_15 * emolumentos)
vr_tot_liq_vnd_15 = vr_tot_vnd_15 - corret_vnd_15

In [ ]:
d = {'Compra':     ['Quantidade', 'Valor Leilão', 'Total', 'Total líquido', 'Corretagem Compra'],
     ' ':          [vr_qtd, vr_acao_leilao, vr_tot_cmp, vr_tot_liq_cmp, corret_cmp],
     'Venda 1,0%': ['Valor compra', 'Valor', 'Total', 'Total líquido', 'Corretagem Venda'],
     '1,0%':       [vr_cmp, vr_acao_vnd_10, vr_tot_vnd_10, vr_tot_liq_vnd_10, corret_vnd_10],
     'Venda 1,5%': [' ', 'Valor', 'Total', 'Total líquido', 'Corretagem Venda'],
     '1,5%':       [' ', vr_acao_vnd_15, vr_tot_vnd_15, vr_tot_liq_vnd_15, corret_vnd_15]
    }
df_calc = pd.DataFrame(data=d)
df_calc

In [ ]:
d2 = {'Index':      ['Quantidade', 'Valor', 'Total', 'Total líquido', 'Corretagem'],
      'Compra':     [vr_qtd, vr_cmp, vr_tot_cmp, vr_tot_liq_cmp, corret_cmp],
      'Venda 1.0%': [vr_qtd, vr_acao_vnd_10, vr_tot_vnd_10, vr_tot_liq_vnd_10, corret_vnd_10],
      'Venda 1.5%': [vr_qtd, vr_acao_vnd_15, vr_tot_vnd_15, vr_tot_liq_vnd_15, corret_vnd_15]
     }
df_calc2 = pd.DataFrame(data=d2)
df_calc2.set_index('Index')
df_calc2

In [ ]:
time.asctime( time.localtime(time.time()) )