# ++ Carregar dados históricos da Bovespa em Dataframe para análise ++

In [1]:
import time
time.asctime( time.localtime(time.time()) )

'Tue Apr 16 22:50:33 2024'

In [2]:
import pandas as pd
from datetime import date, datetime, timedelta
# pd.__version__

In [3]:
from IPython.display import FileLink, FileLinks
FileLink('Resultados.ipynb')

C:\Users\esmer\Desktop\Alexandre\Projeto Git\StockManager\Resultados.ipynb

In [4]:
# Setando opção do Pandas para mostrar todas as linhas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Setando separador de milhar
pd.options.display.float_format = '{:,.2f}'.format

In [5]:
from pacote.functions import *

In [6]:
ano = time.localtime().tm_year
str_ano = f'A{ano}'

if time.localtime().tm_mon < 3:
    str_nov_ant, str_dez_ant = f'M11{ano-1}', f'M12{ano-1}'
    LISTA_ARQUIVOS = [str_ano, str_nov_ant, str_dez_ant]
else:
    LISTA_ARQUIVOS = [str_ano]

In [7]:
df = carrega_dados(LISTA_ARQUIVOS)

In [8]:
from IPython.display import Markdown, display

# Monday is 0 and Sunday is 6.
dia_semana  = datetime.today().weekday()
ajuste_dias = -3 if dia_semana == 0 else -1
dt_esperado_ult = (datetime.today() + timedelta(days=ajuste_dias)).strftime('%Y-%m-%d')
dt_max = str(df["dtPregao"].max()).split()[0]

if dt_esperado_ult == dt_max:
    font_color="alert-success"
    a = "Atualizado!"
else:
    font_color="alert-danger"
    a = "Desatualizado!!! Última data " + str(dt_max)
def printmd(string):
    display(Markdown(string))

In [9]:
#  df_n_dias | vol | col_pc | pc_min | avg_vr_fech
d25 = monta_tabela(monta_df_periodos(df, 25), 3000000, '1.0%', 22, 2)
d20 = monta_tabela(monta_df_periodos(df, 20), 3000000, '1.0%', 18, 2)
d15 = monta_tabela(monta_df_periodos(df, 15), 3000000, '1.0%', 14, 2)
d10 = monta_tabela(monta_df_periodos(df, 10), 3000000, '1.0%', 9, 2)
d05 = monta_tabela(monta_df_periodos(df, 5), 3000000, '1.0%', 5, 1)
d04 = monta_tabela(monta_df_periodos(df, 4), 3000000, '1.0%', 4, 1)
d03 = monta_tabela(monta_df_periodos(df, 3), 3000000, '1.0%', 3, 1)
merge1 = pd.merge(d25['cdAcao'], d20['cdAcao'], how ='inner', on =['cdAcao'])
merge2 = pd.merge(merge1, d15['cdAcao'], how ='inner', on =['cdAcao'])
merge3 = pd.merge(merge2, d10['cdAcao'], how ='inner', on =['cdAcao'])
merge_final = pd.merge(merge3, d05['cdAcao'], how ='inner', on =['cdAcao'])

In [85]:
def filtra_data(df, data="max"):
    # formato da data: 'aaaa-mm-dd'
    dt_max = df["dtPregao"].max() if data == "max" else datetime.strptime(data, '%Y-%m-%d')
    df_max_dt = df.loc[df["dtPregao"] == dt_max]
    return df_max_dt

In [90]:
data = "2024-04-04"
df_max_dt = filtra_data(df, data)

df_2max_dt = df.copy()
df_2max_dt = df_2max_dt.loc[df_2max_dt["dtPregao"] < df_max_dt.iloc[0, 1]]
df_2max_dt = filtra_data(df_2max_dt)

df_max_dt = df_max_dt[["cdAcao", "vrVolume", "pcVar", "dtPregao"]]
df_2max_dt = df_2max_dt[["cdAcao", "vrVolume", "pcVar", "dtPregao"]]

merge_max = pd.merge(df_2max_dt[['cdAcao','dtPregao','vrVolume','pcVar']], df_max_dt[['cdAcao','vrVolume','pcVar','dtPregao']], how ='inner', on =['cdAcao'])
merge_max = merge_max.loc[(merge_max["vrVolume_x"] > 1000000) & 
                          (merge_max["vrVolume_y"] > merge_max["vrVolume_x"] * 3)]

In [10]:
printmd(f'**<div class={font_color}>Arquivo {a}</div>**')

**<div class=alert-danger>Arquivo Desatualizado!!! Última data 2024-04-16</div>**

### 25 dias, order by 1%

In [11]:
d25

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
264,CLSA3,24,23,22,21,18,16,"8,549,449.76",5.22,0.14

### 20 dias, order by 1%

In [12]:
d20

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
257,CLSA3,19,18,18,17,15,13,"10,013,025.25",5.54,0.11

### 15 dias, order by 1%

In [13]:
d15

Empty DataFrame
Columns: [cdAcao, 0.5%, 1.0%, 1.5%, 2.0%, 2.5%, 3.0%, AvgVol, AvgVrFech, AvgPcAbert]
Index: []

### 10 dias, order by 1%

In [14]:
d10

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
212,CBAV3,9,9,8,8,7,7,"28,128,936.80",4.69,0.39
717,PETR4,9,9,5,3,3,0,"2,057,426,156.40",38.84,0.12

### 5 dias, order by 1%

In [15]:
d05

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
81,AZEV4,5,5,5,5,5,5,"14,717,639.40",1.66,-0.53
395,GOGL34,5,5,4,2,1,0,"15,254,186.80",67.23,0.39
601,NFLX34,5,5,3,3,1,1,"4,220,798.04",63.74,0.38

In [16]:
d04

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
81,AZEV4,4,4,4,4,4,4,"14,134,514.25",1.65,-0.67
188,CBAV3,4,4,4,4,3,3,"24,842,830.75",4.83,0.58
35,AAPL34,4,4,4,2,2,1,"12,584,077.56",44.72,0.40
535,MELI34,4,4,3,3,1,1,"56,616,147.64",62.19,0.14
584,NFLX34,4,4,3,3,1,1,"4,717,585.69",63.97,0.53
386,GOGL34,4,4,3,2,1,0,"11,566,690.39",67.51,0.49

In [17]:
d03

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
77,AZEV4,3,3,3,3,3,3,"12,243,929.00",1.61,-0.10
182,CBAV3,3,3,3,3,2,2,"28,574,531.33",4.82,0.70
32,AAPL34,3,3,3,1,1,0,"12,331,228.93",44.81,0.37
519,MELI34,3,3,2,2,1,1,"65,503,571.89",61.54,0.61
567,NFLX34,3,3,2,2,1,1,"4,203,452.33",63.90,0.83
373,GOGL34,3,3,2,1,0,0,"12,741,472.62",67.40,0.53
620,PETR3,3,3,2,0,0,0,"471,103,958.00",40.76,0.02
364,GFSA3,3,3,1,1,1,1,"14,939,892.67",5.97,-0.12
621,PETR4,3,3,1,0,0,0,"1,383,585,445.33",39.25,0.10

In [18]:
printmd(f'**<div class={font_color}>Status {a}</div>**')

**<div class=alert-danger>Status Desatualizado!!! Última data 2024-04-16</div>**

### Consulta ação específica

In [93]:
consulta_acao(df, "PRNR3")

,cdAcao,dtPregao,vrFech,vrVolume,vrMaxDia,vrMinDia,vrAbert,pcVar,pcMaxDia,pcMinDia,pcAbert,ic05,ic10,ic15,ic20,ic25,ic30
54325,PRNR3,2024-04-16,12.40,"4,695,257",12.65,12.22,12.57,-1.82,0.16,-3.25,-0.48,,,,,,
53423,PRNR3,2024-04-15,12.63,"7,750,977",13.48,12.60,13.37,-5.46,0.90,-5.69,0.07,1,,,,,
52514,PRNR3,2024-04-12,13.36,"12,475,413",13.48,13.11,13.46,-1.47,-0.59,-3.32,-0.74,,,,,,
51906,PRNR3,2024-04-11,13.56,"4,914,255",13.64,13.31,13.59,-0.73,-0.15,-2.56,-0.51,,,,,,
51299,PRNR3,2024-04-10,13.66,"4,672,645",13.69,13.42,13.60,0.96,1.18,-0.81,0.52,1,1,,,,
50479,PRNR3,2024-04-09,13.53,"12,242,748",13.59,13.04,13.28,3.44,3.90,-0.31,1.53,1,1,1,1,1,1
49830,PRNR3,2024-04-08,13.08,"12,553,557",13.18,12.40,12.50,1.32,2.09,-3.95,-3.18,1,1,1,1,,
49016,PRNR3,2024-04-05,12.91,"11,148,739",13.00,12.40,12.44,3.28,4.00,-0.80,-0.48,1,1,1,1,1,1
48139,PRNR3,2024-04-04,12.50,"10,597,700",12.57,11.88,11.91,4.87,5.45,-0.34,-0.08,1,1,1,1,1,1
47461,PRNR3,2024-04-03,11.92,"3,372,495",12.07,11.63,11.83,1.45,2.72,-1.02,0.68,1,1,1,1,1,
46897,PRNR3,2024-04-02,11.75,"5,457,204",11.92,11.66,11.83,-1.34,0.08,-2.10,-0.67,,,,,,
46162,PRNR3,2024-04-01,11.91,"5,347,968",12.24,11.86,12.24,-2.93,-0.24,-3.34,-0.24,,,,,,
45073,PRNR3,2024-03-28,12.27,"7,507,715",12.38,11.94,12.13,5.96,6.91,3.11,4.75,1,1,1,1,1,1
44601,PRNR3,2024-03-27,11.58,"3,044,787",11.99,11.58,11.90,-2.61,0.84,-2.61,0.08,1,,,,,
43741,PRNR3,2024-03-26,11.89,"2,922,396",12.07,11.75,12.07,-0.83,0.67,-2.00,0.67,1,,,,,
42918,PRNR3,2024-03-25,11.99,"1,329,823",12.26,11.99,12.23,-2.36,-0.16,-2.36,-0.41,,,,,,
42164,PRNR3,2024-03-22,12.28,"6,589,427",12.35,11.79,12.00,2.33,2.92,-1.75,,1,1,1,1,1,
41547,PRNR3,2024-03-21,12.00,"9,200,874",12.18,11.25,11.28,6.86,8.46,0.18,0.45,1,1,1,1,1,1
40692,PRNR3,2024-03-20,11.23,"5,554,618",11.54,11.04,11.54,-2.18,0.52,-3.83,0.52,1,,,,,
39860,PRNR3,2024-03-19,11.48,"2,812,275",11.61,11.36,11.61,-0.17,0.96,-1.22,0.96,1,,,,,
39328,PRNR3,2024-03-18,11.50,"3,847,327",11.92,11.35,11.92,-3.44,0.08,-4.70,0.08,,,,,,
38386,PRNR3,2024-03-15,11.91,"3,624,169",12.10,11.85,12.05,-2.22,-0.66,-2.71,-1.07,,,,,,
37894,PRNR3,2024-03-14,12.18,"3,618,966",12.27,12.02,12.20,-0.25,0.49,-1.56,-0.08,,,,,,
36933,PRNR3,2024-03-13,12.21,"1,904,610",12.37,12.17,12.27,-1.05,0.24,-1.38,-0.57,,,,,,
36272,PRNR3,2024-03-12,12.34,"1,857,882",12.39,12.19,12.31,0.24,0.65,-0.97,,1,,,,,
35445,PRNR3,2024-03-11,12.31,"1,477,417",12.50,12.27,12.44,-0.73,0.81,-1.05,0.32,1,,,,,
34997,PRNR3,2024-03-08,12.40,"2,570,105",12.46,12.06,12.18,1.47,1.96,-1.31,-0.33,1,1,1,,,
33939,PRNR3,2024-03-07,12.22,"4,310,370",12.43,11.85,12.20,0.41,2.14,-2.63,0.25,1,1,1,1,,
33408,PRNR3,2024-03-06,12.17,"14,515,963",12.19,10.96,11.18,8.56,8.74,-2.23,-0.27,1,1,1,1,1,1
32420,PRNR3,2024-03-05,11.21,"1,968,092",11.21,11.02,11.15,0.54,0.54,-1.17,,1,,,,,
31774,PRNR3,2024-03-04,11.15,"2,054,187",11.46,11.02,11.36,-1.85,0.88,-2.99,,1,,,,,
30898,PRNR3,2024-03-01,11.36,"2,315,673",11.37,11.10,11.31,0.18,0.26,-2.12,-0.26,,,,,,
30355,PRNR3,2024-02-29,11.34,"3,436,371",11.55,11.26,11.52,-1.65,0.17,-2.34,-0.09,,,,,,
29412,PRNR3,2024-02-28,11.53,"2,307,010",11.70,11.38,11.69,-1.45,,-2.74,-0.09,,,,,,
28585,PRNR3,2024-02-27,11.70,"7,645,323",11.80,11.50,11.56,1.92,2.79,0.17,0.70,1,1,1,1,1,
27879,PRNR3,2024-02-26,11.48,"6,060,644",11.58,11.06,11.44,-0.35,0.52,-3.99,-0.69,1,,,,,
27276,PRNR3,2024-02-23,11.52,"954,387",11.53,11.36,11.48,-0.09,,-1.47,-0.43,,,,,,
26260,PRNR3,2024-02-22,11.53,"2,147,972",11.53,11.13,11.35,1.59,1.59,-1.94,,1,1,1,,,
25695,PRNR3,2024-02-21,11.35,"3,854,525",11.35,10.90,10.96,3.46,3.46,-0.64,-0.09,1,1,1,1,1,1
24794,PRNR3,2024-02-20,10.97,"3,261,930",11.00,10.61,10.70,2.52,2.80,-0.84,,1,1,1,1,1,
24162,PRNR3,2024-02-19,10.70,"7,382,110",10.92,10.62,10.92,-2.55,-0.55,-3.28,-0.55,,,,,,
23510,PRNR3,2024-02-16,10.98,"2,366,576",11.06,10.91,10.99,0.09,0.82,-0.55,0.18,1,,,,,
22770,PRNR3,2024-02-15,10.97,"1,829,826",11.18,10.91,11.09,-1.44,0.45,-1.98,-0.36,,,,,,
21962,PRNR3,2024-02-14,11.13,"1,857,106",11.25,10.92,11.16,-0.36,0.72,-2.24,-0.09,1,,,,,
21109,PRNR3,2024-02-09,11.17,"9,221,596",11.46,11.10,11.35,-2.36,0.17,-2.97,-0.79,,,,,,
20397,PRNR3,2024-02-08,11.44,"7,294,709",11.82,11.30,11.53,-0.69,2.60,-1.91,0.09,1,1,1,1,1,
19573,PRNR3,2024-02-07,11.52,"1,846,907",11.64,11.26,11.35,1.50,2.56,-0.79,,1,1,1,1,1,
19015,PRNR3,2024-02-06,11.35,"2,757,932",11.64,11.32,11.50,-2.07,0.43,-2.33,-0.78,,,,,,
18234,PRNR3,2024-02-05,11.59,"1,976,449",11.68,11.32,11.68,-0.94,-0.17,-3.25,-0.17,,,,,,
17330,PRNR3,2024-02-02,11.70,"1,048,913",11.79,11.56,11.59,,0.77,-1.20,-0.94,1,,,,,
16696,PRNR3,2024-02-01,11.70,"3,287,912",11.85,11.49,11.85,-1.27,,-3.04,,,,,,,
15826,PRNR3,2024-01-31,11.85,"1,995,919",12.02,11.77,12.00,-0.42,1.01,-1.09,0.84,1,1,,,,
15006,PRNR3,2024-01-30,11.90,"2,482,453",12.00,11.75,12.00,-0.83,,-2.08,,,,,,,
14389,PRNR3,2024-01-29,12.00,"1,762,892",12.04,11.75,11.83,,0.33,-2.08,-1.42,,,,,,
13710,PRNR3,2024-01-26,12.00,"1,974,883",12.05,11.80,12.00,-0.41,,-2.07,-0.41,,,,,,
12988,PRNR3,2024-01-25,12.05,"1,198,676",12.19,11.93,12.00,-0.50,0.66,-1.49,-0.91,1,,,,,
12145,PRNR3,2024-01-24,12.11,"1,920,653",12.11,11.49,11.60,4.40,4.40,-0.95,,1,1,1,1,1,1
11453,PRNR3,2024-01-23,11.60,"1,911,744",11.65,11.20,11.29,3.11,3.56,-0.44,0.36,1,1,1,1,1,1
10590,PRNR3,2024-01-22,11.25,"1,689,106",11.30,10.94,11.20,0.54,0.98,-2.23,0.09,1,,,,,
9896,PRNR3,2024-01-19,11.19,"1,566,644",11.27,10.84,11.22,-0.18,0.54,-3.30,0.09,1,,,,,
8965,PRNR3,2024-01-18,11.21,"2,035,006",11.35,10.94,11.22,-1.23,,-3.61,-1.15,,,,,,
8395,PRNR3,2024-01-17,11.35,"1,759,440",11.35,10.83,11.00,3.18,3.18,-1.55,,1,1,1,1,1,1
7447,PRNR3,2024-01-16,11.00,"1,687,431",11.15,10.80,11.14,-2.65,-1.33,-4.42,-1.42,,,,,,
6934,PRNR3,2024-01-15,11.30,"1,390,188",11.45,11.09,11.45,-1.31,,-3.14,,,,,,,
6227,PRNR3,2024-01-12,11.45,"1,471,943",11.73,11.33,11.70,-1.72,0.69,-2.75,0.43,1,,,,,
5331,PRNR3,2024-01-11,11.65,"5,116,377",11.70,11.06,11.15,5.91,6.36,0.55,1.36,1,1,1,1,1,1
4581,PRNR3,2024-01-10,11.00,"5,296,531",11.23,10.86,11.23,-1.43,0.63,-2.69,0.63,1,,,,,
3894,PRNR3,2024-01-09,11.16,"2,667,673",11.43,11.02,11.40,-2.70,-0.35,-3.92,-0.61,,,,,,
3167,PRNR3,2024-01-08,11.47,"1,048,687",11.52,11.15,11.28,1.68,2.13,-1.15,,1,1,1,1,,
2484,PRNR3,2024-01-05,11.28,"1,097,857",11.70,11.28,11.38,-0.88,2.81,-0.88,,1,1,1,1,1,
1579,PRNR3,2024-01-04,11.38,"1,903,673",11.74,11.38,11.65,-3.31,-0.25,-3.31,-1.02,,,,,,
1042,PRNR3,2024-01-03,11.77,"1,646,763",11.82,11.31,11.31,2.53,2.96,-1.48,-1.48,1,1,1,1,1,
219,PRNR3,2024-01-02,11.48,"2,382,316",11.72,11.16,11.69,-76.95,-76.47,-77.59,-76.53,,,,,,

### Ações presentes em todos os períodos

In [20]:
merge_final

Empty DataFrame
Columns: [cdAcao]
Index: []

In [94]:
merge_max

,cdAcao,dtPregao_x,vrVolume_x,pcVar_x,vrVolume_y,pcVar_y,dtPregao_y
56,AZEV4,2024-04-03,"1,649,562.00",1.89,"16,983,086.00",23.15,2024-04-04
134,CBAV3,2024-04-03,"10,752,520.00",0.25,"33,909,954.00",7.16,2024-04-04
360,LIGT3,2024-04-03,"3,658,987.00",0.77,"20,118,638.00",9.94,2024-04-04
440,OIBR3,2024-04-03,"2,580,087.00",-1.54,"15,275,113.00",4.69,2024-04-04
463,PETR3,2024-04-03,"454,662,328.00",-0.78,"1,405,401,820.00",-0.46,2024-04-04
464,PETR4,2024-04-03,"1,210,506,567.00",-0.52,"6,399,041,382.00",-1.41,2024-04-04
482,PRNR3,2024-04-03,"3,372,495.00",1.45,"10,597,700.00",4.87,2024-04-04
538,SANB3,2024-04-03,"1,018,698.00",-0.30,"4,829,449.00",1.36,2024-04-04
539,SANB4,2024-04-03,"1,278,518.00",-1.01,"5,419,839.00",2.91,2024-04-04

### ======================================== TESTES ========================================

In [21]:
bla

NameError: name 'bla' is not defined

### Comparar Maiores Lucros

In [ ]:
df_original = df.copy()

In [ ]:
df = df_original.copy()

In [ ]:
df_teste = df_original.copy()

In [ ]:
dt_max = df_teste["dtPregao"].max()
df_teste = df_teste.loc[df_teste["dtPregao"] != dt_max]

In [ ]:
d05 = monta_tabela(monta_df_periodos(df_teste, 5), 3000000, '1.0%', 5, 2)
d05

In [ ]:
consulta_acao(df_teste, "RAIZ4")

### ----------------------------------------------------------------------------

In [ ]:
df_1 = monta_lucro_periodo(df, 10, 0, True)
df_2 = monta_lucro_periodo(df, 10, 1, True)

In [ ]:
df_final = df_1.copy()
df_final['posicao ant'], df_final['mudanca'] = [
    df_2['posicao']
    , df_2['posicao'] - df_1['posicao']
]
df_final['posicao ant'] = df_final['posicao ant'].fillna(0).astype('int')
df_final['mudanca'] = df_final['mudanca'].fillna(0).astype('int')

In [ ]:
df_final.sort_values(["mudanca"], ascending=False)

In [ ]:
df_final.sort_values(["mudanca"], ascending=False).loc[df_final['posicao ant'] <= 10]

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
# dfDtMin = df5d.loc[(df["dtPregao"] == dt_min_5d) & (df["cdAcao"] == 'PTBL3')]

df5d  = busca_periodos(df, 5)
df25d = busca_periodos(df, 25)

dt_min_5d  = df5d["dtPregao"].min()
dt_min_25d = df25d["dtPregao"].min()
dt_max     = df5d["dtPregao"].max()
dfDtMin5d  = df5d.loc[(df5d["dtPregao"] == dt_min_5d)].set_index(["cdAcao"])
dfDtMin25d = df25d.loc[(df25d["dtPregao"] == dt_min_25d)].set_index(["cdAcao"])
dfDtMax    = df5d.loc[(df5d["dtPregao"] == dt_max)].set_index(["cdAcao"])
dfAvgVol5d  = busca_media(df5d, "vrVolume", "vol").set_index(["cdAcao"])
dfAvgVol25d = busca_media(df25d, "vrVolume", "vol").set_index(["cdAcao"])

In [ ]:
 dfPc5d = pd.DataFrame({
         "dtInicio":dfDtMin5d["dtPregao"] ,"dtFim":dfDtMax["dtPregao"]
        ,"vrInicio":dfDtMin5d["vrFech"]   ,"vrFim":dfDtMax["vrFech"]
        ,"pcPeriodo":((dfDtMax["vrFech"] - dfDtMin5d["vrFech"]) / dfDtMin5d["vrFech"]) * 100
        ,"avgVol":dfAvgVol5d["vol"]
    })

In [ ]:
 dfPc25d = pd.DataFrame({
         "dtInicio":dfDtMin25d["dtPregao"] ,"dtFim":dfDtMax["dtPregao"]
        ,"vrInicio":dfDtMin25d["vrFech"]   ,"vrFim":dfDtMax["vrFech"]
        ,"pcPeriodo":((dfDtMax["vrFech"] - dfDtMin25d["vrFech"]) / dfDtMin25d["vrFech"]) * 100
        ,"avgVol":dfAvgVol25d["vol"]
    })

In [ ]:
# dfPc25d.sort_values(["pcPeriodo"], ascending=False).loc[(dfPc25d["avgVol"] > 6000000)]

In [ ]:
# dfPc5d.sort_values(["pcPeriodo"], ascending=False).loc[(dfPc5d["avgVol"] > 6000000)]

In [ ]:
# dfPc25d['pcPeriodo']

In [ ]:
df_temp = monta_lucro_periodo(df, 25, 0, True)
# monta_lucro_periodo(df, 25, 0)

In [ ]:
# df_temp

In [ ]:
df_n_dias = busca_periodos(df, 26)

dias_ant = 2
i = 0
while i <= dias_ant:
    dt_max  = df_n_dias["dtPregao"].max()
    df_n_dias = df_n_dias.loc[df_n_dias["dtPregao"] != dt_max]
    i += 1
    
dt_max

In [ ]:
### 25 dias, Order by 0.5% # df05.loc[(df05["AvgVol"] > 6000000) & (df05["0.5%"] >= 23) & (df05["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)
### 20 dias, Order by 0.5% # df05_20d.loc[(df05_20d["AvgVol"] > 6000000) & (df05_20d["0.5%"] >= 19) & (df05_20d["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)
### 15 dias, Order by 0.5% # df05_15d.loc[(df05_15d["AvgVol"] > 6000000) & (df05_15d["0.5%"] >= 15) & (df05_15d["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)

## Definindo valores para compra

In [ ]:
# Valor disponível para cmp / 1000
# Valor da ação no leilão
vr_corretagem = 9.8
emolumentos = 0.000325
acao = 'LIGT3'
vr_disp = 110
vr_acao_leilao = 1148 / 100
vr_qtd = round((vr_disp * 1000) / (vr_acao_leilao * 100)) * 100

In [ ]:
vr_cmp = round(vr_acao_leilao * 1.014, 2)

vr_tot_cmp = vr_acao_leilao * vr_qtd
corret_cmp = vr_corretagem + (vr_tot_cmp * emolumentos)
vr_tot_liq_cmp = vr_tot_cmp + corret_cmp

vr_acao_vnd_10 = float('{0:.2f}'.format(vr_acao_leilao * 1.0108 + 0.01))
vr_tot_vnd_10 = vr_acao_vnd_10 * vr_qtd
corret_vnd_10 = vr_corretagem + (vr_tot_vnd_10 * emolumentos)
vr_tot_liq_vnd_10 = vr_tot_vnd_10 - corret_vnd_10

vr_acao_vnd_15 = float('{0:.2f}'.format(vr_acao_leilao * 1.0158 + 0.01))
vr_tot_vnd_15 = vr_acao_vnd_15 * vr_qtd
corret_vnd_15 = vr_corretagem + (vr_tot_vnd_15 * emolumentos)
vr_tot_liq_vnd_15 = vr_tot_vnd_15 - corret_vnd_15

In [ ]:
d = {'Compra':     ['Quantidade', 'Valor Leilão', 'Total', 'Total líquido', 'Corretagem Compra'],
     ' ':          [vr_qtd, vr_acao_leilao, vr_tot_cmp, vr_tot_liq_cmp, corret_cmp],
     'Venda 1,0%': ['Valor compra', 'Valor', 'Total', 'Total líquido', 'Corretagem Venda'],
     '1,0%':       [vr_cmp, vr_acao_vnd_10, vr_tot_vnd_10, vr_tot_liq_vnd_10, corret_vnd_10],
     'Venda 1,5%': [' ', 'Valor', 'Total', 'Total líquido', 'Corretagem Venda'],
     '1,5%':       [' ', vr_acao_vnd_15, vr_tot_vnd_15, vr_tot_liq_vnd_15, corret_vnd_15]
    }
df_calc = pd.DataFrame(data=d)
df_calc

In [ ]:
d2 = {'Index':      ['Quantidade', 'Valor', 'Total', 'Total líquido', 'Corretagem'],
      'Compra':     [vr_qtd, vr_cmp, vr_tot_cmp, vr_tot_liq_cmp, corret_cmp],
      'Venda 1.0%': [vr_qtd, vr_acao_vnd_10, vr_tot_vnd_10, vr_tot_liq_vnd_10, corret_vnd_10],
      'Venda 1.5%': [vr_qtd, vr_acao_vnd_15, vr_tot_vnd_15, vr_tot_liq_vnd_15, corret_vnd_15]
     }
df_calc2 = pd.DataFrame(data=d2)
df_calc2.set_index('Index')
df_calc2

In [ ]:
time.asctime( time.localtime(time.time()) )