# ++ Carregar dados históricos da Bovespa em Dataframe para análise ++

In [1]:
import time
time.asctime( time.localtime(time.time()) )

'Thu May 25 15:47:25 2023'

In [2]:
import pandas as pd
from datetime import date, datetime, timedelta
# pd.__version__

In [3]:
from IPython.display import FileLink, FileLinks
FileLink('Manipulação CSV BB.ipynb')

C:\Users\F0435280\OneDrive - Banco do Brasil S.A\Área de Trabalho\Alexandre\StockManager-main\Manipulação CSV BB.ipynb

In [4]:
# Setando opção do Pandas para mostrar todas as linhas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Setando separador de milhar
pd.options.display.float_format = '{:,.2f}'.format

In [5]:
from pacote.functions import *

In [6]:
# LISTA_ARQUIVOS = ['A2023', 'M112022', 'M122022']
LISTA_ARQUIVOS = ['A2023']

In [7]:
df = carrega_dados(LISTA_ARQUIVOS)

In [8]:
from IPython.display import Markdown, display

# Monday is 0 and Sunday is 6.
dia_semana  = datetime.today().weekday()
ajuste_dias = -3 if dia_semana == 0 else -1
dt_esperado_ult = (datetime.today() + timedelta(days=ajuste_dias)).strftime('%Y-%m-%d')
dt_max = str(df["dtPregao"].max()).split()[0]

if dt_esperado_ult == dt_max:
    font_color="alert-success"
    a = "Atualizado!"
else:
    font_color="alert-danger"
    a = "Desatualizado!!! Última data " + str(dt_max)
def printmd(string):
    display(Markdown(string))

In [9]:
# df_n_dias, vol, col_pc, pc_min, avg_vr_fech
d25 = monta_tabela(monta_df_periodos(df, 25), 6000000, '1.0%', 22, 2)
d20 = monta_tabela(monta_df_periodos(df, 20), 6000000, '1.0%', 19, 2)
d15 = monta_tabela(monta_df_periodos(df, 15), 6000000, '1.0%', 15, 2)
d10 = monta_tabela(monta_df_periodos(df, 10), 6000000, '1.0%', 10, 2)
d05 = monta_tabela(monta_df_periodos(df, 5), 6000000, '1.0%', 5, 2)
merge1 = pd.merge(d25['cdAcao'], d20['cdAcao'], how ='inner', on =['cdAcao'])
merge2 = pd.merge(merge1, d15['cdAcao'], how ='inner', on =['cdAcao'])
merge3 = pd.merge(merge2, d10['cdAcao'], how ='inner', on =['cdAcao'])
merge_final = pd.merge(merge3, d05['cdAcao'], how ='inner', on =['cdAcao'])

In [10]:
printmd(f'**<div class={font_color}>Arquivo {a}</div>**')

**<div class=alert-success>Arquivo Atualizado!</div>**

### 25 dias, order by 1%

In [11]:
d25

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
342,RCSL3,23,23,23,22,20,17,"6,225,052.04",2.39,-2.57
378,SMFT3,23,23,21,21,14,10,"49,012,757.96",15.79,0.02
148,DASA3,23,23,21,20,17,15,"7,153,279.64",9.43,0.05
219,HBSA3,23,23,19,17,11,9,"12,322,763.84",2.68,0.29
338,RAIZ4,22,22,22,17,13,11,"78,186,975.44",3.28,0.14
253,LIGT3,23,22,21,21,21,21,"61,916,224.20",3.57,-0.74
275,MLAS3,23,22,21,19,18,18,"8,879,496.48",2.05,0.02
280,MOVI3,24,22,19,17,14,13,"42,573,363.40",9.51,-0.04
341,RAPT4,24,22,18,11,8,6,"25,891,029.76",9.13,-0.15

### 20 dias, order by 1%

In [12]:
d20

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
147,DASA3,20,20,19,18,15,14,"7,606,344.55",9.99,0.01
377,SMFT3,20,20,18,18,11,8,"55,759,845.75",16.17,0.26
218,HBSA3,20,20,16,14,10,8,"12,923,319.75",2.74,0.28
398,TEND3,19,19,19,17,15,15,"32,597,971.65",6.90,0.80
33,AZUL4,19,19,18,16,14,12,"217,564,642.95",12.53,0.41
279,MOVI3,20,19,16,14,12,11,"44,738,374.70",9.91,-0.04
340,RAPT4,20,19,16,10,7,5,"26,329,680.00",9.43,-0.19
289,MYPK3,19,19,14,8,7,5,"23,333,760.50",11.66,-0.04

### 15 dias, order by 1%

In [13]:
d15

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
145,DASA3,15,15,14,14,12,11,"6,865,304.47",10.64,0.18
144,CYRE3,15,15,14,13,8,4,"90,630,307.20",16.66,0.03
374,SMFT3,15,15,13,13,7,4,"66,040,566.87",16.52,0.31
419,VBBR3,15,15,13,12,10,8,"248,444,070.47",15.17,0.13
348,ROMI3,15,15,12,10,8,7,"8,329,254.87",14.95,0.48
337,RAPT4,15,15,12,7,6,4,"28,751,297.53",9.81,-0.35
216,HBSA3,15,15,11,9,7,6,"14,081,243.80",2.79,0.19

### 10 dias, order by 1%

In [14]:
d10

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
330,RAIZ4,10,10,10,6,5,3,"104,631,042.70",3.44,0.32
143,DASA3,10,10,9,9,7,6,"6,668,887.60",10.93,-0.29
415,VBBR3,10,10,9,8,7,5,"285,084,066.60",15.77,-0.27
142,CYRE3,10,10,9,8,4,1,"94,964,420.50",17.00,-0.07
403,TUPY3,10,10,9,7,5,3,"19,234,105.00",24.25,0.77
212,HBSA3,10,10,8,8,6,5,"15,898,526.60",2.86,0.32
278,MTRE3,10,10,8,8,5,5,"6,733,055.90",4.53,0.08
370,SMFT3,10,10,8,8,4,3,"76,649,590.60",16.86,0.40
283,MYPK3,10,10,8,3,3,2,"20,327,844.50",11.99,-0.02
344,ROMI3,10,10,7,6,6,5,"8,343,641.40",15.20,0.23
333,RAPT4,10,10,7,3,3,2,"30,176,375.70",10.19,-0.45

### 5 dias, order by 1%

In [15]:
d05

,cdAcao,0.5%,1.0%,1.5%,2.0%,2.5%,3.0%,AvgVol,AvgVrFech,AvgPcAbert
238,LJQQ3,5,5,5,5,5,4,"30,385,251.80",4.24,0.56
137,DASA3,5,5,5,5,4,4,"6,214,006.40",11.08,0.07
400,VBBR3,5,5,5,5,4,3,"308,205,739.20",16.76,-0.24
136,CYRE3,5,5,5,5,4,1,"96,614,809.00",17.35,-0.16
417,ZAMP3,5,5,5,5,3,3,"9,722,023.40",3.88,0.32
387,TTEN3,5,5,5,5,3,1,"15,666,254.00",11.99,0.10
225,JHSF3,5,5,5,4,4,3,"18,452,223.00",4.38,-0.18
295,PETZ3,5,5,5,4,4,3,"68,939,866.00",7.43,-0.00
330,ROMI3,5,5,5,4,4,3,"9,393,922.00",15.74,0.18
401,VIIA3,5,5,5,4,4,3,"127,165,840.80",2.23,-0.09
54,BMOB3,5,5,5,4,2,1,"6,515,115.80",13.82,-0.18
239,LOGG3,5,5,5,4,2,1,"6,410,492.00",20.34,0.02
107,COGN3,5,5,5,3,3,3,"91,547,375.60",2.61,-0.07
363,STBP3,5,5,5,3,3,3,"54,203,834.60",9.69,0.02
388,TUPY3,5,5,5,3,3,2,"18,520,473.40",24.85,0.80
316,RAIZ4,5,5,5,3,3,1,"95,870,105.40",3.59,0.33
362,SQIA3,5,5,5,2,2,1,"12,316,016.40",18.78,-0.21
258,MLAS3,5,5,4,4,4,4,"10,582,735.00",2.22,0.38
47,BLAU3,5,5,4,4,4,3,"7,948,876.80",21.16,0.20
204,HBSA3,5,5,4,4,4,3,"15,783,438.60",2.93,0.07
343,SBFG3,5,5,4,4,4,3,"19,445,920.80",9.17,-0.43
23,ARML3,5,5,4,4,4,2,"12,963,992.60",15.46,0.55
252,MEGA3,5,5,4,4,3,3,"9,397,246.40",9.28,0.09
351,SIMH3,5,5,4,4,3,3,"25,051,309.60",8.81,0.41
268,MTRE3,5,5,4,4,1,1,"9,283,473.00",4.77,-0.56
355,SMFT3,5,5,4,4,1,1,"79,746,783.00",16.82,-0.03
217,IRBR3,5,5,4,3,3,3,"97,253,925.00",35.11,0.14
256,MGLU3,5,5,4,3,3,3,"490,437,851.40",3.65,-0.21
302,PNVL3,5,5,4,3,3,3,"6,159,622.00",11.38,0.57
310,PTBL3,5,5,4,3,3,3,"6,756,893.40",6.05,-0.24
12,ALPA4,5,5,4,3,3,2,"171,964,046.20",9.77,3.07
177,EZTC3,5,5,4,3,3,2,"43,605,722.20",16.53,-0.75
284,ONCO3,5,5,4,3,3,2,"27,971,269.00",10.75,0.07
334,RRRP3,5,5,4,3,3,1,"315,893,359.80",32.19,0.61
356,SMTO3,5,5,4,3,2,0,"70,138,707.00",35.83,0.03
370,TASA4,5,5,4,3,1,1,"11,162,830.40",14.58,0.38
317,RANI3,5,5,4,2,2,2,"7,365,766.60",8.73,0.30
399,VAMO3,5,5,4,2,2,2,"81,955,292.60",12.64,-0.22
272,MYPK3,5,5,4,2,2,1,"16,144,486.80",12.19,-0.18
278,NTCO3,5,5,4,2,2,1,"202,919,546.00",13.37,-0.22
379,TIMS3,5,5,4,2,0,0,"80,563,485.40",14.05,-0.14
191,GGPS3,5,5,4,0,0,0,"24,813,388.80",14.62,-0.15
188,GFSA3,5,5,3,3,3,3,"10,944,521.20",5.40,-0.14
192,GMAT3,5,5,3,3,2,2,"39,766,986.80",6.64,-0.12
216,INTB3,5,5,3,2,2,1,"28,817,336.40",26.22,0.09
114,CRFB3,5,5,3,1,1,1,"75,756,302.60",9.95,-0.18
319,RAPT4,5,5,3,1,1,1,"24,062,932.00",10.34,-0.35

In [16]:
printmd(f'**<div class={font_color}>Status {a}</div>**')

**<div class=alert-success>Status Atualizado!</div>**

### Consulta ação específica

In [17]:
consulta_acao(df, "AZUL4")

,cdAcao,dtPregao,vrFech,vrVolume,vrMaxDia,vrMinDia,vrAbert,pcVar,pcMaxDia,pcMinDia,pcAbert,ic05,ic10,ic15,ic20,ic25,ic30
36332,AZUL4,2023-05-24,14.69,"169,615,312",14.95,14.22,14.74,-1.61,0.13,-4.76,-1.27,,,,,,
35672,AZUL4,2023-05-23,14.93,"244,804,708",15.81,14.84,15.44,-3.05,2.66,-3.64,0.26,1,1,1,1,1,
35431,AZUL4,2023-05-22,15.40,"417,170,192",15.91,14.51,14.58,9.38,13.00,3.05,3.55,1,1,1,1,1,1
34954,AZUL4,2023-05-19,14.08,"167,903,779",14.73,13.97,14.45,-2.90,1.59,-3.66,-0.34,1,1,1,,,
34586,AZUL4,2023-05-18,14.50,"236,413,145",14.62,14.08,14.19,2.11,2.96,-0.85,-0.07,1,1,1,1,1,
34439,AZUL4,2023-05-17,14.20,"417,143,374",14.40,12.53,12.67,14.89,16.50,1.38,2.51,1,1,1,1,1,1
33867,AZUL4,2023-05-16,12.36,"238,089,640",13.44,12.16,12.66,-3.13,5.33,-4.70,-0.78,1,1,1,1,1,1
33429,AZUL4,2023-05-15,12.76,"396,792,656",13.09,11.35,13.06,-0.78,1.79,-11.74,1.56,1,1,1,,,
33289,AZUL4,2023-05-12,12.86,"230,781,396",13.14,12.62,12.97,-0.85,1.31,-2.70,,1,1,,,,
32967,AZUL4,2023-05-11,12.97,"231,308,219",13.03,12.25,12.31,5.53,6.02,-0.33,0.16,1,1,1,1,1,1
32322,AZUL4,2023-05-10,12.29,"186,875,729",12.33,11.75,11.75,4.42,4.76,-0.17,-0.17,1,1,1,1,1,1
32204,AZUL4,2023-05-09,11.77,"136,951,098",11.99,11.57,11.67,0.43,2.30,-1.28,-0.43,1,1,1,1,,
31739,AZUL4,2023-05-08,11.72,"113,156,483",12.11,11.65,11.71,0.77,4.13,0.17,0.69,1,1,1,1,1,1
31465,AZUL4,2023-05-05,11.63,"150,563,125",11.84,11.23,11.44,2.65,4.50,-0.88,0.97,1,1,1,1,1,1
30929,AZUL4,2023-05-04,11.33,"163,290,180",11.56,10.98,11.34,0.27,2.30,-2.83,0.35,1,1,1,1,,
30378,AZUL4,2023-05-03,11.30,"203,542,932",11.54,10.63,10.78,4.92,7.15,-1.30,0.09,1,1,1,1,1,1
30140,AZUL4,2023-05-02,10.77,"149,499,581",11.34,10.69,10.90,-0.83,4.42,-1.57,0.37,1,1,1,1,1,1
29728,AZUL4,2023-04-28,10.86,"164,062,371",10.97,10.15,10.18,6.47,7.55,-0.49,-0.20,1,1,1,1,1,1
29346,AZUL4,2023-04-27,10.20,"139,252,326",10.31,9.74,9.87,3.24,4.35,-1.42,-0.10,1,1,1,1,1,1
28977,AZUL4,2023-04-26,9.88,"194,076,613",10.71,9.82,10.41,-4.17,3.88,-4.75,0.97,1,1,1,1,1,1
28500,AZUL4,2023-04-25,10.31,"125,220,144",10.64,10.12,10.59,-2.92,0.19,-4.71,-0.28,,,,,,
28328,AZUL4,2023-04-24,10.62,"73,511,351",10.88,10.52,10.66,-0.93,1.49,-1.87,-0.56,1,1,,,,
27816,AZUL4,2023-04-20,10.72,"120,053,443",10.79,10.44,10.68,0.19,0.84,-2.43,-0.19,1,,,,,
27721,AZUL4,2023-04-19,10.70,"121,249,204",11.04,10.63,11.04,-3.78,-0.72,-4.41,-0.72,,,,,,
27027,AZUL4,2023-04-18,11.12,"133,147,609",11.54,10.99,11.48,-2.37,1.32,-3.51,0.79,1,1,,,,
26787,AZUL4,2023-04-17,11.39,"117,204,153",11.74,11.25,11.71,-1.56,1.47,-2.77,1.21,1,1,,,,
26365,AZUL4,2023-04-14,11.57,"138,345,098",11.95,11.46,11.95,-3.34,-0.17,-4.26,-0.17,,,,,,
26098,AZUL4,2023-04-13,11.97,"140,068,024",12.33,11.68,12.18,-1.48,1.48,-3.87,0.25,1,1,,,,
25566,AZUL4,2023-04-12,12.15,"249,424,940",12.75,11.86,12.35,-1.06,3.83,-3.42,0.57,1,1,1,1,1,1
25207,AZUL4,2023-04-11,12.28,"268,869,606",12.35,11.00,11.00,13.81,14.46,1.95,1.95,1,1,1,1,1,1
24885,AZUL4,2023-04-10,10.79,"126,172,494",11.22,10.63,10.85,0.28,4.28,-1.21,0.84,1,1,1,1,1,1
24682,AZUL4,2023-04-06,10.76,"120,783,179",10.89,10.43,10.76,-0.37,0.83,-3.43,-0.37,1,,,,,
24207,AZUL4,2023-04-05,10.80,"156,346,989",11.34,10.47,11.24,-3.66,1.16,-6.60,0.27,1,1,,,,
23759,AZUL4,2023-04-04,11.21,"110,091,423",11.90,11.21,11.66,-2.78,3.21,-2.78,1.13,1,1,1,1,1,1
23309,AZUL4,2023-04-03,11.53,"109,110,461",11.83,11.32,11.60,-4.16,-1.66,-5.90,-3.57,,,,,,
23190,AZUL4,2023-03-31,12.03,"114,491,120",12.45,11.67,12.20,-0.74,2.72,-3.71,0.66,1,1,1,1,1,
22609,AZUL4,2023-03-30,12.12,"134,893,133",12.62,11.84,11.84,3.77,8.05,1.37,1.37,1,1,1,1,1,1
22451,AZUL4,2023-03-29,11.68,"117,245,740",11.89,11.24,11.81,-0.68,1.11,-4.42,0.43,1,1,,,,
21913,AZUL4,2023-03-28,11.76,"99,790,907",11.76,11.08,11.29,3.70,3.70,-2.29,-0.44,1,1,1,1,1,1
21590,AZUL4,2023-03-27,11.34,"94,799,782",11.98,11.26,11.88,-2.91,2.57,-3.60,1.71,1,1,1,1,1,
21161,AZUL4,2023-03-24,11.68,"116,621,062",11.75,11.09,11.29,4.38,5.00,-0.89,0.89,1,1,1,1,1,1
20764,AZUL4,2023-03-23,11.19,"161,841,999",12.42,10.98,12.36,-8.88,1.14,-10.59,0.65,1,1,,,,
20304,AZUL4,2023-03-22,12.28,"133,831,360",13.08,12.21,12.98,-5.10,1.08,-5.64,0.31,1,1,,,,
20015,AZUL4,2023-03-21,12.94,"125,099,530",13.26,12.82,12.92,1.09,3.59,0.16,0.94,1,1,1,1,1,1
19837,AZUL4,2023-03-20,12.80,"137,974,148",13.50,12.74,13.09,-1.39,4.01,-1.85,0.85,1,1,1,1,1,1
19350,AZUL4,2023-03-17,12.98,"127,806,803",13.53,12.76,13.33,-2.84,1.27,-4.49,-0.22,1,1,,,,
18943,AZUL4,2023-03-16,13.36,"207,556,993",13.56,12.70,12.86,3.41,4.95,-1.70,-0.46,1,1,1,1,1,1
18620,AZUL4,2023-03-15,12.92,"182,803,408",13.04,12.12,12.56,1.49,2.44,-4.79,-1.34,1,1,1,1,,
18292,AZUL4,2023-03-14,12.73,"175,446,928",12.94,12.43,12.54,2.83,4.52,0.40,1.29,1,1,1,1,1,1
17739,AZUL4,2023-03-13,12.38,"243,117,480",13.09,11.96,12.51,-2.06,3.56,-5.38,-1.03,1,1,1,1,1,1
17634,AZUL4,2023-03-10,12.64,"399,516,329",14.70,12.54,13.93,-11.30,3.16,-12.00,-2.25,1,1,1,1,1,1
17012,AZUL4,2023-03-09,14.25,"436,036,461",14.25,11.85,11.96,18.95,18.95,-1.09,-0.17,1,1,1,1,1,1
16670,AZUL4,2023-03-08,11.98,"383,677,321",12.54,11.51,11.92,-0.17,4.50,-4.08,-0.67,1,1,1,1,1,1
16418,AZUL4,2023-03-07,12.00,"749,004,504",12.10,9.36,10.03,20.12,21.12,-6.31,0.40,1,1,1,1,1,1
15977,AZUL4,2023-03-06,9.99,"761,026,157",11.49,8.20,8.45,37.98,58.70,13.26,16.71,1,1,1,1,1,1
15603,AZUL4,2023-03-03,7.24,"138,916,415",7.33,6.79,6.83,6.63,7.95,,0.59,1,1,1,1,1,1
15274,AZUL4,2023-03-02,6.79,"76,391,919",6.99,6.71,6.91,-1.45,1.45,-2.61,0.29,1,1,,,,
15017,AZUL4,2023-03-01,6.89,"133,650,909",7.28,6.73,7.21,-3.37,2.10,-5.61,1.12,1,1,1,1,,
14515,AZUL4,2023-02-28,7.13,"136,512,407",7.55,7.07,7.45,-3.65,2.03,-4.46,0.68,1,1,1,1,,
14104,AZUL4,2023-02-27,7.40,"118,553,524",7.84,7.34,7.62,-2.89,2.89,-3.67,,1,1,1,1,1,
13930,AZUL4,2023-02-24,7.62,"130,159,847",7.72,7.20,7.24,4.96,6.34,-0.83,-0.28,1,1,1,1,1,1
13653,AZUL4,2023-02-23,7.26,"135,343,872",7.58,7.19,7.42,-1.22,3.13,-2.18,0.95,1,1,1,1,1,1
13153,AZUL4,2023-02-22,7.35,"87,411,359",7.74,7.25,7.74,-5.65,-0.64,-6.93,-0.64,,,,,,
12665,AZUL4,2023-02-17,7.79,"162,460,207",8.15,7.77,7.99,-2.99,1.49,-3.24,-0.50,1,1,,,,
12376,AZUL4,2023-02-16,8.03,"146,187,063",8.49,7.87,8.37,-4.52,0.95,-6.42,-0.48,1,,,,,
12188,AZUL4,2023-02-15,8.41,"209,707,389",8.68,7.88,8.00,5.13,8.50,-1.50,,1,1,1,1,1,1
11522,AZUL4,2023-02-14,8.00,"197,053,602",8.62,7.85,8.50,-5.10,2.25,-6.88,0.83,1,1,1,1,,
11317,AZUL4,2023-02-13,8.43,"163,708,359",8.87,8.40,8.82,-4.31,0.68,-4.65,0.11,1,,,,,
11072,AZUL4,2023-02-10,8.81,"284,971,774",9.75,8.36,9.67,-7.46,2.42,-12.18,1.58,1,1,1,1,,
10485,AZUL4,2023-02-09,9.52,"283,165,340",10.85,9.49,10.77,-11.85,0.46,-12.13,-0.28,,,,,,
10148,AZUL4,2023-02-08,10.80,"160,298,604",11.30,10.68,11.23,-2.35,2.17,-3.44,1.54,1,1,1,1,,
9810,AZUL4,2023-02-07,11.06,"195,695,745",12.00,11.00,11.44,-3.15,5.08,-3.68,0.18,1,1,1,1,1,1
9558,AZUL4,2023-02-06,11.42,"92,513,918",11.62,11.27,11.42,,1.75,-1.31,,1,1,1,,,
9096,AZUL4,2023-02-03,11.42,"168,005,698",12.43,11.33,12.36,-8.20,-0.08,-8.92,-0.64,,,,,,
8537,AZUL4,2023-02-02,12.44,"291,922,257",12.95,11.49,11.52,7.15,11.54,-1.03,-0.78,1,1,1,1,1,1
8176,AZUL4,2023-02-01,11.61,"144,142,382",11.98,11.23,11.88,-2.03,1.10,-5.23,0.25,1,1,,,,
7832,AZUL4,2023-01-31,11.85,"109,170,463",12.05,11.55,11.58,2.33,4.06,-0.26,,1,1,1,1,1,1
7466,AZUL4,2023-01-30,11.58,"74,605,678",11.97,11.38,11.78,-1.53,1.79,-3.23,0.17,1,1,1,,,
7131,AZUL4,2023-01-27,11.76,"80,912,496",12.08,11.63,12.04,-2.33,0.33,-3.41,,,,,,,
6974,AZUL4,2023-01-26,12.04,"102,118,611",12.30,11.91,12.05,0.42,2.59,-0.67,0.50,1,1,1,1,1,
6443,AZUL4,2023-01-25,11.99,"102,606,079",12.13,11.42,11.72,2.13,3.32,-2.73,-0.17,1,1,1,1,1,1
6162,AZUL4,2023-01-24,11.74,"90,933,587",11.74,11.28,11.41,3.16,3.16,-0.88,0.26,1,1,1,1,1,1
5668,AZUL4,2023-01-23,11.38,"95,209,699",11.81,11.25,11.31,1.16,4.98,,0.53,1,1,1,1,1,1
5231,AZUL4,2023-01-20,11.25,"146,178,608",11.64,11.20,11.53,-2.00,1.39,-2.44,0.44,1,1,,,,
4858,AZUL4,2023-01-19,11.48,"122,399,716",11.53,11.09,11.36,-0.26,0.17,-3.65,-1.30,,,,,,
4588,AZUL4,2023-01-18,11.51,"121,176,717",12.09,11.43,11.55,2.13,7.28,1.42,2.48,1,1,1,1,1,1
4407,AZUL4,2023-01-17,11.27,"74,122,212",11.56,11.13,11.34,0.18,2.76,-1.07,0.80,1,1,1,1,1,
3937,AZUL4,2023-01-16,11.25,"67,659,115",11.81,11.17,11.59,-3.52,1.29,-4.20,-0.60,1,1,,,,
3464,AZUL4,2023-01-13,11.66,"104,866,571",12.29,11.60,12.17,-5.36,-0.24,-5.84,-1.22,,,,,,
3206,AZUL4,2023-01-12,12.32,"130,286,261",12.53,11.91,12.30,-0.24,1.46,-3.56,-0.40,1,1,,,,
2677,AZUL4,2023-01-11,12.35,"122,864,442",12.56,12.05,12.33,0.08,1.78,-2.35,-0.08,1,1,1,,,
2540,AZUL4,2023-01-10,12.34,"120,013,251",12.41,11.72,11.88,2.83,3.42,-2.33,-1.00,1,1,1,1,1,1
2100,AZUL4,2023-01-09,12.00,"135,587,977",12.20,11.31,11.52,1.35,3.04,-4.48,-2.70,1,1,1,1,1,1
1772,AZUL4,2023-01-06,11.84,"177,131,477",12.03,11.40,11.52,2.51,4.16,-1.30,-0.26,1,1,1,1,1,1
1138,AZUL4,2023-01-05,11.55,"192,204,929",11.55,10.40,10.63,9.38,9.38,-1.52,0.66,1,1,1,1,1,1
774,AZUL4,2023-01-04,10.56,"113,521,771",10.76,10.06,10.28,3.94,5.91,-0.98,1.18,1,1,1,1,1,1
687,AZUL4,2023-01-03,10.16,"108,615,179",10.68,10.08,10.43,-1.36,3.69,-2.14,1.26,1,1,1,1,1,1
122,AZUL4,2023-01-02,10.30,"48,496,201",10.89,10.29,10.82,698.45,744.19,697.67,738.76,1,1,1,1,1,1

### Ações presentes em todos os períodos

In [18]:
merge_final

  cdAcao
0  SMFT3
1  DASA3
2  HBSA3
3  RAPT4

### ======================================== TESTES ========================================

### Comparar Maiores Lucros

In [19]:
df_1 = monta_lucro_periodo(df, 10, 0, True)
df_2 = monta_lucro_periodo(df, 10, 1, True)

2023-05-11 >> 2023-05-24
2023-05-10 >> 2023-05-23

In [20]:
df_final = df_1.copy()
df_final['posicao ant'], df_final['mudanca'] = [
    df_2['posicao']
    , df_2['posicao'] - df_1['posicao']
]
df_final['posicao ant'] = df_final['posicao ant'].fillna(0).astype('int')
df_final['mudanca'] = df_final['mudanca'].fillna(0).astype('int')

In [21]:
df_final.sort_values(["mudanca"], ascending=False)

,dtInicio,dtFim,vrInicio,vrFim,pcPeriodo,avgVol,posicao,posicao ant,mudanca
cdAcao,,,,,,,,,
ABCB4,2023-05-11,NaT,16.50,NaN,NaN,"20,303,131.00",1,1,0
RAPT4,2023-05-11,NaT,9.89,NaN,NaN,"31,742,255.11",110,110,0
NTCO3,2023-05-11,NaT,12.92,NaN,NaN,"206,177,949.89",94,94,0
ODPV3,2023-05-11,NaT,11.07,NaN,NaN,"23,717,633.22",95,95,0
ONCO3,2023-05-11,NaT,10.12,NaN,NaN,"27,956,634.33",96,96,0
ORVR3,2023-05-11,NaT,37.50,NaN,NaN,"20,385,537.11",97,97,0
PCAR3,2023-05-11,NaT,16.24,NaN,NaN,"37,451,854.89",98,98,0
PETR3,2023-05-11,NaT,28.15,NaN,NaN,"552,482,969.11",99,99,0
PETR4,2023-05-11,NaT,25.43,NaN,NaN,"2,260,795,120.11",100,100,0
PETZ3,2023-05-11,NaT,7.37,NaN,NaN,"71,344,142.11",101,101,0
PLPL3,2023-05-11,NaT,6.49,NaN,NaN,"6,133,927.78",102,102,0
POSI3,2023-05-11,NaT,8.00,NaN,NaN,"42,830,474.22",103,103,0
PRIO3,2023-05-11,NaT,34.82,NaN,NaN,"364,306,131.78",104,104,0
PSSA3,2023-05-11,NaT,23.87,NaN,NaN,"88,111,023.11",105,105,0
PTBL3,2023-05-11,NaT,6.62,NaN,NaN,"9,339,166.22",106,106,0
RADL3,2023-05-11,NaT,27.88,NaN,NaN,"137,646,904.11",107,107,0
RAIL3,2023-05-11,NaT,20.84,NaN,NaN,"184,280,239.67",108,108,0
NEOE3,2023-05-11,NaT,15.66,NaN,NaN,"17,963,426.89",93,93,0
MYPK3,2023-05-11,NaT,11.66,NaN,NaN,"21,137,837.67",92,92,0
MULT3,2023-05-11,NaT,27.10,NaN,NaN,"150,436,752.22",91,91,0
LEVE3,2023-05-11,NaT,36.05,NaN,NaN,"17,476,551.44",82,82,0
ITSA4,2023-05-11,NaT,9.00,NaN,NaN,"191,837,655.22",76,76,0
ITUB3,2023-05-11,NaT,23.05,NaN,NaN,"11,409,204.56",77,77,0
ITUB4,2023-05-11,NaT,27.16,NaN,NaN,"728,885,931.33",78,78,0
JBSS3,2023-05-11,NaT,17.30,NaN,NaN,"317,573,420.89",79,79,0
KEPL3,2023-05-11,NaT,7.55,NaN,NaN,"16,334,116.33",80,80,0
KLBN11,2023-05-11,NaT,19.92,NaN,NaN,"155,533,287.78",81,81,0
LREN3,2023-05-11,NaT,16.92,NaN,NaN,"484,083,279.44",83,83,0
MRVE3,2023-05-11,NaT,9.11,NaN,NaN,"109,052,147.56",90,90,0
LWSA3,2023-05-11,NaT,6.16,NaN,NaN,"83,098,009.67",84,84,0
MDIA3,2023-05-11,NaT,32.50,NaN,NaN,"77,090,955.78",85,85,0
MEGA3,2023-05-11,NaT,8.95,NaN,NaN,"10,715,653.44",86,86,0
MILS3,2023-05-11,NaT,9.32,NaN,NaN,"15,900,474.00",87,87,0
MOVI3,2023-05-11,NaT,10.59,NaN,NaN,"46,442,952.44",88,88,0
MRFG3,2023-05-11,NaT,6.72,NaN,NaN,"90,442,045.44",89,89,0
RANI3,2023-05-11,NaT,8.23,NaN,NaN,"7,954,336.11",109,109,0
RDOR3,2023-05-11,NaT,25.22,NaN,NaN,"143,070,887.78",111,111,0
ABEV3,2023-05-11,NaT,14.50,NaN,NaN,"282,595,523.33",2,2,0
RECV3,2023-05-11,NaT,19.28,NaN,NaN,"65,901,641.89",112,112,0
TIMS3,2023-05-11,NaT,14.11,NaN,NaN,"77,294,469.11",131,131,0
TOTS3,2023-05-11,NaT,28.03,NaN,NaN,"125,303,768.00",132,132,0
TRPL4,2023-05-11,NaT,24.62,NaN,NaN,"48,629,039.44",133,133,0
TTEN3,2023-05-11,NaT,11.45,NaN,NaN,"13,792,956.56",134,134,0
TUPY3,2023-05-11,NaT,23.87,NaN,NaN,"19,888,736.78",135,135,0
UGPA3,2023-05-11,NaT,17.21,NaN,NaN,"127,780,416.67",136,136,0
UNIP6,2023-05-11,NaT,65.06,NaN,NaN,"18,778,683.44",137,137,0
USIM5,2023-05-11,NaT,7.44,NaN,NaN,"86,781,615.44",138,138,0
VALE3,2023-05-11,NaT,68.01,NaN,NaN,"1,805,940,135.78",139,139,0
VAMO3,2023-05-11,NaT,11.82,NaN,NaN,"80,595,396.89",140,140,0
VBBR3,2023-05-11,NaT,14.51,NaN,NaN,"280,659,233.11",141,141,0
VIVA3,2023-05-11,NaT,22.62,NaN,NaN,"72,143,432.67",142,142,0
VIVT3,2023-05-11,NaT,41.75,NaN,NaN,"80,690,182.78",143,143,0
VULC3,2023-05-11,NaT,14.80,NaN,NaN,"17,260,293.56",144,144,0
WEGE3,2023-05-11,NaT,39.32,NaN,NaN,"241,182,745.00",145,145,0
TEND3,2023-05-11,NaT,7.43,NaN,NaN,"25,032,498.22",130,130,0
TASA4,2023-05-11,NaT,16.02,NaN,NaN,"16,904,251.44",129,129,0
TAEE11,2023-05-11,NaT,37.07,NaN,NaN,"76,749,667.44",128,128,0
SBSP3,2023-05-11,NaT,48.46,NaN,NaN,"162,600,865.56",119,119,0
RENT3,2023-05-11,NaT,61.84,NaN,NaN,"547,147,316.22",113,113,0
ROMI3,2023-05-11,NaT,14.48,NaN,NaN,"8,491,954.78",114,114,0
RRRP3,2023-05-11,NaT,32.23,NaN,NaN,"285,475,059.11",115,115,0
SANB11,2023-05-11,NaT,30.03,NaN,NaN,"39,520,451.22",116,116,0
SAPR11,2023-05-11,NaT,19.72,NaN,NaN,"30,423,761.78",117,117,0
SBFG3,2023-05-11,NaT,8.71,NaN,NaN,"18,353,882.33",118,118,0
SIMH3,2023-05-11,NaT,8.24,NaN,NaN,"24,497,888.11",120,120,0
SUZB3,2023-05-11,NaT,41.57,NaN,NaN,"352,832,498.89",127,127,0
SLCE3,2023-05-11,NaT,35.05,NaN,NaN,"77,028,929.33",121,121,0
SMFT3,2023-05-11,NaT,16.65,NaN,NaN,"68,978,193.78",122,122,0
SMTO3,2023-05-11,NaT,34.27,NaN,NaN,"77,791,652.89",123,123,0
SOMA3,2023-05-11,NaT,9.96,NaN,NaN,"120,710,084.78",124,124,0
SQIA3,2023-05-11,NaT,16.60,NaN,NaN,"14,922,470.78",125,125,0
STBP3,2023-05-11,NaT,9.12,NaN,NaN,"47,892,283.44",126,126,0
IRBR3,2023-05-11,NaT,36.06,NaN,NaN,"118,536,023.22",75,75,0
INTB3,2023-05-11,NaT,25.26,NaN,NaN,"27,828,268.33",74,74,0
IGTI11,2023-05-11,NaT,21.23,NaN,NaN,"68,212,063.00",73,73,0
IBOV11,NaT,NaT,NaN,NaN,NaN,"6,754,178,880.00",72,72,0
BMOB3,2023-05-11,NaT,14.20,NaN,NaN,"8,273,646.67",21,21,0
BOAS3,2023-05-11,NaT,7.53,NaN,NaN,"8,764,873.33",22,22,0
BPAC11,2023-05-11,NaT,25.56,NaN,NaN,"257,549,344.22",23,23,0
BPAN4,2023-05-11,NaT,5.78,NaN,NaN,"13,582,543.33",24,24,0
BRAP4,2023-05-11,NaT,22.08,NaN,NaN,"96,079,244.56",25,25,0
BRFS3,2023-05-11,NaT,7.49,NaN,NaN,"212,600,801.67",26,26,0
BRKM5,2023-05-11,NaT,25.56,NaN,NaN,"143,205,922.67",27,27,0
BRSR6,2023-05-11,NaT,11.43,NaN,NaN,"22,609,668.11",28,28,0
CAML3,2023-05-11,NaT,6.92,NaN,NaN,"15,115,914.67",29,29,0
CBAV3,NaT,NaT,NaN,NaN,NaN,"23,156,422.00",30,30,0
CCRO3,2023-05-11,NaT,13.65,NaN,NaN,"120,860,969.22",31,31,0
CIEL3,2023-05-11,NaT,5.58,NaN,NaN,"146,175,925.22",32,32,0
CMIG3,2023-05-11,NaT,19.94,NaN,NaN,"7,683,713.22",33,33,0
CMIG4,2023-05-11,NaT,12.32,NaN,NaN,"99,372,706.78",34,34,0
CPFE3,2023-05-11,NaT,32.16,NaN,NaN,"72,179,893.11",35,35,0
BLAU3,2023-05-11,NaT,20.55,NaN,NaN,"7,858,707.89",20,20,0
BEEF3,2023-05-11,NaT,9.76,NaN,NaN,"108,142,009.89",19,19,0
BBSE3,2023-05-11,NaT,33.97,NaN,NaN,"251,273,623.56",18,18,0
ARML3,2023-05-11,NaT,11.41,NaN,NaN,"8,428,866.33",9,9,0
AESB3,2023-05-11,NaT,12.49,NaN,NaN,"25,132,034.22",3,3,0
AGRO3,2023-05-11,NaT,22.75,NaN,NaN,"8,960,856.78",4,4,0
ALPA4,2023-05-11,NaT,9.01,NaN,NaN,"114,240,554.11",5,5,0
ALSO3,2023-05-11,NaT,19.40,NaN,NaN,"120,897,125.89",6,6,0
ALUP11,2023-05-11,NaT,28.09,NaN,NaN,"25,092,749.67",7,7,0
AMBP3,2023-05-11,NaT,21.56,NaN,NaN,"37,795,728.44",8,8,0
ARZZ3,2023-05-11,NaT,67.37,NaN,NaN,"132,663,881.33",10,10,0
BBDC4,2023-05-11,NaT,15.40,NaN,NaN,"664,808,585.67",17,17,0
ASAI3,2023-05-11,NaT,11.68,NaN,NaN,"149,122,883.44",11,11,0
AURE3,2023-05-11,NaT,13.93,NaN,NaN,"50,561,662.67",12,12,0
AZUL4,2023-05-11,NaT,12.97,NaN,NaN,"286,711,901.00",13,13,0
B3SA3,2023-05-11,NaT,12.78,NaN,NaN,"611,143,830.00",14,14,0
BBAS3,2023-05-11,NaT,44.40,NaN,NaN,"681,035,723.44",15,15,0
BBDC3,2023-05-11,NaT,13.39,NaN,NaN,"81,108,174.89",16,16,0
CPLE11,2023-05-11,NaT,38.33,NaN,NaN,"8,282,414.00",36,36,0
CPLE3,2023-05-11,NaT,7.00,NaN,NaN,"7,778,162.67",37,37,0
CPLE6,2023-05-11,NaT,7.87,NaN,NaN,"97,664,739.22",38,38,0
GFSA3,2023-05-11,NaT,5.95,NaN,NaN,"11,188,016.67",64,64,0
EQTL3,2023-05-11,NaT,28.41,NaN,NaN,"223,896,150.89",58,58,0
EVEN3,2023-05-11,NaT,5.33,NaN,NaN,"6,186,600.89",59,59,0
EZTC3,2023-05-11,NaT,16.11,NaN,NaN,"49,370,312.56",60,60,0
FESA4,2023-05-11,NaT,49.75,NaN,NaN,"11,596,430.22",61,61,0
FLRY3,2023-05-11,NaT,16.46,NaN,NaN,"60,504,261.67",62,62,0
FRAS3,2023-05-11,NaT,10.82,NaN,NaN,"7,637,228.00",63,63,0
GGBR4,2023-05-11,NaT,24.12,NaN,NaN,"299,338,865.56",65,65,0
ENEV3,2023-05-11,NaT,11.60,NaN,NaN,"125,216,534.22",56,56,0
GGPS3,2023-05-11,NaT,14.15,NaN,NaN,"35,573,460.89",66,66,0
GMAT3,2023-05-11,NaT,6.72,NaN,NaN,"58,425,574.00",67,67,0
GOAU4,2023-05-11,NaT,11.18,NaN,NaN,"81,574,445.89",68,68,0
GOLL4,2023-05-11,NaT,7.49,NaN,NaN,"103,478,442.89",69,69,0
GRND3,2023-05-11,NaT,6.85,NaN,NaN,"20,468,096.22",70,70,0
HYPE3,2023-05-11,NaT,37.72,NaN,NaN,"138,795,114.89",71,71,0
ENGI11,2023-05-11,NaT,45.20,NaN,NaN,"146,440,634.33",57,57,0
ENBR3,2023-05-11,NaT,22.65,NaN,NaN,"40,752,934.44",55,55,0
CRFB3,2023-05-11,NaT,9.81,NaN,NaN,"87,684,409.44",39,39,0
DASA3,2023-05-11,NaT,11.73,NaN,NaN,"6,635,857.00",46,46,0
CSAN3,2023-05-11,NaT,16.39,NaN,NaN,"152,509,919.11",40,40,0
CSMG3,2023-05-11,NaT,18.48,NaN,NaN,"40,656,080.00",41,41,0
CSNA3,2023-05-11,NaT,12.81,NaN,NaN,"93,177,457.00",42,42,0
CURY3,2023-05-11,NaT,12.50,NaN,NaN,"21,269,267.33",43,43,0
CXSE3,2023-05-11,NaT,9.96,NaN,NaN,"31,992,165.11",44,44,0
CYRE3,2023-05-11,NaT,16.67,NaN,NaN,"95,745,150.89",45,45,0
DIRR3,2023-05-11,NaT,16.21,NaN,NaN,"35,326,485.11",47,47,0
ENAT3,2023-05-11,NaT,12.70,NaN,NaN,"19,993,537.22",54,54,0
DXCO3,2023-05-11,NaT,7.20,NaN,NaN,"46,663,623.67",48,48,0
ECOR3,2023-05-11,NaT,6.62,NaN,NaN,"36,894,519.44",49,49,0
EGIE3,2023-05-11,NaT,43.00,NaN,NaN,"82,900,833.44",50,50,0
ELET3,2023-05-11,NaT,36.13,NaN,NaN,"392,509,880.33",51,51,0
ELET6,2023-05-11,NaT,39.71,NaN,NaN,"123,926,098.00",52,52,0
EMBR3,2023-05-11,NaT,17.08,NaN,NaN,"165,280,635.11",53,53,0
YDUQ3,2023-05-11,NaT,12.31,NaN,NaN,"96,933,224.44",146,146,0

In [22]:
df_final.sort_values(["mudanca"], ascending=False).loc[df_final['posicao ant'] <= 10]

,dtInicio,dtFim,vrInicio,vrFim,pcPeriodo,avgVol,posicao,posicao ant,mudanca
cdAcao,,,,,,,,,
ABCB4,2023-05-11,NaT,16.50,NaN,NaN,"20,303,131.00",1,1,0
ABEV3,2023-05-11,NaT,14.50,NaN,NaN,"282,595,523.33",2,2,0
ARML3,2023-05-11,NaT,11.41,NaN,NaN,"8,428,866.33",9,9,0
AESB3,2023-05-11,NaT,12.49,NaN,NaN,"25,132,034.22",3,3,0
AGRO3,2023-05-11,NaT,22.75,NaN,NaN,"8,960,856.78",4,4,0
ALPA4,2023-05-11,NaT,9.01,NaN,NaN,"114,240,554.11",5,5,0
ALSO3,2023-05-11,NaT,19.40,NaN,NaN,"120,897,125.89",6,6,0
ALUP11,2023-05-11,NaT,28.09,NaN,NaN,"25,092,749.67",7,7,0
AMBP3,2023-05-11,NaT,21.56,NaN,NaN,"37,795,728.44",8,8,0
ARZZ3,2023-05-11,NaT,67.37,NaN,NaN,"132,663,881.33",10,10,0

In [23]:
df_1

         dtInicio dtFim  vrInicio  vrFim  pcPeriodo           avgVol  posicao
cdAcao
ABCB4  2023-05-11   NaT     16.50    NaN        NaN    20,303,131.00        1
ABEV3  2023-05-11   NaT     14.50    NaN        NaN   282,595,523.33        2
AESB3  2023-05-11   NaT     12.49    NaN        NaN    25,132,034.22        3
AGRO3  2023-05-11   NaT     22.75    NaN        NaN     8,960,856.78        4
ALPA4  2023-05-11   NaT      9.01    NaN        NaN   114,240,554.11        5
ALSO3  2023-05-11   NaT     19.40    NaN        NaN   120,897,125.89        6
ALUP11 2023-05-11   NaT     28.09    NaN        NaN    25,092,749.67        7
AMBP3  2023-05-11   NaT     21.56    NaN        NaN    37,795,728.44        8
ARML3  2023-05-11   NaT     11.41    NaN        NaN     8,428,866.33        9
ARZZ3  2023-05-11   NaT     67.37    NaN        NaN   132,663,881.33       10
ASAI3  2023-05-11   NaT     11.68    NaN        NaN   149,122,883.44       11
AURE3  2023-05-11   NaT     13.93    NaN        NaN    50,561,662.67       12
AZUL4  2023-05-11   NaT     12.97    NaN        NaN   286,711,901.00       13
B3SA3  2023-05-11   NaT     12.78    NaN        NaN   611,143,830.00       14
BBAS3  2023-05-11   NaT     44.40    NaN        NaN   681,035,723.44       15
BBDC3  2023-05-11   NaT     13.39    NaN        NaN    81,108,174.89       16
BBDC4  2023-05-11   NaT     15.40    NaN        NaN   664,808,585.67       17
BBSE3  2023-05-11   NaT     33.97    NaN        NaN   251,273,623.56       18
BEEF3  2023-05-11   NaT      9.76    NaN        NaN   108,142,009.89       19
BLAU3  2023-05-11   NaT     20.55    NaN        NaN     7,858,707.89       20
BMOB3  2023-05-11   NaT     14.20    NaN        NaN     8,273,646.67       21
BOAS3  2023-05-11   NaT      7.53    NaN        NaN     8,764,873.33       22
BPAC11 2023-05-11   NaT     25.56    NaN        NaN   257,549,344.22       23
BPAN4  2023-05-11   NaT      5.78    NaN        NaN    13,582,543.33       24
BRAP4  2023-05-11   NaT     22.08    NaN        NaN    96,079,244.56       25
BRFS3  2023-05-11   NaT      7.49    NaN        NaN   212,600,801.67       26
BRKM5  2023-05-11   NaT     25.56    NaN        NaN   143,205,922.67       27
BRSR6  2023-05-11   NaT     11.43    NaN        NaN    22,609,668.11       28
CAML3  2023-05-11   NaT      6.92    NaN        NaN    15,115,914.67       29
CBAV3         NaT   NaT       NaN    NaN        NaN    23,156,422.00       30
CCRO3  2023-05-11   NaT     13.65    NaN        NaN   120,860,969.22       31
CIEL3  2023-05-11   NaT      5.58    NaN        NaN   146,175,925.22       32
CMIG3  2023-05-11   NaT     19.94    NaN        NaN     7,683,713.22       33
CMIG4  2023-05-11   NaT     12.32    NaN        NaN    99,372,706.78       34
CPFE3  2023-05-11   NaT     32.16    NaN        NaN    72,179,893.11       35
CPLE11 2023-05-11   NaT     38.33    NaN        NaN     8,282,414.00       36
CPLE3  2023-05-11   NaT      7.00    NaN        NaN     7,778,162.67       37
CPLE6  2023-05-11   NaT      7.87    NaN        NaN    97,664,739.22       38
CRFB3  2023-05-11   NaT      9.81    NaN        NaN    87,684,409.44       39
CSAN3  2023-05-11   NaT     16.39    NaN        NaN   152,509,919.11       40
CSMG3  2023-05-11   NaT     18.48    NaN        NaN    40,656,080.00       41
CSNA3  2023-05-11   NaT     12.81    NaN        NaN    93,177,457.00       42
CURY3  2023-05-11   NaT     12.50    NaN        NaN    21,269,267.33       43
CXSE3  2023-05-11   NaT      9.96    NaN        NaN    31,992,165.11       44
CYRE3  2023-05-11   NaT     16.67    NaN        NaN    95,745,150.89       45
DASA3  2023-05-11   NaT     11.73    NaN        NaN     6,635,857.00       46
DIRR3  2023-05-11   NaT     16.21    NaN        NaN    35,326,485.11       47
DXCO3  2023-05-11   NaT      7.20    NaN        NaN    46,663,623.67       48
ECOR3  2023-05-11   NaT      6.62    NaN        NaN    36,894,519.44       49
EGIE3  2023-05-11   NaT     43.00    NaN        NaN    82,900,833.44       50
ELET3  2023-05-11   NaT     36.13    NaN        NaN   392,509,880.33       51
ELET6  2023-05-11   NaT     39.71    NaN        NaN   123,926,098.00       52
EMBR3  2023-05-11   NaT     17.08    NaN        NaN   165,280,635.11       53
ENAT3  2023-05-11   NaT     12.70    NaN        NaN    19,993,537.22       54
ENBR3  2023-05-11   NaT     22.65    NaN        NaN    40,752,934.44       55
ENEV3  2023-05-11   NaT     11.60    NaN        NaN   125,216,534.22       56
ENGI11 2023-05-11   NaT     45.20    NaN        NaN   146,440,634.33       57
EQTL3  2023-05-11   NaT     28.41    NaN        NaN   223,896,150.89       58
EVEN3  2023-05-11   NaT      5.33    NaN        NaN     6,186,600.89       59
EZTC3  2023-05-11   NaT     16.11    NaN        NaN    49,370,312.56       60
FESA4  2023-05-11   NaT     49.75    NaN        NaN    11,596,430.22       61
FLRY3  2023-05-11   NaT     16.46    NaN        NaN    60,504,261.67       62
FRAS3  2023-05-11   NaT     10.82    NaN        NaN     7,637,228.00       63
GFSA3  2023-05-11   NaT      5.95    NaN        NaN    11,188,016.67       64
GGBR4  2023-05-11   NaT     24.12    NaN        NaN   299,338,865.56       65
GGPS3  2023-05-11   NaT     14.15    NaN        NaN    35,573,460.89       66
GMAT3  2023-05-11   NaT      6.72    NaN        NaN    58,425,574.00       67
GOAU4  2023-05-11   NaT     11.18    NaN        NaN    81,574,445.89       68
GOLL4  2023-05-11   NaT      7.49    NaN        NaN   103,478,442.89       69
GRND3  2023-05-11   NaT      6.85    NaN        NaN    20,468,096.22       70
HYPE3  2023-05-11   NaT     37.72    NaN        NaN   138,795,114.89       71
IBOV11        NaT   NaT       NaN    NaN        NaN 6,754,178,880.00       72
IGTI11 2023-05-11   NaT     21.23    NaN        NaN    68,212,063.00       73
INTB3  2023-05-11   NaT     25.26    NaN        NaN    27,828,268.33       74
IRBR3  2023-05-11   NaT     36.06    NaN        NaN   118,536,023.22       75
ITSA4  2023-05-11   NaT      9.00    NaN        NaN   191,837,655.22       76
ITUB3  2023-05-11   NaT     23.05    NaN        NaN    11,409,204.56       77
ITUB4  2023-05-11   NaT     27.16    NaN        NaN   728,885,931.33       78
JBSS3  2023-05-11   NaT     17.30    NaN        NaN   317,573,420.89       79
KEPL3  2023-05-11   NaT      7.55    NaN        NaN    16,334,116.33       80
KLBN11 2023-05-11   NaT     19.92    NaN        NaN   155,533,287.78       81
LEVE3  2023-05-11   NaT     36.05    NaN        NaN    17,476,551.44       82
LREN3  2023-05-11   NaT     16.92    NaN        NaN   484,083,279.44       83
LWSA3  2023-05-11   NaT      6.16    NaN        NaN    83,098,009.67       84
MDIA3  2023-05-11   NaT     32.50    NaN        NaN    77,090,955.78       85
MEGA3  2023-05-11   NaT      8.95    NaN        NaN    10,715,653.44       86
MILS3  2023-05-11   NaT      9.32    NaN        NaN    15,900,474.00       87
MOVI3  2023-05-11   NaT     10.59    NaN        NaN    46,442,952.44       88
MRFG3  2023-05-11   NaT      6.72    NaN        NaN    90,442,045.44       89
MRVE3  2023-05-11   NaT      9.11    NaN        NaN   109,052,147.56       90
MULT3  2023-05-11   NaT     27.10    NaN        NaN   150,436,752.22       91
MYPK3  2023-05-11   NaT     11.66    NaN        NaN    21,137,837.67       92
NEOE3  2023-05-11   NaT     15.66    NaN        NaN    17,963,426.89       93
NTCO3  2023-05-11   NaT     12.92    NaN        NaN   206,177,949.89       94
ODPV3  2023-05-11   NaT     11.07    NaN        NaN    23,717,633.22       95
ONCO3  2023-05-11   NaT     10.12    NaN        NaN    27,956,634.33       96
ORVR3  2023-05-11   NaT     37.50    NaN        NaN    20,385,537.11       97
PCAR3  2023-05-11   NaT     16.24    NaN        NaN    37,451,854.89       98
PETR3  2023-05-11   NaT     28.15    NaN        NaN   552,482,969.11       99
PETR4  2023-05-11   NaT     25.43    NaN        NaN 2,260,795,120.11      100
PETZ3  2023-05-11   NaT      7.37    NaN        NaN    71,344,142.11      101
PLPL3  2023-05-11   NaT      6.49    NaN        NaN     6,133,927.78      102
POSI3  2023-05-11   NaT      8.00    NaN        NaN    42,830,474.22      103
PRIO3  2023-05-11   NaT     34.82    NaN        NaN   364,306,131.78      104
PSSA3  2023-05-11   NaT     23.87    NaN        NaN    88,111,023.11      105
PTBL3  2023-05-11   NaT      6.62    NaN        NaN     9,339,166.22      106
RADL3  2023-05-11   NaT     27.88    NaN        NaN   137,646,904.11      107
RAIL3  2023-05-11   NaT     20.84    NaN        NaN   184,280,239.67      108
RANI3  2023-05-11   NaT      8.23    NaN        NaN     7,954,336.11      109
RAPT4  2023-05-11   NaT      9.89    NaN        NaN    31,742,255.11      110
RDOR3  2023-05-11   NaT     25.22    NaN        NaN   143,070,887.78      111
RECV3  2023-05-11   NaT     19.28    NaN        NaN    65,901,641.89      112
RENT3  2023-05-11   NaT     61.84    NaN        NaN   547,147,316.22      113
ROMI3  2023-05-11   NaT     14.48    NaN        NaN     8,491,954.78      114
RRRP3  2023-05-11   NaT     32.23    NaN        NaN   285,475,059.11      115
SANB11 2023-05-11   NaT     30.03    NaN        NaN    39,520,451.22      116
SAPR11 2023-05-11   NaT     19.72    NaN        NaN    30,423,761.78      117
SBFG3  2023-05-11   NaT      8.71    NaN        NaN    18,353,882.33      118
SBSP3  2023-05-11   NaT     48.46    NaN        NaN   162,600,865.56      119
SIMH3  2023-05-11   NaT      8.24    NaN        NaN    24,497,888.11      120
SLCE3  2023-05-11   NaT     35.05    NaN        NaN    77,028,929.33      121
SMFT3  2023-05-11   NaT     16.65    NaN        NaN    68,978,193.78      122
SMTO3  2023-05-11   NaT     34.27    NaN        NaN    77,791,652.89      123
SOMA3  2023-05-11   NaT      9.96    NaN        NaN   120,710,084.78      124
SQIA3  2023-05-11   NaT     16.60    NaN        NaN    14,922,470.78      125
STBP3  2023-05-11   NaT      9.12    NaN        NaN    47,892,283.44      126
SUZB3  2023-05-11   NaT     41.57    NaN        NaN   352,832,498.89      127
TAEE11 2023-05-11   NaT     37.07    NaN        NaN    76,749,667.44      128
TASA4  2023-05-11   NaT     16.02    NaN        NaN    16,904,251.44      129
TEND3  2023-05-11   NaT      7.43    NaN        NaN    25,032,498.22      130
TIMS3  2023-05-11   NaT     14.11    NaN        NaN    77,294,469.11      131
TOTS3  2023-05-11   NaT     28.03    NaN        NaN   125,303,768.00      132
TRPL4  2023-05-11   NaT     24.62    NaN        NaN    48,629,039.44      133
TTEN3  2023-05-11   NaT     11.45    NaN        NaN    13,792,956.56      134
TUPY3  2023-05-11   NaT     23.87    NaN        NaN    19,888,736.78      135
UGPA3  2023-05-11   NaT     17.21    NaN        NaN   127,780,416.67      136
UNIP6  2023-05-11   NaT     65.06    NaN        NaN    18,778,683.44      137
USIM5  2023-05-11   NaT      7.44    NaN        NaN    86,781,615.44      138
VALE3  2023-05-11   NaT     68.01    NaN        NaN 1,805,940,135.78      139
VAMO3  2023-05-11   NaT     11.82    NaN        NaN    80,595,396.89      140
VBBR3  2023-05-11   NaT     14.51    NaN        NaN   280,659,233.11      141
VIVA3  2023-05-11   NaT     22.62    NaN        NaN    72,143,432.67      142
VIVT3  2023-05-11   NaT     41.75    NaN        NaN    80,690,182.78      143
VULC3  2023-05-11   NaT     14.80    NaN        NaN    17,260,293.56      144
WEGE3  2023-05-11   NaT     39.32    NaN        NaN   241,182,745.00      145
YDUQ3  2023-05-11   NaT     12.31    NaN        NaN    96,933,224.44      146

In [24]:
df_2

         dtInicio dtFim  vrInicio  vrFim  pcPeriodo           avgVol  posicao
cdAcao
ABCB4  2023-05-10   NaT     16.38    NaN        NaN    20,214,362.56        1
ABEV3  2023-05-10   NaT     14.40    NaN        NaN   313,540,784.11        2
AESB3  2023-05-10   NaT     12.61    NaN        NaN    26,408,565.33        3
AGRO3  2023-05-10   NaT     22.66    NaN        NaN    10,402,779.22        4
ALPA4  2023-05-10   NaT      9.33    NaN        NaN   104,387,948.67        5
ALSO3  2023-05-10   NaT     19.39    NaN        NaN   117,337,173.22        6
ALUP11 2023-05-10   NaT     27.96    NaN        NaN    24,951,440.89        7
AMBP3  2023-05-10   NaT     20.75    NaN        NaN    39,906,142.11        8
ARML3  2023-05-10   NaT     12.00    NaN        NaN     9,675,494.67        9
ARZZ3  2023-05-10   NaT     65.47    NaN        NaN   137,846,934.11       10
ASAI3  2023-05-10   NaT     11.70    NaN        NaN   146,757,895.67       11
AURE3  2023-05-10   NaT     13.71    NaN        NaN    49,928,913.44       12
AZUL4  2023-05-10   NaT     12.29    NaN        NaN   280,275,347.78       13
B3SA3  2023-05-10   NaT     12.55    NaN        NaN   564,543,532.56       14
BBAS3  2023-05-10   NaT     43.51    NaN        NaN   667,966,377.56       15
BBDC3  2023-05-10   NaT     13.30    NaN        NaN    77,089,182.56       16
BBDC4  2023-05-10   NaT     15.20    NaN        NaN   605,379,286.33       17
BBSE3  2023-05-10   NaT     33.80    NaN        NaN   224,292,727.89       18
BEEF3  2023-05-10   NaT      9.45    NaN        NaN   111,210,060.33       19
BLAU3  2023-05-10   NaT     19.75    NaN        NaN     7,267,533.00       20
BMOB3  2023-05-10   NaT     14.86    NaN        NaN     8,130,934.11       21
BOAS3  2023-05-10   NaT      7.68    NaN        NaN     8,863,424.33       22
BPAC11 2023-05-10   NaT     25.00    NaN        NaN   266,690,125.00       23
BPAN4  2023-05-10   NaT      5.65    NaN        NaN    12,336,186.22       24
BRAP4  2023-05-10   NaT     22.67    NaN        NaN    87,089,372.22       25
BRFS3  2023-05-10   NaT      7.06    NaN        NaN   203,121,766.11       26
BRKM5  2023-05-10   NaT     25.79    NaN        NaN   164,165,459.00       27
BRSR6  2023-05-10   NaT     11.28    NaN        NaN    22,472,547.89       28
CAML3  2023-05-10   NaT      7.19    NaN        NaN    18,477,761.67       29
CBAV3         NaT   NaT       NaN    NaN        NaN    24,157,551.00       30
CCRO3  2023-05-10   NaT     13.75    NaN        NaN   127,459,628.44       31
CIEL3  2023-05-10   NaT      5.51    NaN        NaN   178,147,510.00       32
CMIG3  2023-05-10   NaT     20.00    NaN        NaN     7,335,871.00       33
CMIG4  2023-05-10   NaT     12.14    NaN        NaN    94,771,972.33       34
CPFE3  2023-05-10   NaT     31.75    NaN        NaN    65,550,952.89       35
CPLE11 2023-05-10   NaT     38.92    NaN        NaN     7,296,329.22       36
CPLE3  2023-05-10   NaT      7.10    NaN        NaN     7,393,896.67       37
CPLE6  2023-05-10   NaT      7.95    NaN        NaN    98,239,816.67       38
CRFB3  2023-05-10   NaT      9.78    NaN        NaN    94,592,281.89       39
CSAN3  2023-05-10   NaT     15.80    NaN        NaN   152,610,674.56       40
CSMG3  2023-05-10   NaT     18.30    NaN        NaN    42,795,618.00       41
CSNA3  2023-05-10   NaT     13.01    NaN        NaN    98,626,439.89       42
CURY3  2023-05-10   NaT     12.15    NaN        NaN    19,803,236.22       43
CXSE3  2023-05-10   NaT      9.79    NaN        NaN    31,781,179.22       44
CYRE3  2023-05-10   NaT     16.41    NaN        NaN    88,375,707.78       45
DASA3  2023-05-10   NaT     10.98    NaN        NaN     6,946,434.44       46
DIRR3  2023-05-10   NaT     15.87    NaN        NaN    37,950,796.56       47
DXCO3  2023-05-10   NaT      7.31    NaN        NaN    44,968,724.11       48
ECOR3  2023-05-10   NaT      6.77    NaN        NaN    41,808,567.00       49
EGIE3  2023-05-10   NaT     42.70    NaN        NaN    82,397,438.56       50
ELET3  2023-05-10   NaT     35.92    NaN        NaN   417,401,900.00       51
ELET6  2023-05-10   NaT     39.40    NaN        NaN   144,432,011.78       52
EMBR3  2023-05-10   NaT     16.81    NaN        NaN   191,415,897.44       53
ENAT3  2023-05-10   NaT     12.72    NaN        NaN    20,925,522.44       54
ENBR3  2023-05-10   NaT     22.62    NaN        NaN    42,162,363.33       55
ENEV3  2023-05-10   NaT     11.65    NaN        NaN   122,763,219.22       56
ENGI11 2023-05-10   NaT     44.86    NaN        NaN   130,492,724.33       57
EQTL3  2023-05-10   NaT     28.04    NaN        NaN   218,906,975.44       58
EVEN3  2023-05-10   NaT      5.25    NaN        NaN     6,210,604.22       59
EZTC3  2023-05-10   NaT     16.03    NaN        NaN    49,845,737.00       60
FESA4  2023-05-10   NaT     50.31    NaN        NaN    12,006,975.33       61
FLRY3  2023-05-10   NaT     16.35    NaN        NaN    57,677,936.33       62
FRAS3  2023-05-10   NaT     10.60    NaN        NaN     8,718,886.89       63
GFSA3  2023-05-10   NaT      5.90    NaN        NaN    11,213,463.44       64
GGBR4  2023-05-10   NaT     24.37    NaN        NaN   303,241,076.22       65
GGPS3  2023-05-10   NaT     13.63    NaN        NaN    36,145,755.22       66
GMAT3  2023-05-10   NaT      5.98    NaN        NaN    59,676,290.78       67
GOAU4  2023-05-10   NaT     11.32    NaN        NaN    82,753,991.44       68
GOLL4  2023-05-10   NaT      7.29    NaN        NaN   102,512,042.33       69
GRND3  2023-05-10   NaT      6.78    NaN        NaN    19,891,708.56       70
HYPE3  2023-05-10   NaT     38.57    NaN        NaN   136,282,568.89       71
IBOV11        NaT   NaT       NaN    NaN        NaN 6,754,178,880.00       72
IGTI11 2023-05-10   NaT     21.21    NaN        NaN    71,582,116.22       73
INTB3  2023-05-10   NaT     25.75    NaN        NaN    25,199,883.89       74
IRBR3  2023-05-10   NaT     35.40    NaN        NaN   123,288,980.89       75
ITSA4  2023-05-10   NaT      8.92    NaN        NaN   195,436,110.78       76
ITUB3  2023-05-10   NaT     22.87    NaN        NaN    12,056,971.56       77
ITUB4  2023-05-10   NaT     26.90    NaN        NaN   738,660,439.44       78
JBSS3  2023-05-10   NaT     17.30    NaN        NaN   325,488,038.78       79
KEPL3  2023-05-10   NaT      7.42    NaN        NaN    16,154,378.89       80
KLBN11 2023-05-10   NaT     20.04    NaN        NaN   151,480,683.78       81
LEVE3  2023-05-10   NaT     32.23    NaN        NaN    17,772,379.78       82
LREN3  2023-05-10   NaT     17.50    NaN        NaN   451,967,957.44       83
LWSA3  2023-05-10   NaT      6.35    NaN        NaN    83,631,683.22       84
MDIA3  2023-05-10   NaT     31.87    NaN        NaN    76,377,072.11       85
MEGA3  2023-05-10   NaT      8.76    NaN        NaN    12,533,537.56       86
MILS3  2023-05-10   NaT      9.25    NaN        NaN    14,636,901.89       87
MOVI3  2023-05-10   NaT      9.95    NaN        NaN    44,923,919.67       88
MRFG3  2023-05-10   NaT      6.70    NaN        NaN    86,208,983.22       89
MRVE3  2023-05-10   NaT      8.80    NaN        NaN   112,217,965.44       90
MULT3  2023-05-10   NaT     27.20    NaN        NaN   150,626,965.44       91
MYPK3  2023-05-10   NaT     11.08    NaN        NaN    23,877,683.89       92
NEOE3  2023-05-10   NaT     15.57    NaN        NaN    19,077,869.89       93
NTCO3  2023-05-10   NaT     12.86    NaN        NaN   227,691,386.11       94
ODPV3  2023-05-10   NaT     10.47    NaN        NaN    24,927,547.89       95
ONCO3  2023-05-10   NaT      9.82    NaN        NaN    27,058,519.22       96
ORVR3  2023-05-10   NaT     36.63    NaN        NaN    17,461,127.22       97
PCAR3  2023-05-10   NaT     16.23    NaN        NaN    36,001,607.56       98
PETR3  2023-05-10   NaT     27.49    NaN        NaN   547,169,696.44       99
PETR4  2023-05-10   NaT     24.53    NaN        NaN 2,204,530,248.33      100
PETZ3  2023-05-10   NaT      7.19    NaN        NaN    81,843,918.56      101
PLPL3  2023-05-10   NaT      6.20    NaN        NaN     6,182,947.78      102
POSI3  2023-05-10   NaT      7.52    NaN        NaN    43,377,595.56      103
PRIO3  2023-05-10   NaT     34.65    NaN        NaN   349,658,396.22      104
PSSA3  2023-05-10   NaT     23.87    NaN        NaN    90,349,918.00      105
PTBL3  2023-05-10   NaT      6.39    NaN        NaN     9,286,782.78      106
RADL3  2023-05-10   NaT     27.57    NaN        NaN   137,811,521.11      107
RAIL3  2023-05-10   NaT     20.49    NaN        NaN   188,703,635.89      108
RANI3  2023-05-10   NaT      8.33    NaN        NaN     8,127,964.89      109
RAPT4  2023-05-10   NaT      9.51    NaN        NaN    32,942,999.00      110
RDOR3  2023-05-10   NaT     24.45    NaN        NaN   133,416,133.67      111
RECV3  2023-05-10   NaT     19.53    NaN        NaN    64,605,482.00      112
RENT3  2023-05-10   NaT     60.05    NaN        NaN   560,842,040.33      113
ROMI3  2023-05-10   NaT     14.51    NaN        NaN     8,706,084.22      114
RRRP3  2023-05-10   NaT     32.59    NaN        NaN   281,700,094.89      115
SANB11 2023-05-10   NaT     29.34    NaN        NaN    40,750,039.00      116
SAPR11 2023-05-10   NaT     19.73    NaN        NaN    29,079,670.56      117
SBFG3  2023-05-10   NaT      8.44    NaN        NaN    16,331,748.89      118
SBSP3  2023-05-10   NaT     48.01    NaN        NaN   181,783,083.00      119
SIMH3  2023-05-10   NaT      8.01    NaN        NaN    25,609,631.00      120
SLCE3  2023-05-10   NaT     35.26    NaN        NaN    79,955,230.67      121
SMFT3  2023-05-10   NaT     15.85    NaN        NaN    67,156,238.56      122
SMTO3  2023-05-10   NaT     33.25    NaN        NaN    78,947,356.33      123
SOMA3  2023-05-10   NaT      9.72    NaN        NaN   113,806,201.78      124
SQIA3  2023-05-10   NaT     16.77    NaN        NaN    15,941,551.89      125
STBP3  2023-05-10   NaT      8.80    NaN        NaN    48,803,021.78      126
SUZB3  2023-05-10   NaT     41.69    NaN        NaN   321,656,686.11      127
TAEE11 2023-05-10   NaT     36.55    NaN        NaN    78,006,453.33      128
TASA4  2023-05-10   NaT     15.97    NaN        NaN    16,658,250.89      129
TEND3  2023-05-10   NaT      7.20    NaN        NaN    26,832,612.56      130
TIMS3  2023-05-10   NaT     13.74    NaN        NaN    80,141,278.44      131
TOTS3  2023-05-10   NaT     28.03    NaN        NaN   124,658,568.56      132
TRPL4  2023-05-10   NaT     24.50    NaN        NaN    48,667,283.00      133
TTEN3  2023-05-10   NaT     11.37    NaN        NaN    13,794,842.00      134
TUPY3  2023-05-10   NaT     22.42    NaN        NaN    20,128,205.00      135
UGPA3  2023-05-10   NaT     16.57    NaN        NaN   132,133,725.22      136
UNIP6  2023-05-10   NaT     64.65    NaN        NaN    17,839,134.56      137
USIM5  2023-05-10   NaT      7.63    NaN        NaN    76,290,538.67      138
VALE3  2023-05-10   NaT     69.36    NaN        NaN 1,704,744,931.56      139
VAMO3  2023-05-10   NaT     11.42    NaN        NaN    81,581,419.33      140
VBBR3  2023-05-10   NaT     14.49    NaN        NaN   255,631,406.67      141
VIVA3  2023-05-10   NaT     22.09    NaN        NaN    73,647,056.67      142
VIVT3  2023-05-10   NaT     41.46    NaN        NaN    80,901,625.00      143
VULC3  2023-05-10   NaT     14.28    NaN        NaN    17,407,507.89      144
WEGE3  2023-05-10   NaT     39.35    NaN        NaN   235,314,653.00      145
YDUQ3  2023-05-10   NaT     11.39    NaN        NaN   107,693,075.78      146

In [25]:
# dfDtMin = df5d.loc[(df["dtPregao"] == dt_min_5d) & (df["cdAcao"] == 'PTBL3')]

df5d  = busca_periodos(df, 5)
df25d = busca_periodos(df, 25)

dt_min_5d  = df5d["dtPregao"].min()
dt_min_25d = df25d["dtPregao"].min()
dt_max     = df5d["dtPregao"].max()
dfDtMin5d  = df5d.loc[(df5d["dtPregao"] == dt_min_5d)].set_index(["cdAcao"])
dfDtMin25d = df25d.loc[(df25d["dtPregao"] == dt_min_25d)].set_index(["cdAcao"])
dfDtMax    = df5d.loc[(df5d["dtPregao"] == dt_max)].set_index(["cdAcao"])
dfAvgVol5d  = busca_media(df5d, "vrVolume", "vol").set_index(["cdAcao"])
dfAvgVol25d = busca_media(df25d, "vrVolume", "vol").set_index(["cdAcao"])

In [26]:
 dfPc5d = pd.DataFrame({
         "dtInicio":dfDtMin5d["dtPregao"] ,"dtFim":dfDtMax["dtPregao"]
        ,"vrInicio":dfDtMin5d["vrFech"]   ,"vrFim":dfDtMax["vrFech"]
        ,"pcPeriodo":((dfDtMax["vrFech"] - dfDtMin5d["vrFech"]) / dfDtMin5d["vrFech"]) * 100
        ,"avgVol":dfAvgVol5d["vol"]
    })

In [27]:
 dfPc25d = pd.DataFrame({
         "dtInicio":dfDtMin25d["dtPregao"] ,"dtFim":dfDtMax["dtPregao"]
        ,"vrInicio":dfDtMin25d["vrFech"]   ,"vrFim":dfDtMax["vrFech"]
        ,"pcPeriodo":((dfDtMax["vrFech"] - dfDtMin25d["vrFech"]) / dfDtMin25d["vrFech"]) * 100
        ,"avgVol":dfAvgVol25d["vol"]
    })

In [28]:
dfPc25d.sort_values(["pcPeriodo"], ascending=False).loc[(dfPc25d["avgVol"] > 6000000)]

         dtInicio      dtFim  vrInicio  vrFim  pcPeriodo           avgVol
cdAcao
LIGT3  2023-04-18 2023-05-24      2.13   4.61     116.43    61,916,224.20
YDUQ3  2023-04-18 2023-05-24      7.92  13.37      68.81    63,848,401.20
HAPV3  2023-04-18 2023-05-24      2.40   3.55      47.92   355,586,188.24
MDIA3  2023-04-18 2023-05-24     26.46  38.60      45.88    53,006,885.80
CEAB3  2023-04-18 2023-05-24      2.91   4.24      45.70    17,672,081.00
ALPA4  2023-04-18 2023-05-24      7.24  10.25      41.57    94,459,654.32
IRBR3  2023-04-18 2023-05-24     25.08  35.05      39.75   116,017,916.32
DASA3  2023-04-18 2023-05-24      8.02  11.06      37.91     7,153,279.64
LWSA3  2023-04-18 2023-05-24      5.39   7.36      36.55    57,804,199.84
DXCO3  2023-04-18 2023-05-24      5.82   7.90      35.74    36,455,702.00
POMO4  2023-04-18 2023-05-24      3.47   4.67      34.58    40,054,831.28
COGN3  2023-04-18 2023-05-24      1.98   2.66      34.34    69,390,194.08
AZUL4  2023-04-18 2023-05-24     11.12  14.69      32.10   196,978,984.40
RAPT4  2023-04-18 2023-05-24      7.93  10.38      30.90    25,891,029.76
SMTO3  2023-04-18 2023-05-24     27.64  35.97      30.14    80,787,135.28
LEVE3  2023-04-18 2023-05-24     30.35  39.22      29.23    13,503,102.72
MOVI3  2023-04-18 2023-05-24      8.31  10.72      29.00    42,573,363.40
VBBR3  2023-04-18 2023-05-24     13.42  17.16      27.87   224,570,519.28
TEND3  2023-04-18 2023-05-24      5.71   7.25      26.97    29,643,235.40
MRVE3  2023-04-18 2023-05-24      7.19   9.10      26.56   115,442,587.80
MODL3  2023-04-18 2023-05-24      1.90   2.39      25.79     7,164,019.80
RDOR3  2023-04-18 2023-05-24     22.77  28.60      25.60   135,760,098.84
ONCO3  2023-04-18 2023-05-24      8.67  10.84      25.03    16,949,526.48
ARML3  2023-04-18 2023-05-24     12.31  15.39      25.02     6,921,488.00
LOGG3  2023-04-18 2023-05-24     16.48  20.47      24.21     6,949,481.72
VULC3  2023-04-18 2023-05-24     12.27  15.01      22.33     9,207,157.72
GMAT3  2023-04-18 2023-05-24      5.38   6.58      22.30    41,633,021.72
NTCO3  2023-04-18 2023-05-24     10.92  13.34      22.16   205,052,353.44
BRFS3  2023-04-18 2023-05-24      6.02   7.32      21.59   147,112,717.04
PETZ3  2023-04-18 2023-05-24      6.17   7.50      21.56    79,761,875.32
BPAN4  2023-04-18 2023-05-24      5.32   6.40      20.30    16,027,654.56
ANIM3  2023-04-18 2023-05-24      2.39   2.86      19.67    26,790,975.24
UGPA3  2023-04-18 2023-05-24     14.58  17.44      19.62   147,561,166.36
BRKM5  2023-04-18 2023-05-24     19.94  23.72      18.96   142,331,511.88
CSMG3  2023-04-18 2023-05-24     16.59  19.72      18.87    37,585,660.12
JALL3  2023-04-18 2023-05-24      6.83   8.11      18.74     6,407,653.00
SBFG3  2023-04-18 2023-05-24      7.69   9.09      18.21    18,374,924.32
RRRP3  2023-04-18 2023-05-24     27.15  32.05      18.05   274,165,130.56
AESB3  2023-04-18 2023-05-24     10.51  12.36      17.60    40,894,416.64
SOMA3  2023-04-18 2023-05-24      8.06   9.44      17.12   113,258,927.76
SMFT3  2023-04-18 2023-05-24     14.65  16.87      15.15    49,012,757.96
GGPS3  2023-04-18 2023-05-24     12.68  14.57      14.91    26,315,049.16
QUAL3  2023-04-18 2023-05-24      3.90   4.47      14.62    20,325,204.96
LREN3  2023-04-18 2023-05-24     16.05  18.39      14.58   411,721,425.20
SQIA3  2023-04-18 2023-05-24     16.16  18.51      14.54    14,952,325.64
MLAS3  2023-04-18 2023-05-24      1.94   2.22      14.43     8,879,496.48
HBSA3  2023-04-18 2023-05-24      2.57   2.94      14.40    12,322,763.84
CYRE3  2023-04-18 2023-05-24     15.41  17.62      14.34    83,530,880.96
BBDC4  2023-04-18 2023-05-24     13.64  15.56      14.08   797,553,225.24
STBP3  2023-04-18 2023-05-24      8.60   9.79      13.84    41,003,532.08
ALSO3  2023-04-18 2023-05-24     18.34  20.82      13.52   104,093,033.60
FLRY3  2023-04-18 2023-05-24     14.43  16.38      13.51    55,849,020.80
VIIA3  2023-04-18 2023-05-24      1.93   2.19      13.47   115,808,044.20
KLBN11 2023-04-18 2023-05-24     18.79  21.30      13.36   139,749,127.68
MILS3  2023-04-18 2023-05-24      9.46  10.69      13.00     9,991,822.88
KLBN4  2023-04-18 2023-05-24      3.75   4.23      12.80    13,297,926.92
VIVA3  2023-04-18 2023-05-24     21.10  23.75      12.56    53,790,457.80
BRSR6  2023-04-18 2023-05-24     10.41  11.68      12.20    17,104,165.64
BPAC11 2023-04-18 2023-05-24     23.14  25.83      11.62   244,436,143.00
EZTC3  2023-04-18 2023-05-24     14.72  16.41      11.48    43,086,459.92
PCAR3  2023-04-18 2023-05-24     14.87  16.55      11.30    47,612,933.00
SAPR11 2023-04-18 2023-05-24     18.79  20.79      10.64    23,391,218.00
TRPL4  2023-04-18 2023-05-24     22.33  24.68      10.52    45,688,909.52
GOLL4  2023-04-18 2023-05-24      6.89   7.60      10.30    90,563,531.60
RADL3  2023-04-18 2023-05-24     25.68  28.32      10.28   160,062,077.52
RENT3  2023-04-18 2023-05-24     56.87  62.68      10.22   416,623,368.00
SIMH3  2023-04-18 2023-05-24      7.81   8.59       9.99    31,037,227.28
IGTI11 2023-04-18 2023-05-24     20.06  22.03       9.82    73,285,390.20
SAPR4  2023-04-18 2023-05-24      3.78   4.15       9.79     7,250,850.84
RAIZ4  2023-04-18 2023-05-24      3.18   3.49       9.75    78,186,975.44
MEGA3  2023-04-18 2023-05-24      8.54   9.37       9.72    15,147,022.08
BBDC3  2023-04-18 2023-05-24     12.32  13.46       9.25    79,296,761.60
JHSF3  2023-04-18 2023-05-24      4.08   4.45       9.07    12,644,532.56
ODPV3  2023-04-18 2023-05-24     10.43  11.37       9.01    27,102,626.44
SANB11 2023-04-18 2023-05-24     27.15  29.48       8.58    45,023,517.24
ECOR3  2023-04-18 2023-05-24      6.05   6.56       8.43    40,770,585.64
SUZB3  2023-04-18 2023-05-24     41.17  44.59       8.31   358,713,926.16
B3SA3  2023-04-18 2023-05-24     11.89  12.86       8.16   489,756,007.16
ENAT3  2023-04-18 2023-05-24     12.02  12.91       7.40    22,233,566.00
ALUP11 2023-04-18 2023-05-24     26.84  28.73       7.04    29,658,295.64
BEEF3  2023-04-18 2023-05-24      9.11   9.73       6.81   124,311,414.56
INTB3  2023-04-18 2023-05-24     24.57  26.23       6.76    32,371,071.76
TOTS3  2023-04-18 2023-05-24     26.45  28.21       6.65   128,919,587.60
LJQQ3  2023-04-18 2023-05-24      4.00   4.26       6.50    18,439,045.72
TAEE11 2023-04-18 2023-05-24     35.11  37.33       6.32    92,033,132.36
TTEN3  2023-04-18 2023-05-24     11.38  12.09       6.24    15,223,934.16
RAIL3  2023-04-18 2023-05-24     19.62  20.75       5.76   205,697,032.92
TUPY3  2023-04-18 2023-05-24     23.50  24.78       5.45    20,955,636.20
SBSP3  2023-04-18 2023-05-24     47.56  50.03       5.19   167,323,127.76
NEOE3  2023-04-18 2023-05-24     14.99  15.70       4.74    33,835,453.80
HYPE3  2023-04-18 2023-05-24     37.55  39.27       4.58   126,175,166.40
ROMI3  2023-04-18 2023-05-24     14.94  15.61       4.48     8,755,890.88
CURY3  2023-04-18 2023-05-24     12.37  12.90       4.28    26,161,802.84
CCRO3  2023-04-18 2023-05-24     13.00  13.55       4.23   130,719,103.20
DIRR3  2023-04-18 2023-05-24     16.32  16.98       4.04    39,517,259.32
ENEV3  2023-04-18 2023-05-24     11.16  11.61       4.03    87,578,116.00
ARZZ3  2023-04-18 2023-05-24     67.17  69.74       3.83   129,601,966.68
MYPK3  2023-04-18 2023-05-24     11.72  12.15       3.67    21,624,819.76
ENGI11 2023-04-18 2023-05-24     42.46  43.87       3.32   160,609,053.08
ITSA4  2023-04-18 2023-05-24      8.63   8.90       3.13   189,974,103.88
TIMS3  2023-04-18 2023-05-24     13.77  14.20       3.12    98,927,874.96
EGIE3  2023-04-18 2023-05-24     41.02  42.27       3.05    79,034,911.80
MULT3  2023-04-18 2023-05-24     25.77  26.50       2.83   115,760,779.32
CXSE3  2023-04-18 2023-05-24      9.73  10.00       2.77    27,579,366.96
MGLU3  2023-04-18 2023-05-24      3.54   3.63       2.54   456,891,491.72
ABCB4  2023-04-18 2023-05-24     16.62  17.04       2.53    15,361,757.08
EQTL3  2023-04-18 2023-05-24     28.04  28.72       2.43   222,034,155.56
BBAS3  2023-04-18 2023-05-24     43.61  44.64       2.36   507,727,898.00
ITUB3  2023-04-18 2023-05-24     21.94  22.42       2.19    12,947,194.20
ENBR3  2023-04-18 2023-05-24     22.33  22.76       1.93    45,915,600.60
ELET6  2023-04-18 2023-05-24     38.16  38.89       1.91   137,096,913.20
ELET3  2023-04-18 2023-05-24     34.44  35.08       1.86   491,081,268.56
ITUB4  2023-04-18 2023-05-24     25.94  26.42       1.85   758,059,171.40
PRIO3  2023-04-18 2023-05-24     35.30  35.95       1.84   393,814,191.60
WEGE3  2023-04-18 2023-05-24     39.27  39.82       1.40   246,231,963.92
MRFG3  2023-04-18 2023-05-24      6.36   6.43       1.10    70,418,139.60
VIVT3  2023-04-18 2023-05-24     40.83  41.22       0.96    79,618,184.96
ZAMP3  2023-04-18 2023-05-24      4.09   4.11       0.49     8,138,732.24
RANI3  2023-04-18 2023-05-24      8.59   8.62       0.35     8,706,153.00
ABEV3  2023-04-18 2023-05-24     14.63  14.66       0.21   341,001,209.72
PTBL3  2023-04-18 2023-05-24      6.20   6.20       0.00     6,758,308.36
BOAS3  2023-04-18 2023-05-24      7.62   7.59      -0.39     6,225,554.00
CSAN3  2023-04-18 2023-05-24     15.72  15.63      -0.57   151,320,103.04
CAML3  2023-04-18 2023-05-24      7.03   6.94      -1.28    13,665,948.24
AERI3  2023-04-18 2023-05-24      1.52   1.50      -1.32     7,811,702.44
UNIP6  2023-04-18 2023-05-24     69.89  68.91      -1.40    19,388,662.68
CPLE3  2023-04-18 2023-05-24      6.82   6.72      -1.47     7,478,961.88
ORVR3  2023-04-18 2023-05-24     36.19  35.59      -1.66    22,115,108.64
CPLE11 2023-04-18 2023-05-24     37.55  36.87      -1.81     7,778,769.16
CPLE6  2023-04-18 2023-05-24      7.68   7.54      -1.82   105,133,655.72
FESA4  2023-04-18 2023-05-24     51.94  50.67      -2.45    11,665,239.52
PETR4  2023-04-18 2023-05-24     27.39  26.65      -2.70 1,838,708,346.28
USIM5  2023-04-18 2023-05-24      7.61   7.39      -2.89    92,348,188.40
PETR3  2023-04-18 2023-05-24     30.71  29.77      -3.06   475,739,999.96
GUAR3  2023-04-18 2023-05-24      4.48   4.33      -3.35     8,046,419.48
CMIG4  2023-04-18 2023-05-24     12.47  12.00      -3.77   119,370,949.56
CMIN3  2023-04-18 2023-05-24      4.71   4.52      -4.03    46,759,255.40
AMER3  2023-04-18 2023-05-24      1.15   1.10      -4.35    19,756,022.84
BLAU3  2023-04-18 2023-05-24     22.33  21.35      -4.39     9,160,273.56
PSSA3  2023-04-18 2023-05-24     24.29  23.20      -4.49    69,804,960.36
CPFE3  2023-04-18 2023-05-24     33.33  31.75      -4.74    71,667,431.76
CIEL3  2023-04-18 2023-05-24      5.25   4.98      -5.14   181,310,928.72
OIBR3  2023-04-18 2023-05-24      1.09   1.03      -5.50     8,807,383.92
VAMO3  2023-04-18 2023-05-24     13.29  12.48      -6.09    73,818,178.44
GGBR4  2023-04-18 2023-05-24     26.05  24.46      -6.10   254,109,458.40
GOAU4  2023-04-18 2023-05-24     12.09  11.29      -6.62    93,535,279.96
JBSS3  2023-04-18 2023-05-24     17.33  16.15      -6.81   235,329,232.84
AGRO3  2023-04-18 2023-05-24     25.00  23.26      -6.96     9,293,669.08
AURE3  2023-04-18 2023-05-24     15.28  14.15      -7.40    64,887,803.40
CMIG3  2023-04-18 2023-05-24     19.53  17.94      -8.14     7,374,695.32
CVCB3  2023-04-18 2023-05-24      3.06   2.81      -8.17    63,514,997.08
GRND3  2023-04-18 2023-05-24      7.63   7.00      -8.26    25,708,749.64
KEPL3  2023-04-18 2023-05-24      8.62   7.90      -8.35    16,391,667.16
CASH3  2023-04-18 2023-05-24      0.94   0.86      -8.51    15,044,187.28
GFSA3  2023-04-18 2023-05-24      5.72   5.22      -8.74    10,729,719.24
BBSE3  2023-04-18 2023-05-24     34.61  31.37      -9.36   195,595,215.32
AMBP3  2023-04-18 2023-05-24     21.91  19.60     -10.54    28,879,510.16
CRFB3  2023-04-18 2023-05-24     10.99   9.74     -11.37   125,298,748.32
CBAV3  2023-04-18 2023-05-24      5.99   5.19     -13.36    20,883,206.76
TASA4  2023-04-18 2023-05-24     16.86  14.43     -14.41    12,606,255.20
RECV3  2023-04-18 2023-05-24     20.71  17.71     -14.49    50,671,259.92
ASAI3  2023-04-18 2023-05-24     13.16  11.21     -14.82   225,370,096.72
EMBR3  2023-04-18 2023-05-24     20.59  17.39     -15.54   191,481,341.16
CSNA3  2023-04-18 2023-05-24     14.96  12.61     -15.71   100,362,233.72
VALE3  2023-04-18 2023-05-24     78.54  65.05     -17.18 1,929,741,346.76
POSI3  2023-04-18 2023-05-24      8.05   6.56     -18.51    26,505,940.88
SEQL3  2023-04-18 2023-05-24      1.78   1.45     -18.54     9,487,000.12
BRAP4  2023-04-18 2023-05-24     26.72  21.47     -19.65    89,932,083.56
SLCE3  2023-04-18 2023-05-24     45.36  34.84     -23.19    69,648,548.36
RCSL3  2023-04-18 2023-05-24      4.44   1.79     -59.68     6,225,052.04
IBOV11        NaT        NaT       NaN    NaN        NaN 6,754,178,880.00
PARD3  2023-04-18        NaT     20.07    NaN        NaN    11,059,414.50

In [29]:
dfPc5d.sort_values(["pcPeriodo"], ascending=False).loc[(dfPc5d["avgVol"] > 6000000)]

         dtInicio      dtFim  vrInicio  vrFim  pcPeriodo           avgVol
cdAcao
ALPA4  2023-05-18 2023-05-24      8.88  10.25      15.43   171,964,046.20
MODL3  2023-05-18 2023-05-24      2.21   2.39       8.14    11,107,313.40
MILS3  2023-05-18 2023-05-24      9.93  10.69       7.65    15,204,683.80
ZAMP3  2023-05-18 2023-05-24      3.84   4.11       7.03     9,722,023.40
ONCO3  2023-05-18 2023-05-24     10.21  10.84       6.17    27,971,269.00
VBBR3  2023-05-18 2023-05-24     16.20  17.16       5.93   308,205,739.20
LIGT3  2023-05-18 2023-05-24      4.39   4.61       5.01    48,350,767.80
PTBL3  2023-05-18 2023-05-24      5.93   6.20       4.55     6,756,893.40
ANIM3  2023-05-18 2023-05-24      2.74   2.86       4.38    33,992,053.20
STBP3  2023-05-18 2023-05-24      9.43   9.79       3.82    54,203,834.60
JHSF3  2023-05-18 2023-05-24      4.29   4.45       3.73    18,452,223.00
VAMO3  2023-05-18 2023-05-24     12.05  12.48       3.57    81,955,292.60
COGN3  2023-05-18 2023-05-24      2.57   2.66       3.50    91,547,375.60
BLAU3  2023-05-18 2023-05-24     20.66  21.35       3.34     7,948,876.80
BBAS3  2023-05-18 2023-05-24     43.20  44.64       3.33   679,923,792.80
MLAS3  2023-05-18 2023-05-24      2.15   2.22       3.26    10,582,735.00
PETR4  2023-05-18 2023-05-24     25.81  26.65       3.25 1,468,522,545.80
PSSA3  2023-05-18 2023-05-24     22.50  23.20       3.11    61,201,454.80
CYRE3  2023-05-18 2023-05-24     17.10  17.62       3.04    96,614,809.00
IRBR3  2023-05-18 2023-05-24     34.11  35.05       2.76    97,253,925.00
TIMS3  2023-05-18 2023-05-24     13.84  14.20       2.60    80,563,485.40
ARML3  2023-05-18 2023-05-24     15.00  15.39       2.60    12,963,992.60
MGLU3  2023-05-18 2023-05-24      3.54   3.63       2.54   490,437,851.40
ELET3  2023-05-18 2023-05-24     34.26  35.08       2.39   392,784,369.60
YDUQ3  2023-05-18 2023-05-24     13.06  13.37       2.37    92,497,764.80
AURE3  2023-05-18 2023-05-24     13.84  14.15       2.24    48,768,333.00
MEGA3  2023-05-18 2023-05-24      9.17   9.37       2.18     9,397,246.40
PETR3  2023-05-18 2023-05-24     29.15  29.77       2.13   373,023,780.80
MTRE3  2023-05-18 2023-05-24      4.71   4.81       2.12     9,283,473.00
HBSA3  2023-05-18 2023-05-24      2.88   2.94       2.08    15,783,438.60
HYPE3  2023-05-18 2023-05-24     38.55  39.27       1.87   109,730,689.40
ALSO3  2023-05-18 2023-05-24     20.44  20.82       1.86   121,995,926.00
ELET6  2023-05-18 2023-05-24     38.20  38.89       1.81   100,951,605.00
IGTI11 2023-05-18 2023-05-24     21.65  22.03       1.76    93,955,622.00
BPAN4  2023-05-18 2023-05-24      6.29   6.40       1.75    13,986,049.40
POMO4  2023-05-18 2023-05-24      4.59   4.67       1.74    46,768,097.00
MYPK3  2023-05-18 2023-05-24     11.95  12.15       1.67    16,144,486.80
RAPT4  2023-05-18 2023-05-24     10.21  10.38       1.67    24,062,932.00
TTEN3  2023-05-18 2023-05-24     11.90  12.09       1.60    15,666,254.00
ROMI3  2023-05-18 2023-05-24     15.37  15.61       1.56     9,393,922.00
CPFE3  2023-05-18 2023-05-24     31.29  31.75       1.47    91,138,810.80
SMTO3  2023-05-18 2023-05-24     35.50  35.97       1.32    70,138,707.00
WEGE3  2023-05-18 2023-05-24     39.30  39.82       1.32   254,463,453.40
CXSE3  2023-05-18 2023-05-24      9.87  10.00       1.32    29,399,728.40
AZUL4  2023-05-18 2023-05-24     14.50  14.69       1.31   247,181,427.20
BMOB3  2023-05-18 2023-05-24     13.78  13.96       1.31     6,515,115.80
NEOE3  2023-05-18 2023-05-24     15.50  15.70       1.29    18,144,409.00
BRKM5  2023-05-18 2023-05-24     23.42  23.72       1.28   117,668,625.20
INTB3  2023-05-18 2023-05-24     25.90  26.23       1.27    28,817,336.40
DIRR3  2023-05-18 2023-05-24     16.77  16.98       1.25    40,454,965.20
LOGG3  2023-05-18 2023-05-24     20.23  20.47       1.19     6,410,492.00
CASH3  2023-05-18 2023-05-24      0.85   0.86       1.18    15,446,015.20
GGBR4  2023-05-18 2023-05-24     24.20  24.46       1.07   298,275,828.80
BRSR6  2023-05-18 2023-05-24     11.57  11.68       0.95    20,611,046.40
LWSA3  2023-05-18 2023-05-24      7.30   7.36       0.82    64,682,472.40
ODPV3  2023-05-18 2023-05-24     11.28  11.37       0.80    15,691,027.00
ENAT3  2023-05-18 2023-05-24     12.81  12.91       0.78    22,508,374.60
TRPL4  2023-05-18 2023-05-24     24.49  24.68       0.78    44,631,984.00
ORVR3  2023-05-18 2023-05-24     35.32  35.59       0.76    18,058,289.40
ABEV3  2023-05-18 2023-05-24     14.55  14.66       0.76   293,954,203.60
TUPY3  2023-05-18 2023-05-24     24.63  24.78       0.61    18,520,473.40
ALUP11 2023-05-18 2023-05-24     28.56  28.73       0.60    19,099,391.00
RAIZ4  2023-05-18 2023-05-24      3.47   3.49       0.58    95,870,105.40
RRRP3  2023-05-18 2023-05-24     31.87  32.05       0.56   315,893,359.80
RCSL3  2023-05-18 2023-05-24      1.78   1.79       0.56     7,082,861.00
LEVE3  2023-05-18 2023-05-24     39.03  39.22       0.49    12,379,764.20
LJQQ3  2023-05-18 2023-05-24      4.24   4.26       0.47    30,385,251.80
TAEE11 2023-05-18 2023-05-24     37.16  37.33       0.46    87,173,372.20
NTCO3  2023-05-18 2023-05-24     13.29  13.34       0.38   202,919,546.00
CSMG3  2023-05-18 2023-05-24     19.65  19.72       0.36    36,229,889.20
ENBR3  2023-05-18 2023-05-24     22.68  22.76       0.35    36,104,376.60
PETZ3  2023-05-18 2023-05-24      7.48   7.50       0.27    68,939,866.00
GOAU4  2023-05-18 2023-05-24     11.26  11.29       0.27    76,313,869.80
PNVL3  2023-05-18 2023-05-24     11.44  11.47       0.26     6,159,622.00
CMIG4  2023-05-18 2023-05-24     11.97  12.00       0.25   108,041,915.20
BBSE3  2023-05-18 2023-05-24     31.32  31.37       0.16   274,649,565.20
RECV3  2023-05-18 2023-05-24     17.69  17.71       0.11    46,404,109.20
MDIA3  2023-05-18 2023-05-24     38.59  38.60       0.03    72,339,742.60
AESB3  2023-05-18 2023-05-24     12.36  12.36       0.00    18,881,149.80
AMER3  2023-05-18 2023-05-24      1.10   1.10       0.00    14,455,287.00
EVEN3  2023-05-18 2023-05-24      6.15   6.15       0.00     6,476,469.20
BEEF3  2023-05-18 2023-05-24      9.73   9.73       0.00   119,044,599.00
SBFG3  2023-05-18 2023-05-24      9.10   9.09      -0.11    19,445,920.80
EGIE3  2023-05-18 2023-05-24     42.32  42.27      -0.12    71,325,753.40
EZTC3  2023-05-18 2023-05-24     16.45  16.41      -0.24    43,605,722.20
CPLE6  2023-05-18 2023-05-24      7.57   7.54      -0.40   102,125,419.80
RENT3  2023-05-18 2023-05-24     62.94  62.68      -0.41   578,159,673.80
EQTL3  2023-05-18 2023-05-24     28.84  28.72      -0.42   204,749,866.40
MRVE3  2023-05-18 2023-05-24      9.14   9.10      -0.44   117,271,038.40
CPLE11 2023-05-18 2023-05-24     37.05  36.87      -0.49     8,994,254.20
CPLE3  2023-05-18 2023-05-24      6.76   6.72      -0.59     8,271,071.80
RADL3  2023-05-18 2023-05-24     28.50  28.32      -0.63   198,448,411.00
ENGI11 2023-05-18 2023-05-24     44.17  43.87      -0.68   162,430,777.20
RANI3  2023-05-18 2023-05-24      8.68   8.62      -0.69     7,365,766.60
BBDC3  2023-05-18 2023-05-24     13.56  13.46      -0.74   100,379,630.80
POSI3  2023-05-18 2023-05-24      6.61   6.56      -0.76    21,664,805.20
ASAI3  2023-05-18 2023-05-24     11.30  11.21      -0.80   213,748,925.20
VIVT3  2023-05-18 2023-05-24     41.57  41.22      -0.84    92,839,280.20
BBDC4  2023-05-18 2023-05-24     15.70  15.56      -0.89   910,574,387.60
BPAC11 2023-05-18 2023-05-24     26.08  25.83      -0.96   254,103,773.40
ITSA4  2023-05-18 2023-05-24      8.99   8.90      -1.00   212,140,226.80
AGRO3  2023-05-18 2023-05-24     23.50  23.26      -1.02     7,696,874.20
UGPA3  2023-05-18 2023-05-24     17.62  17.44      -1.02   139,257,538.40
PRIO3  2023-05-18 2023-05-24     36.35  35.95      -1.10   412,906,038.00
SAPR11 2023-05-18 2023-05-24     21.03  20.79      -1.14    23,917,835.40
SIMH3  2023-05-18 2023-05-24      8.69   8.59      -1.15    25,051,309.60
KLBN11 2023-05-18 2023-05-24     21.55  21.30      -1.16   140,976,106.40
GGPS3  2023-05-18 2023-05-24     14.75  14.57      -1.22    24,813,388.80
TEND3  2023-05-18 2023-05-24      7.34   7.25      -1.23    35,189,630.80
TASA4  2023-05-18 2023-05-24     14.61  14.43      -1.23    11,162,830.40
RDOR3  2023-05-18 2023-05-24     28.98  28.60      -1.31   125,642,355.00
FLRY3  2023-05-18 2023-05-24     16.60  16.38      -1.33    67,361,177.40
SEQL3  2023-05-18 2023-05-24      1.47   1.45      -1.36     6,404,680.20
SAPR4  2023-05-18 2023-05-24      4.21   4.15      -1.43     6,696,219.60
RAIL3  2023-05-18 2023-05-24     21.07  20.75      -1.52   159,477,222.40
JBSS3  2023-05-18 2023-05-24     16.40  16.15      -1.52   243,807,334.60
MULT3  2023-05-18 2023-05-24     26.92  26.50      -1.56   160,030,459.40
DASA3  2023-05-18 2023-05-24     11.24  11.06      -1.60     6,214,006.40
CEAB3  2023-05-18 2023-05-24      4.31   4.24      -1.62    20,721,484.60
SLCE3  2023-05-18 2023-05-24     35.42  34.84      -1.64    63,762,832.20
SUZB3  2023-05-18 2023-05-24     45.35  44.59      -1.68   351,541,647.60
CRFB3  2023-05-18 2023-05-24      9.91   9.74      -1.72    75,756,302.60
CCRO3  2023-05-18 2023-05-24     13.79  13.55      -1.74   107,140,173.80
GMAT3  2023-05-18 2023-05-24      6.70   6.58      -1.79    39,766,986.80
VIIA3  2023-05-18 2023-05-24      2.23   2.19      -1.79   127,165,840.80
KLBN4  2023-05-18 2023-05-24      4.31   4.23      -1.86    11,593,097.20
SBSP3  2023-05-18 2023-05-24     50.99  50.03      -1.88   107,372,142.20
BOAS3  2023-05-18 2023-05-24      7.74   7.59      -1.94     6,486,135.40
MRFG3  2023-05-18 2023-05-24      6.56   6.43      -1.98    97,034,739.00
SANB11 2023-05-18 2023-05-24     30.10  29.48      -2.06    28,519,206.40
CURY3  2023-05-18 2023-05-24     13.19  12.90      -2.20    24,256,422.40
SQIA3  2023-05-18 2023-05-24     18.93  18.51      -2.22    12,316,016.40
DXCO3  2023-05-18 2023-05-24      8.08   7.90      -2.23    44,340,676.60
ABCB4  2023-05-18 2023-05-24     17.43  17.04      -2.24    16,793,553.40
LREN3  2023-05-18 2023-05-24     18.85  18.39      -2.44   605,047,662.60
ITUB4  2023-05-18 2023-05-24     27.09  26.42      -2.47   828,091,576.20
SMFT3  2023-05-18 2023-05-24     17.31  16.87      -2.54    79,746,783.00
ITUB3  2023-05-18 2023-05-24     23.01  22.42      -2.56    10,060,128.20
CAML3  2023-05-18 2023-05-24      7.13   6.94      -2.66    12,059,550.60
ENEV3  2023-05-18 2023-05-24     11.95  11.61      -2.85   130,155,236.20
TOTS3  2023-05-18 2023-05-24     29.06  28.21      -2.92   118,330,310.60
ECOR3  2023-05-18 2023-05-24      6.76   6.56      -2.96    33,845,342.80
GRND3  2023-05-18 2023-05-24      7.22   7.00      -3.05    16,032,869.60
HAPV3  2023-05-18 2023-05-24      3.67   3.55      -3.27   491,864,484.20
CSAN3  2023-05-18 2023-05-24     16.20  15.63      -3.52   157,872,335.40
ARZZ3  2023-05-18 2023-05-24     72.48  69.74      -3.78   119,269,842.00
EMBR3  2023-05-18 2023-05-24     18.08  17.39      -3.82   129,511,955.80
CBAV3  2023-05-18 2023-05-24      5.40   5.19      -3.89    19,030,982.40
KEPL3  2023-05-18 2023-05-24      8.23   7.90      -4.01    17,190,951.00
AMBP3  2023-05-18 2023-05-24     20.48  19.60      -4.30    23,651,123.00
GFSA3  2023-05-18 2023-05-24      5.46   5.22      -4.40    10,944,521.20
CMIN3  2023-05-18 2023-05-24      4.73   4.52      -4.44    42,635,251.20
UNIP6  2023-05-18 2023-05-24     72.19  68.91      -4.54    19,807,543.80
OIBR3  2023-05-18 2023-05-24      1.08   1.03      -4.63    13,184,169.40
B3SA3  2023-05-18 2023-05-24     13.49  12.86      -4.67   581,484,633.80
GOLL4  2023-05-18 2023-05-24      7.98   7.60      -4.76   102,462,187.00
PCAR3  2023-05-18 2023-05-24     17.42  16.55      -4.99    34,337,538.60
CMIG3  2023-05-18 2023-05-24     18.90  17.94      -5.08     9,087,380.80
VIVA3  2023-05-18 2023-05-24     25.04  23.75      -5.15    48,768,300.40
USIM5  2023-05-18 2023-05-24      7.80   7.39      -5.26   111,681,125.00
QUAL3  2023-05-18 2023-05-24      4.72   4.47      -5.30    18,410,182.00
CSNA3  2023-05-18 2023-05-24     13.32  12.61      -5.33    99,093,950.20
GUAR3  2023-05-18 2023-05-24      4.59   4.33      -5.66    10,960,887.80
MOVI3  2023-05-18 2023-05-24     11.37  10.72      -5.72    50,073,865.80
SOMA3  2023-05-18 2023-05-24     10.04   9.44      -5.98   166,450,298.60
FESA4  2023-05-18 2023-05-24     53.93  50.67      -6.04    10,266,955.80
BRAP4  2023-05-18 2023-05-24     22.94  21.47      -6.41    82,184,606.40
VALE3  2023-05-18 2023-05-24     69.98  65.05      -7.04 2,019,957,309.80
AERI3  2023-05-18 2023-05-24      1.63   1.50      -7.98     9,120,034.80
BRFS3  2023-05-18 2023-05-24      7.96   7.32      -8.04   237,682,044.40
CVCB3  2023-05-18 2023-05-24      3.09   2.81      -9.06    81,904,254.20
CIEL3  2023-05-18 2023-05-24      5.53   4.98      -9.95   212,537,688.40

In [30]:
dfPc25d['pcPeriodo']

cdAcao
AALR3      0.40
ABCB4      2.53
ABEV3      0.21
AERI3     -1.32
AESB3     17.60
AFLT3       NaN
AGRO3     -6.96
AGXY3    -16.85
AHEB3       NaN
AHEB5       NaN
AHEB6       NaN
ALLD3     22.46
ALPA3     34.03
ALPA4     41.57
ALPK3    102.33
ALSO3     13.52
ALUP11     7.04
ALUP3      5.86
ALUP4      5.23
AMAR3     -1.52
AMBP3    -10.54
AMER3     -4.35
ANIM3     19.67
APER3     -0.11
ARML3     25.02
ARZZ3      3.83
ASAI3    -14.82
ATMP3     -6.80
ATOM3     -8.07
AURE3     -7.40
AVLL3      5.45
AZEV3     -0.72
AZEV4      1.57
AZUL4     32.10
B3SA3      8.16
BAHI3       NaN
BALM3       NaN
BALM4       NaN
BAUH4       NaN
BAZA3     -3.57
BBAS3      2.36
BBDC3      9.25
BBDC4     14.08
BBSE3     -9.36
BDLL3       NaN
BDLL4       NaN
BEEF3      6.81
BEES3     11.67
BEES4     18.27
BGIP3       NaN
BGIP4     21.90
BIOM3     34.99
BLAU3     -4.39
BMEB3     -4.46
BMEB4     -0.89
BMGB4      7.25
BMIN3       NaN
BMIN4     -1.25
BMKS3       NaN
BMOB3     -3.19
BNBR3       NaN
BOAS3     -0.39
BOBR4     34.17
BPAC11    11.62
BPAC3      7.23
BPAC5     13.68
BPAN4     20.30
BRAP3    -17.31
BRAP4    -19.65
BRBI11    12.01
BRFS3     21.59
BRGE11      NaN
BRGE12      NaN
BRGE3       NaN
BRGE6       NaN
BRGE7       NaN
BRIT3     -4.93
BRIV3       NaN
BRIV4      3.23
BRKM3     17.53
BRKM5     18.96
BRKM6       NaN
BRPR3     -4.19
BRSR3      9.60
BRSR5       NaN
BRSR6     12.20
BSLI3     12.98
BSLI4       NaN
CALI3       NaN
CAMB3     12.69
CAML3     -1.28
CASH3     -8.51
CASN3       NaN
CBAV3    -13.36
CBEE3       NaN
CCRO3      4.23
CEAB3     45.70
CEBR3     -6.45
CEBR5     -4.96
CEBR6    -10.28
CEDO3       NaN
CEDO4    116.92
CEEB3       NaN
CEEB5       NaN
CGAS3       NaN
CGAS5      0.62
CGRA3       NaN
CGRA4     -1.83
CIEL3     -5.14
CLSA3      4.70
CLSC3       NaN
CLSC4      4.94
CMIG3     -8.14
CMIG4     -3.77
CMIN3     -4.03
COCE3       NaN
COCE5      7.22
COGN3     34.34
CPFE3     -4.74
CPLE11    -1.81
CPLE3     -1.47
CPLE5       NaN
CPLE6     -1.82
CRDE3       NaN
CRFB3    -11.37
CRIV3       NaN
CRIV4       NaN
CRPG5     15.62
CRPG6       NaN
CSAB3       NaN
CSAB4       NaN
CSAN3     -0.57
CSED3     34.21
CSMG3     18.87
CSNA3    -15.71
CSRN3    -10.54
CSRN5       NaN
CSRN6       NaN
CSUD3     16.88
CTKA4     56.68
CTNM3       NaN
CTNM4    137.82
CTSA3    175.69
CTSA4     99.02
CURY3      4.28
CVCB3     -8.17
CXSE3      2.77
CYRE3     14.34
DASA3     37.91
DESK3     15.95
DEXP3     17.11
DEXP4       NaN
DIRR3      4.04
DMVF3     16.96
DOHL3       NaN
DOHL4     39.71
DOTZ3      3.70
DTCY3       NaN
DXCO3     35.74
EALT3       NaN
EALT4     -2.74
ECOR3      8.43
EGIE3      3.05
EKTR3       NaN
EKTR4       NaN
ELET3      1.86
ELET5       NaN
ELET6      1.91
ELMD3     -1.61
EMAE4     29.81
EMBR3    -15.54
ENAT3      7.40
ENBR3      1.93
ENEV3      4.03
ENGI11     3.32
ENGI3     -0.94
ENGI4      5.48
ENJU3     12.24
ENMT3       NaN
ENMT4       NaN
EPAR3       NaN
EQMA3B    -6.30
EQPA3      0.65
EQPA7       NaN
EQTL3      2.43
ESPA3     21.49
ESTR3       NaN
ESTR4       NaN
ETER3     10.53
EUCA3     33.44
EUCA4     11.11
EVEN3     20.83
EZTC3     11.48
FESA3       NaN
FESA4     -2.45
FHER3      8.26
FIQE3      0.56
FLRY3     13.51
FRAS3     29.66
FRIO3       NaN
FRTA3     11.87
GEPA3       NaN
GEPA4      0.69
GFSA3     -8.74
GGBR3     -6.04
GGBR4     -6.10
GGPS3     14.91
GMAT3     22.30
GOAU3     -6.08
GOAU4     -6.62
GOLL4     10.30
GRND3     -8.26
GSHP3       NaN
GUAR3     -3.35
HAGA3     -3.06
HAGA4      0.00
HAPV3     47.92
HBOR3     13.36
HBRE3     10.84
HBSA3     14.40
HBTS5       NaN
HETA4       NaN
HOOT4     58.88
HYPE3      4.58
IBOV11      NaN
IFCM3    -22.01
IGBR3     17.32
IGTI11     9.82
IGTI3      3.21
IGTI4       NaN
INEP3     -5.66
INEP4     -2.50
INTB3      6.76
IRBR3     39.75
ITSA3      2.99
ITSA4      3.13
ITUB3      2.19
ITUB4      1.85
JALL3     18.74
JBSS3     -6.81
JFEN3     -5.20
JHSF3      9.07
JOPA3       NaN
JOPA4       NaN
JSLG3      6.12
KEPL3     -8.35
KLBN11    13.36
KLBN3     14.89
KLBN4     12.80
KRSA3     -1.96
LAND3     -6.93
LAVV3     14.47
LEVE3     29.23
LIGT3    116.43
LIPR3       NaN
LJQQ3      6.50
LOGG3     24.21
LOGN3     25.36
LPSB3     40.52
LREN3     14.58
LUPA3    -15.93
LUXM4       NaN
LVTC3    -11.00
LWSA3     36.55
MATD3     12.70
MBLY3     21.99
MDIA3     45.88
MDNE3     15.45
MEAL3     -1.90
MEGA3      9.72
MELK3      8.38
MERC4       NaN
MGEL4      5.15
MGLU3      2.54
MILS3     13.00
MLAS3     14.43
MNDL3      3.58
MNPR3      9.89
MOAR3       NaN
MODL3     25.79
MOVI3     29.00
MRFG3      1.10
MRSA6B      NaN
MRVE3     26.56
MSPA4       NaN
MTRE3     35.11
MTSA4     -1.86
MULT3      2.83
MWET3       NaN
MWET4     -7.45
MYPK3      3.67
NEOE3      4.74
NEXP3     11.68
NGRD3      0.71
NINJ3     18.43
NORD3       NaN
NTCO3     22.16
NUTR3       NaN
ODER4       NaN
ODPV3      9.01
OFSA3     -2.91
OIBR3     -5.50
OIBR4     -1.62
ONCO3     25.03
OPCT3     38.89
ORVR3     -1.66
OSXB3    -12.90
PARD3       NaN
PATI3       NaN
PATI4       NaN
PCAR3     11.30
PDGR3     66.87
PDTC3      8.92
PEAB3      2.80
PEAB4       NaN
PETR3     -3.06
PETR4     -2.70
PETZ3     21.56
PFRM3      4.13
PGMN3      5.37
PINE4     63.75
PLAS3       NaN
PLPL3      2.83
PMAM3     19.47
PNVL3     14.70
POMO3     31.90
POMO4     34.58
PORT3      4.10
POSI3    -18.51
PRIO3      1.84
PRNR3      2.44
PSSA3     -4.49
PTBL3      0.00
PTNT3       NaN
PTNT4     21.50
QUAL3     14.62
RADL3     10.28
RAIL3      5.76
RAIZ4      9.75
RANI3      0.35
RAPT3     19.84
RAPT4     30.90
RCSL3    -59.68
RCSL4    -27.78
RDNI3     -2.77
RDOR3     25.60
RECV3    -14.49
REDE3      8.70
RENT3     10.22
RNEW11    -6.65
RNEW3     -6.75
RNEW4     -8.93
ROMI3      4.48
RPAD3       NaN
RPAD5       NaN
RPAD6       NaN
RPMG3     20.50
RRRP3     18.05
RSID3      3.38
RSUL4     -7.19
SANB11     8.58
SANB3      8.51
SANB4      8.12
SAPR11    10.64
SAPR3     11.51
SAPR4      9.79
SBFG3     18.21
SBSP3      5.19
SCAR3     13.99
SEER3     20.56
SEQL3    -18.54
SGPS3     70.13
SHOW3      6.71
SHUL4     30.84
SIMH3      9.99
SLCE3    -23.19
SLED3      4.11
SLED4    -13.39
SMFT3     15.15
SMTO3     30.14
SNSY3       NaN
SNSY5     -0.78
SOJA3     -3.71
SOMA3     17.12
SOND5       NaN
SQIA3     14.54
STBP3     13.84
SUZB3      8.31
SYNE3      7.99
TAEE11     6.32
TAEE3      6.34
TAEE4      6.44
TASA3    -13.43
TASA4    -14.41
TCSA3      3.81
TECN3     -0.99
TEKA4       NaN
TELB3       NaN
TELB4     52.84
TEND3     26.97
TFCO4      0.88
TGMA3     11.57
TIMS3      3.12
TKNO4       NaN
TOTS3      6.65
TPIS3    273.56
TRAD3     -2.08
TRIS3     25.94
TRPL3      2.25
TRPL4     10.52
TTEN3      6.24
TUPY3      5.45
TXRX4     -3.00
UCAS3      3.35
UGPA3     19.62
UNIP3     -1.20
UNIP5       NaN
UNIP6     -1.40
USIM3     -9.61
USIM5     -2.89
USIM6       NaN
VALE3    -17.18
VAMO3     -6.09
VBBR3     27.87
VIIA3     13.47
VITT3     -3.33
VIVA3     12.56
VIVR3     -2.78
VIVT3      0.96
VLID3     27.85
VSTE3      6.31
VULC3     22.33
VVEO3      3.64
WEGE3      1.40
WEST3     -2.63
WHRL3     -0.23
WHRL4     -0.67
WIZC3     -0.68
WLMM3       NaN
WLMM4     14.02
YDUQ3     68.81
ZAMP3      0.49
Name: pcPeriodo, dtype: float64

In [31]:
df_temp = monta_lucro_periodo(df, 25, 0, True)
# monta_lucro_periodo(df, 25, 0)

2023-04-18 >> 2023-05-24

In [32]:
df_temp

         dtInicio dtFim  vrInicio  vrFim  pcPeriodo           avgVol  posicao
cdAcao
ABCB4  2023-04-18   NaT     16.62    NaN        NaN    15,237,182.67        1
ABEV3  2023-04-18   NaT     14.63    NaN        NaN   346,719,793.62        2
AESB3  2023-04-18   NaT     10.51    NaN        NaN    41,987,835.17        3
AGRO3  2023-04-18   NaT     25.00    NaN        NaN     9,469,372.79        4
ALPA4  2023-04-18   NaT      7.24    NaN        NaN    92,860,651.58        5
ALSO3  2023-04-18   NaT     18.34    NaN        NaN   105,951,885.71        6
ALUP11 2023-04-18   NaT     26.84    NaN        NaN    30,414,469.17        7
AMBP3  2023-04-18   NaT     21.91    NaN        NaN    28,810,755.33        8
ARML3  2023-04-18   NaT     12.31    NaN        NaN     6,431,435.71        9
ARZZ3  2023-04-18   NaT     67.17    NaN        NaN   129,388,787.92       10
ASAI3  2023-04-18   NaT     13.16    NaN        NaN   220,586,252.46       11
AURE3  2023-04-18   NaT     15.28    NaN        NaN    66,503,270.83       12
AZUL4  2023-04-18   NaT     11.12    NaN        NaN   198,119,137.42       13
B3SA3  2023-04-18   NaT     11.89    NaN        NaN   487,653,335.83       14
BBAS3  2023-04-18   NaT     43.61    NaN        NaN   508,575,429.54       15
BBDC3  2023-04-18   NaT     12.32    NaN        NaN    78,748,098.04       16
BBDC4  2023-04-18   NaT     13.64    NaN        NaN   775,583,533.00       17
BBSE3  2023-04-18   NaT     34.61    NaN        NaN   192,142,296.04       18
BEEF3  2023-04-18   NaT      9.11    NaN        NaN   124,786,428.92       19
BLAU3  2023-04-18   NaT     22.33    NaN        NaN     9,401,008.42       20
BOAS3  2023-04-18   NaT      7.62    NaN        NaN     6,303,408.33       21
BPAC11 2023-04-18   NaT     23.14    NaN        NaN   244,932,392.33       22
BPAN4  2023-04-18   NaT      5.32    NaN        NaN    16,071,202.00       23
BRAP4  2023-04-18   NaT     26.72    NaN        NaN    90,886,999.75       24
BRFS3  2023-04-18   NaT      6.02    NaN        NaN   143,567,599.21       25
BRKM5  2023-04-18   NaT     19.94    NaN        NaN   143,756,370.58       26
BRSR6  2023-04-18   NaT     10.41    NaN        NaN    17,185,963.04       27
CAML3  2023-04-18   NaT      7.03    NaN        NaN    13,732,489.08       28
CBAV3  2023-04-18   NaT      5.99    NaN        NaN    21,694,790.21       29
CCRO3  2023-04-18   NaT     13.00    NaN        NaN   131,865,699.62       30
CIEL3  2023-04-18   NaT      5.25    NaN        NaN   176,529,734.88       31
CMIG3  2023-04-18   NaT     19.53    NaN        NaN     6,780,002.92       32
CMIG4  2023-04-18   NaT     12.47    NaN        NaN   120,081,588.71       33
CPFE3  2023-04-18   NaT     33.33    NaN        NaN    70,728,468.83       34
CPLE11 2023-04-18   NaT     37.55    NaN        NaN     7,826,233.42       35
CPLE3  2023-04-18   NaT      6.82    NaN        NaN     7,567,340.17       36
CPLE6  2023-04-18   NaT      7.68    NaN        NaN   106,324,468.29       37
CRFB3  2023-04-18   NaT     10.99    NaN        NaN   128,207,825.75       38
CSAN3  2023-04-18   NaT     15.72    NaN        NaN   152,939,319.33       39
CSMG3  2023-04-18   NaT     16.59    NaN        NaN    37,315,534.83       40
CSNA3  2023-04-18   NaT     14.96    NaN        NaN   100,062,625.21       41
CURY3  2023-04-18   NaT     12.37    NaN        NaN    26,589,945.00       42
CXSE3  2023-04-18   NaT      9.73    NaN        NaN    27,641,745.08       43
CYRE3  2023-04-18   NaT     15.41    NaN        NaN    83,347,257.38       44
DASA3  2023-04-18   NaT      8.02    NaN        NaN     7,161,076.17       45
DIRR3  2023-04-18   NaT     16.32    NaN        NaN    40,037,834.50       46
DXCO3  2023-04-18   NaT      5.82    NaN        NaN    36,343,169.46       47
ECOR3  2023-04-18   NaT      6.05    NaN        NaN    41,576,562.71       48
EGIE3  2023-04-18   NaT     41.02    NaN        NaN    80,488,676.75       49
ELET3  2023-04-18   NaT     34.44    NaN        NaN   496,785,839.17       50
ELET6  2023-04-18   NaT     38.16    NaN        NaN   140,607,243.75       51
EMBR3  2023-04-18   NaT     20.59    NaN        NaN   194,630,632.79       52
ENAT3  2023-04-18   NaT     12.02    NaN        NaN    21,268,811.04       53
ENBR3  2023-04-18   NaT     22.33    NaN        NaN    46,861,502.46       54
ENEV3  2023-04-18   NaT     11.16    NaN        NaN    88,184,466.38       55
ENGI11 2023-04-18   NaT     42.46    NaN        NaN   162,456,346.75       56
EQTL3  2023-04-18   NaT     28.04    NaN        NaN   224,453,538.04       57
EZTC3  2023-04-18   NaT     14.72    NaN        NaN    43,349,522.46       58
FESA4  2023-04-18   NaT     51.94    NaN        NaN    11,835,622.58       59
FLRY3  2023-04-18   NaT     14.43    NaN        NaN    55,413,591.88       60
GFSA3  2023-04-18   NaT      5.72    NaN        NaN    10,937,220.88       61
GGBR4  2023-04-18   NaT     26.05    NaN        NaN   254,268,937.12       62
GGPS3  2023-04-18   NaT     12.68    NaN        NaN    26,933,626.42       63
GMAT3  2023-04-18   NaT      5.38    NaN        NaN    42,456,138.12       64
GOAU4  2023-04-18   NaT     12.09    NaN        NaN    93,981,736.75       65
GOLL4  2023-04-18   NaT      6.89    NaN        NaN    90,771,742.21       66
GRND3  2023-04-18   NaT      7.63    NaN        NaN    26,291,761.67       67
HYPE3  2023-04-18   NaT     37.55    NaN        NaN   127,999,491.96       68
IBOV11        NaT   NaT       NaN    NaN        NaN 6,754,178,880.00       69
IGTI11 2023-04-18   NaT     20.06    NaN        NaN    72,628,661.62       70
INTB3  2023-04-18   NaT     24.57    NaN        NaN    33,114,420.00       71
IRBR3  2023-04-18   NaT     25.08    NaN        NaN   117,173,885.96       72
ITSA4  2023-04-18   NaT      8.63    NaN        NaN   191,335,228.12       73
ITUB3  2023-04-18   NaT     21.94    NaN        NaN    13,151,543.42       74
ITUB4  2023-04-18   NaT     25.94    NaN        NaN   757,964,611.58       75
JALL3  2023-04-18   NaT      6.83    NaN        NaN     6,506,435.67       76
JBSS3  2023-04-18   NaT     17.33    NaN        NaN   233,580,860.96       77
KEPL3  2023-04-18   NaT      8.62    NaN        NaN    16,360,105.25       78
KLBN11 2023-04-18   NaT     18.79    NaN        NaN   141,202,621.04       79
LEVE3  2023-04-18   NaT     30.35    NaN        NaN    13,838,729.71       80
LOGG3  2023-04-18   NaT     16.48    NaN        NaN     7,071,914.96       81
LREN3  2023-04-18   NaT     16.05    NaN        NaN   412,571,427.92       82
LWSA3  2023-04-18   NaT      5.39    NaN        NaN    58,266,617.33       83
MDIA3  2023-04-18   NaT     26.46    NaN        NaN    50,962,776.04       84
MEGA3  2023-04-18   NaT      8.54    NaN        NaN    15,507,384.21       85
MILS3  2023-04-18   NaT      9.46    NaN        NaN    10,092,431.29       86
MOVI3  2023-04-18   NaT      8.31    NaN        NaN    42,574,474.88       87
MRFG3  2023-04-18   NaT      6.36    NaN        NaN    70,730,568.38       88
MRVE3  2023-04-18   NaT      7.19    NaN        NaN   114,495,590.29       89
MULT3  2023-04-18   NaT     25.77    NaN        NaN   114,402,505.46       90
MYPK3  2023-04-18   NaT     11.72    NaN        NaN    21,982,607.83       91
NEOE3  2023-04-18   NaT     14.99    NaN        NaN    34,649,244.46       92
NTCO3  2023-04-18   NaT     10.92    NaN        NaN   209,309,986.71       93
ODPV3  2023-04-18   NaT     10.43    NaN        NaN    27,680,442.75       94
ONCO3  2023-04-18   NaT      8.67    NaN        NaN    16,871,507.38       95
ORVR3  2023-04-18   NaT     36.19    NaN        NaN    22,604,769.92       96
PARD3  2023-04-18   NaT     20.07    NaN        NaN    11,059,414.50       97
PCAR3  2023-04-18   NaT     14.87    NaN        NaN    48,556,321.04       98
PETR3  2023-04-18   NaT     30.71    NaN        NaN   486,692,861.38       99
PETR4  2023-04-18   NaT     27.39    NaN        NaN 1,854,768,982.25      100
PETZ3  2023-04-18   NaT      6.17    NaN        NaN    79,899,704.12      101
POSI3  2023-04-18   NaT      8.05    NaN        NaN    27,063,236.08      102
PRIO3  2023-04-18   NaT     35.30    NaN        NaN   392,086,330.25      103
PSSA3  2023-04-18   NaT     24.29    NaN        NaN    71,003,655.62      104
PTBL3  2023-04-18   NaT      6.20    NaN        NaN     6,761,689.62      105
RADL3  2023-04-18   NaT     25.68    NaN        NaN   150,614,922.12      106
RAIL3  2023-04-18   NaT     19.62    NaN        NaN   207,130,384.21      107
RANI3  2023-04-18   NaT      8.59    NaN        NaN     8,804,600.08      108
RAPT4  2023-04-18   NaT      7.93    NaN        NaN    26,299,678.46      109
RDOR3  2023-04-18   NaT     22.77    NaN        NaN   137,175,734.21      110
RECV3  2023-04-18   NaT     20.71    NaN        NaN    51,054,502.08      111
RENT3  2023-04-18   NaT     56.87    NaN        NaN   409,319,627.71      112
ROMI3  2023-04-18   NaT     14.94    NaN        NaN     8,828,685.46      113
RRRP3  2023-04-18   NaT     27.15    NaN        NaN   275,373,474.58      114
SANB11 2023-04-18   NaT     27.15    NaN        NaN    46,071,151.79      115
SAPR11 2023-04-18   NaT     18.79    NaN        NaN    23,626,464.92      116
SBFG3  2023-04-18   NaT      7.69    NaN        NaN    18,680,030.83      117
SBSP3  2023-04-18   NaT     47.56    NaN        NaN   170,366,096.67      118
SIMH3  2023-04-18   NaT      7.81    NaN        NaN    31,376,610.46      119
SLCE3  2023-04-18   NaT     45.36    NaN        NaN    69,745,968.71      120
SMFT3  2023-04-18   NaT     14.65    NaN        NaN    44,984,449.46      121
SMTO3  2023-04-18   NaT     27.64    NaN        NaN    81,832,407.12      122
SOMA3  2023-04-18   NaT      8.06    NaN        NaN   108,968,444.29      123
SQIA3  2023-04-18   NaT     16.16    NaN        NaN    15,213,886.54      124
STBP3  2023-04-18   NaT      8.60    NaN        NaN    39,572,869.71      125
SUZB3  2023-04-18   NaT     41.17    NaN        NaN   362,624,100.21      126
TAEE11 2023-04-18   NaT     35.11    NaN        NaN    92,485,729.04      127
TASA4  2023-04-18   NaT     16.86    NaN        NaN    12,812,302.12      128
TEND3  2023-04-18   NaT      5.71    NaN        NaN    30,379,243.59      129
TIMS3  2023-04-18   NaT     13.77    NaN        NaN   100,446,540.54      130
TOTS3  2023-04-18   NaT     26.45    NaN        NaN   131,054,752.29      131
TRPL4  2023-04-18   NaT     22.33    NaN        NaN    46,509,769.33      132
TTEN3  2023-04-18   NaT     11.38    NaN        NaN    15,210,522.54      133
TUPY3  2023-04-18   NaT     23.50    NaN        NaN    21,272,853.58      134
UGPA3  2023-04-18   NaT     14.58    NaN        NaN   146,788,126.33      135
UNIP6  2023-04-18   NaT     69.89    NaN        NaN    19,663,067.67      136
USIM5  2023-04-18   NaT      7.61    NaN        NaN    90,220,313.38      137
VALE3  2023-04-18   NaT     78.54    NaN        NaN 1,919,716,103.50      138
VAMO3  2023-04-18   NaT     13.29    NaN        NaN    75,494,960.58      139
VBBR3  2023-04-18   NaT     13.42    NaN        NaN   220,389,808.92      140
VIVA3  2023-04-18   NaT     21.10    NaN        NaN    54,412,936.54      141
VIVT3  2023-04-18   NaT     40.83    NaN        NaN    79,100,425.71      142
VULC3  2023-04-18   NaT     12.27    NaN        NaN     9,412,128.08      143
WEGE3  2023-04-18   NaT     39.27    NaN        NaN   251,374,785.38      144
YDUQ3  2023-04-18   NaT      7.92    NaN        NaN    63,392,846.21      145

In [33]:
df_n_dias = busca_periodos(df, 26)

dias_ant = 2
i = 0
while i <= dias_ant:
    dt_max  = df_n_dias["dtPregao"].max()
    df_n_dias = df_n_dias.loc[df_n_dias["dtPregao"] != dt_max]
    i += 1
    
dt_max

Timestamp('2023-05-22 00:00:00')

In [34]:
### 25 dias, Order by 0.5% # df05.loc[(df05["AvgVol"] > 6000000) & (df05["0.5%"] >= 23) & (df05["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)
### 20 dias, Order by 0.5% # df05_20d.loc[(df05_20d["AvgVol"] > 6000000) & (df05_20d["0.5%"] >= 19) & (df05_20d["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)
### 15 dias, Order by 0.5% # df05_15d.loc[(df05_15d["AvgVol"] > 6000000) & (df05_15d["0.5%"] >= 15) & (df05_15d["AvgVrFech"] > 5)].sort_values(["0.5%", "1.0%", "1.5%", "2.0%"], ascending=False)

## Definindo valores para compra

In [35]:
# Valor disponível para cmp / 1000
# Valor da ação no leilão
vr_corretagem = 9.8
emolumentos = 0.000325
acao = 'LIGT3'
vr_disp = 110
vr_acao_leilao = 1148 / 100
vr_qtd = round((vr_disp * 1000) / (vr_acao_leilao * 100)) * 100

In [36]:
vr_cmp = round(vr_acao_leilao * 1.014, 2)

vr_tot_cmp = vr_acao_leilao * vr_qtd
corret_cmp = vr_corretagem + (vr_tot_cmp * emolumentos)
vr_tot_liq_cmp = vr_tot_cmp + corret_cmp

vr_acao_vnd_10 = float('{0:.2f}'.format(vr_acao_leilao * 1.0108 + 0.01))
vr_tot_vnd_10 = vr_acao_vnd_10 * vr_qtd
corret_vnd_10 = vr_corretagem + (vr_tot_vnd_10 * emolumentos)
vr_tot_liq_vnd_10 = vr_tot_vnd_10 - corret_vnd_10

vr_acao_vnd_15 = float('{0:.2f}'.format(vr_acao_leilao * 1.0158 + 0.01))
vr_tot_vnd_15 = vr_acao_vnd_15 * vr_qtd
corret_vnd_15 = vr_corretagem + (vr_tot_vnd_15 * emolumentos)
vr_tot_liq_vnd_15 = vr_tot_vnd_15 - corret_vnd_15

In [37]:
d = {'Compra':     ['Quantidade', 'Valor Leilão', 'Total', 'Total líquido', 'Corretagem Compra'],
     ' ':          [vr_qtd, vr_acao_leilao, vr_tot_cmp, vr_tot_liq_cmp, corret_cmp],
     'Venda 1,0%': ['Valor compra', 'Valor', 'Total', 'Total líquido', 'Corretagem Venda'],
     '1,0%':       [vr_cmp, vr_acao_vnd_10, vr_tot_vnd_10, vr_tot_liq_vnd_10, corret_vnd_10],
     'Venda 1,5%': [' ', 'Valor', 'Total', 'Total líquido', 'Corretagem Venda'],
     '1,5%':       [' ', vr_acao_vnd_15, vr_tot_vnd_15, vr_tot_liq_vnd_15, corret_vnd_15]
    }
df_calc = pd.DataFrame(data=d)
df_calc

,Compra,,"Venda 1,0%","1,0%","Venda 1,5%","1,5%"
0,Quantidade,"9,600.00",Valor compra,11.64,,
1,Valor Leilão,11.48,Valor,11.61,Valor,11.67
2,Total,"110,208.00",Total,"111,456.00",Total,"112,032.00"
3,Total líquido,"110,253.62",Total líquido,"111,409.98",Total líquido,"111,985.79"
4,Corretagem Compra,45.62,Corretagem Venda,46.02,Corretagem Venda,46.21

In [38]:
d2 = {'Index':      ['Quantidade', 'Valor', 'Total', 'Total líquido', 'Corretagem'],
      'Compra':     [vr_qtd, vr_cmp, vr_tot_cmp, vr_tot_liq_cmp, corret_cmp],
      'Venda 1.0%': [vr_qtd, vr_acao_vnd_10, vr_tot_vnd_10, vr_tot_liq_vnd_10, corret_vnd_10],
      'Venda 1.5%': [vr_qtd, vr_acao_vnd_15, vr_tot_vnd_15, vr_tot_liq_vnd_15, corret_vnd_15]
     }
df_calc2 = pd.DataFrame(data=d2)
df_calc2.set_index('Index')
df_calc2

           Index     Compra  Venda 1.0%  Venda 1.5%
0     Quantidade   9,600.00    9,600.00    9,600.00
1          Valor      11.64       11.61       11.67
2          Total 110,208.00  111,456.00  112,032.00
3  Total líquido 110,253.62  111,409.98  111,985.79
4     Corretagem      45.62       46.02       46.21

In [39]:
time.asctime( time.localtime(time.time()) )

'Thu May 25 15:47:34 2023'